/*
 * SPDX-FileCopyrightText: 2020 (c) Carl Schwan <carl@carlschwan.eu>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

/**
 * Used for kde.org/applications
 */
/* Application pages */

@import "../../node_modules/swiper/css/swiper.css";

h1 a:after {
    margin: 0px 5px;
    color: #6F8181;
    content: ">";
    font-family: "glyph";
    font-size: 60%;
    vertical-align: middle;
}

.app-icon {
    float: left;
}

.app-screenshot {
    clear: left;
    text-align: center;
}

.infobox:not(:first-child) {
    padding-top: 15px;
}

#infobox-return img, .header-image {
    margin: 0 5px 0 0 !important;
    padding: 0 !important;
    border: 0 !important;
    background-image: none !important;
}

.app-category, .international-site {
    display: table-cell;
    float: left;
    max-width: 240px;
    width: 240px;
    height: 60px;
    max-height: 60px !important;
    text-align: left;
}

.app-category img, .international-site img {
    margin: 0 10px 0 0 !important;
    float: left;
}

.app-category a, .international-site a {
    font-size: 12pt;
    font-weight: 700;
    text-decoration: none;
}

.app-screenshot {
    max-width: 100%;
}

.international-site {
    height: auto !important;
}

.sidebar {
    color: #444;
    float: right;
    min-height: 200px;
    padding: 15px;
    border-left: 1px solid #CCC;
    font-size: 10pt;
    text-align: left;
    margin-top: -10px;
}

.application-header {
    background-color: rgba(61, 174, 233, 0.1);
}

.application-header h1 {
    margin-top: 5px;
}

.border-top {
    border-top: 1px solid #CCC;
    padding-top: 10px;
}

@media (max-width: 768px) {
    .sidebar {
        border-left: 0 solid black;
        border-top: 1px solid #CCC;
    }
}