<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">SHA1&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.5/src/kdeaccessibility-4.4.5.tar.bz2">kdeaccessibility-4.4.5</a></td><td align="right">5.4MB</td><td><tt>10fa80f91a5e41bdcc190370d41c7e0f4355741b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.5/src/kdeadmin-4.4.5.tar.bz2">kdeadmin-4.4.5</a></td><td align="right">1.4MB</td><td><tt>b9d80b5db7dbcd00503688a02facce81f2fc0442</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.5/src/kdeartwork-4.4.5.tar.bz2">kdeartwork-4.4.5</a></td><td align="right">68MB</td><td><tt>1b0eb93247b4ad199c6090628cc6b903bc954af6</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.5/src/kdebase-4.4.5.tar.bz2">kdebase-4.4.5</a></td><td align="right">3.9MB</td><td><tt>c14f6da09f0d1624189c69ccc200c70f2763dcbc</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.5/src/kdebase-runtime-4.4.5.tar.bz2">kdebase-runtime-4.4.5</a></td><td align="right">7.0MB</td><td><tt>93c58fbef37cdf0c9c6b37c773f8cde054fae51f</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.5/src/kdebase-workspace-4.4.5.tar.bz2">kdebase-workspace-4.4.5</a></td><td align="right">74MB</td><td><tt>d0defe431a760503f8fbb9ee2413b666b3c84cd7</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.5/src/kdebindings-4.4.5.tar.bz2">kdebindings-4.4.5</a></td><td align="right">4.9MB</td><td><tt>2f041c5b050da879e8f5d09f668b56881f9f1bb2</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.5/src/kdeedu-4.4.5.tar.bz2">kdeedu-4.4.5</a></td><td align="right">58MB</td><td><tt>7b84fa9dd9e91e117df5dc1af19bcd212cac707a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.5/src/kdegames-4.4.5.tar.bz2">kdegames-4.4.5</a></td><td align="right">67MB</td><td><tt>2e0d86c3bf668f4e1fdb2b0da74545f442799700</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.5/src/kdegraphics-4.4.5.tar.bz2">kdegraphics-4.4.5</a></td><td align="right">3.7MB</td><td><tt>9d878e917de53a0b70df7d1d9d9c57f771e4be72</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.5/src/kdelibs-4.4.5.tar.bz2">kdelibs-4.4.5</a></td><td align="right">14MB</td><td><tt>73e37abee48536b85782d1a17f1b282313b16c4d</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.5/src/kdemultimedia-4.4.5.tar.bz2">kdemultimedia-4.4.5</a></td><td align="right">1.5MB</td><td><tt>5d0e87d317fc8c4424a3b0cefe2f2f18c53f7038</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.5/src/kdenetwork-4.4.5.tar.bz2">kdenetwork-4.4.5</a></td><td align="right">8.0MB</td><td><tt>5f321ce932d6b1fadf1935e527bd1848c317be7a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.5/src/kdepim-4.4.5.tar.bz2">kdepim-4.4.5</a></td><td align="right">9.0MB</td><td><tt>84f6367e38948d3595a9f87ae384b41f9f295add</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.5/src/kdepimlibs-4.4.5.tar.bz2">kdepimlibs-4.4.5</a></td><td align="right">2.4MB</td><td><tt>bc4d9a478f80e013ac39710f963ee68961d5f369</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.5/src/kdepim-runtime-4.4.5.tar.bz2">kdepim-runtime-4.4.5</a></td><td align="right">620KB</td><td><tt>178e138336f6983c0c1a49d7b40f791bb09042c9</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.5/src/kdeplasma-addons-4.4.5.tar.bz2">kdeplasma-addons-4.4.5</a></td><td align="right">1.6MB</td><td><tt>2b17460fe0c559f6c575a7ccd72357bcc82826d6</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.5/src/kdesdk-4.4.5.tar.bz2">kdesdk-4.4.5</a></td><td align="right">5.4MB</td><td><tt>f1e0bebde061d7eec994820f1c77d697efaca024</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.5/src/kdetoys-4.4.5.tar.bz2">kdetoys-4.4.5</a></td><td align="right">1.3MB</td><td><tt>8e2fd33aece823f61e78e11450ea203a4d60aef5</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.5/src/kdeutils-4.4.5.tar.bz2">kdeutils-4.4.5</a></td><td align="right">2.6MB</td><td><tt>c092cfbb46719d89a5718735dc81ca75c0176e45</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.5/src/kdewebdev-4.4.5.tar.bz2">kdewebdev-4.4.5</a></td><td align="right">2.1MB</td><td><tt>8e2693ba56b24e214a0a4ca0e1fa28ffac720ea4</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.5/src/oxygen-icons-4.4.5.tar.bz2">oxygen-icons-4.4.5</a></td><td align="right">132MB</td><td><tt>aac74fa4c1b54b7a95ce2e6538e30f958dcb1c20</tt></td></tr>
</table>
