<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA1 Sum</th>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/analitza-4.8.90.tar.xz">analitza-4.8.90</a></td>
   <td align="right">138kB</td>
   <td><tt>00e7837542caa3992c84b658fcf368f45faefb82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/ark-4.8.90.tar.xz">ark-4.8.90</a></td>
   <td align="right">149kB</td>
   <td><tt>18f61aab177cf673ba8e5cad09f347b58408ff70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/audiocd-kio-4.8.90.tar.xz">audiocd-kio-4.8.90</a></td>
   <td align="right">52kB</td>
   <td><tt>b7dd0abfd6ffa1c6a9fb6d7b2c2078233a02ae91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/blinken-4.8.90.tar.xz">blinken-4.8.90</a></td>
   <td align="right">551kB</td>
   <td><tt>0300defb0b5c40743b4a1e4b4fc29cd5699d0ea2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/cantor-4.8.90.tar.xz">cantor-4.8.90</a></td>
   <td align="right">256kB</td>
   <td><tt>3041a98d5dc52ec230acb79e551909b238be0ed8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/dragon-4.8.90.tar.xz">dragon-4.8.90</a></td>
   <td align="right">381kB</td>
   <td><tt>61b9172249b91d9c18ed310a71c655f38ef23cd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/ffmpegthumbs-4.8.90.tar.xz">ffmpegthumbs-4.8.90</a></td>
   <td align="right">19kB</td>
   <td><tt>5497a89e9e3a8be5376e644fc42500e43b3e4e52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/filelight-4.8.90.tar.xz">filelight-4.8.90</a></td>
   <td align="right">286kB</td>
   <td><tt>ac9515f2c06fb05b37b427f7d787f866e0a94b62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/gwenview-4.8.90.tar.xz">gwenview-4.8.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>4293bcd53bbee643c40f703a408edf11ca2117ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/jovie-4.8.90.tar.xz">jovie-4.8.90</a></td>
   <td align="right">357kB</td>
   <td><tt>258b72ea71d929338bb08bea2e13af7a8e12a785</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/juk-4.8.90.tar.xz">juk-4.8.90</a></td>
   <td align="right">428kB</td>
   <td><tt>429a6ebd1da1c14c16ce0880372a693cc323a900</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kaccessible-4.8.90.tar.xz">kaccessible-4.8.90</a></td>
   <td align="right">19kB</td>
   <td><tt>f36478bf6797393c1f6435bf99a91f1f241b75be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kactivities-4.8.90.tar.xz">kactivities-4.8.90</a></td>
   <td align="right">79kB</td>
   <td><tt>beebf59b956193728a384e28b9e786e331c6690b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kalgebra-4.8.90.tar.xz">kalgebra-4.8.90</a></td>
   <td align="right">428kB</td>
   <td><tt>8fb15608fef46f24509aa95a74f4f372f41d95da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kalzium-4.8.90.tar.xz">kalzium-4.8.90</a></td>
   <td align="right">3.4MB</td>
   <td><tt>5a8a5f56135f05fcc2ff2ffff44f07a7eee9a14f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kamera-4.8.90.tar.xz">kamera-4.8.90</a></td>
   <td align="right">35kB</td>
   <td><tt>6eded29e81bb3d1ae25edee1e253b8bb998b360b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kanagram-4.8.90.tar.xz">kanagram-4.8.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>a45c3c4f451690ada065e894380518499e9f4622</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kate-4.8.90.tar.xz">kate-4.8.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>b5576e83dafe412cb32e6dcecf8c0043f1046914</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kbruch-4.8.90.tar.xz">kbruch-4.8.90</a></td>
   <td align="right">883kB</td>
   <td><tt>0e66c345237d05146d319c8878589650afcd8ac0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kcalc-4.8.90.tar.xz">kcalc-4.8.90</a></td>
   <td align="right">84kB</td>
   <td><tt>1cd17605bcf2cb0c23084a9f28d2ba27f299ba81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kcharselect-4.8.90.tar.xz">kcharselect-4.8.90</a></td>
   <td align="right">83kB</td>
   <td><tt>e2690579109647fdb80d7ef49097d42da2138af7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kcolorchooser-4.8.90.tar.xz">kcolorchooser-4.8.90</a></td>
   <td align="right">4kB</td>
   <td><tt>6db1c2fe514dcf7da47beb7d91ca6c5fde8d19df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kdeadmin-4.8.90.tar.xz">kdeadmin-4.8.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>9bcd5293faa72029d348cc24acf9811046790a85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kdeartwork-4.8.90.tar.xz">kdeartwork-4.8.90</a></td>
   <td align="right">132MB</td>
   <td><tt>02898df40e89b4f4fb44317a02b693e420856c18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-baseapps-4.8.90.tar.xz">kde-baseapps-4.8.90</a></td>
   <td align="right">2.3MB</td>
   <td><tt>010525738f73f79aa333cc359214f357676708f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-base-artwork-4.8.90.tar.xz">kde-base-artwork-4.8.90</a></td>
   <td align="right">15MB</td>
   <td><tt>de44e0d2d32c35ab46015163fc9340bb0907fee4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kdegames-4.8.90.tar.xz">kdegames-4.8.90</a></td>
   <td align="right">53MB</td>
   <td><tt>03a6ec16baec721264181b662dc108975cb9abf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kdegraphics-mobipocket-4.8.90.tar.xz">kdegraphics-mobipocket-4.8.90</a></td>
   <td align="right">18kB</td>
   <td><tt>4d69e580a013cd5bd746d631454b35b828a7efb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kdegraphics-strigi-analyzer-4.8.90.tar.xz">kdegraphics-strigi-analyzer-4.8.90</a></td>
   <td align="right">38kB</td>
   <td><tt>4ea09bda94633aa685fd645a9c90a025f3543573</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kdegraphics-thumbnailers-4.8.90.tar.xz">kdegraphics-thumbnailers-4.8.90</a></td>
   <td align="right">40kB</td>
   <td><tt>cb7ade2a0ed6c204b3b37a7c925149c5f4267825</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kdelibs-4.8.90.tar.xz">kdelibs-4.8.90</a></td>
   <td align="right">11MB</td>
   <td><tt>926d0c0e6a6134d7292ae4d71e74541044d75a2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kdenetwork-4.8.90.tar.xz">kdenetwork-4.8.90</a></td>
   <td align="right">8.4MB</td>
   <td><tt>adf57ca920dbaa12b784b39a7f89b88ac708f67e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kdepim-4.8.90.tar.xz">kdepim-4.8.90</a></td>
   <td align="right">13MB</td>
   <td><tt>06acbcd08fd0356110805949a5b7c03e96b2f799</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kdepimlibs-4.8.90.tar.xz">kdepimlibs-4.8.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>8505d8c8a4b47e517d77c93e6fab2c38164038aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kdepim-runtime-4.8.90.tar.xz">kdepim-runtime-4.8.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>c47c487187cea48f5416beb21f8db4c3407d36e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kdeplasma-addons-4.8.90.tar.xz">kdeplasma-addons-4.8.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>55e52ce5c2a0d8d9eddc1cf594d192367d7df8c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-runtime-4.8.90.tar.xz">kde-runtime-4.8.90</a></td>
   <td align="right">6.0MB</td>
   <td><tt>30b2915d7c376a67efbb46e225ce6abd881b2879</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kdesdk-4.8.90.tar.xz">kdesdk-4.8.90</a></td>
   <td align="right">4.8MB</td>
   <td><tt>7526fb0fe5fd217cb536b692a0409951b04f6502</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kdetoys-4.8.90.tar.xz">kdetoys-4.8.90</a></td>
   <td align="right">368kB</td>
   <td><tt>ba5e8b9386e65cbaf23221f64ba85e2329ab17a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-wallpapers-4.8.90.tar.xz">kde-wallpapers-4.8.90</a></td>
   <td align="right">73MB</td>
   <td><tt>33aa8e0156c10b9f82aa702a53c12ad4cecddb58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kdewebdev-4.8.90.tar.xz">kdewebdev-4.8.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>303e8f273d5080439987a0dae343c51af2c31757</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-workspace-4.8.90.tar.xz">kde-workspace-4.8.90</a></td>
   <td align="right">21MB</td>
   <td><tt>1f5034f90cc3b0f1a97555b05b42043414bd3489</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kdf-4.8.90.tar.xz">kdf-4.8.90</a></td>
   <td align="right">151kB</td>
   <td><tt>4d663d14434c729f0f2301c6e48a95cc6b22f178</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kfloppy-4.8.90.tar.xz">kfloppy-4.8.90</a></td>
   <td align="right">58kB</td>
   <td><tt>15a51039b01de9a4098f900d407125eea71aeba7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kgamma-4.8.90.tar.xz">kgamma-4.8.90</a></td>
   <td align="right">25kB</td>
   <td><tt>99f48b2ca6890cd59b9b201281542d7577fa2efb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kgeography-4.8.90.tar.xz">kgeography-4.8.90</a></td>
   <td align="right">6.4MB</td>
   <td><tt>792ad4eed59468e3ba65687ccf64f39aa1daaa1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kgpg-4.8.90.tar.xz">kgpg-4.8.90</a></td>
   <td align="right">789kB</td>
   <td><tt>a9cc9519459976d3cec3538694d42ee5a45a7dde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/khangman-4.8.90.tar.xz">khangman-4.8.90</a></td>
   <td align="right">3.6MB</td>
   <td><tt>40ebbb84ef9eeeffedd52e677e5452cc3ad9bc94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kig-4.8.90.tar.xz">kig-4.8.90</a></td>
   <td align="right">1.4MB</td>
   <td><tt>20389f6015f9986ef6120efe6c5c76d63bbf0a25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kimono-4.8.90.tar.xz">kimono-4.8.90</a></td>
   <td align="right">911kB</td>
   <td><tt>decb7e6426ee5d620e380730e64f10d58b83a5d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kiten-4.8.90.tar.xz">kiten-4.8.90</a></td>
   <td align="right">11MB</td>
   <td><tt>0830055ac9b51c1b6a3464761c7b57f4ec4e973e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/klettres-4.8.90.tar.xz">klettres-4.8.90</a></td>
   <td align="right">2.5MB</td>
   <td><tt>5444b28b2ba70d5c037d2f08e16e2499fbfa75c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kmag-4.8.90.tar.xz">kmag-4.8.90</a></td>
   <td align="right">89kB</td>
   <td><tt>98590340d450d991241dd957972cc52e1268fb99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kmix-4.8.90.tar.xz">kmix-4.8.90</a></td>
   <td align="right">290kB</td>
   <td><tt>7a40df92d3cf2694925f3be847159ef9e426b6cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kmousetool-4.8.90.tar.xz">kmousetool-4.8.90</a></td>
   <td align="right">41kB</td>
   <td><tt>f447f5a9f006fc067edde485b4e84bacfef208f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kmouth-4.8.90.tar.xz">kmouth-4.8.90</a></td>
   <td align="right">310kB</td>
   <td><tt>c56c1b03d8cf100305cedd71adab8f540012467f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kmplot-4.8.90.tar.xz">kmplot-4.8.90</a></td>
   <td align="right">660kB</td>
   <td><tt>6cc98ad87ce19c9ffe7c664ddf5db9384db90504</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kolourpaint-4.8.90.tar.xz">kolourpaint-4.8.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>42083ff9bec2c31f34c4f18776b324ecf9349c44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/konsole-4.8.90.tar.xz">konsole-4.8.90</a></td>
   <td align="right">421kB</td>
   <td><tt>bb1be3e2207537f4b8eb7cc7db1b283edf7a6b5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/korundum-4.8.90.tar.xz">korundum-4.8.90</a></td>
   <td align="right">156kB</td>
   <td><tt>376d54caf842f69b8f03e9ac9aca3a7166344486</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kremotecontrol-4.8.90.tar.xz">kremotecontrol-4.8.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>e0fb9c79736d51298ae02f1dd375a16e0f5feb4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kross-interpreters-4.8.90.tar.xz">kross-interpreters-4.8.90</a></td>
   <td align="right">127kB</td>
   <td><tt>18470e58fdc755915019248a9a569e7fa932706f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kruler-4.8.90.tar.xz">kruler-4.8.90</a></td>
   <td align="right">129kB</td>
   <td><tt>2665dab5cb7d4f5fc9de649667b06a1665b16c84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/ksaneplugin-4.8.90.tar.xz">ksaneplugin-4.8.90</a></td>
   <td align="right">12kB</td>
   <td><tt>596a4bdb1f364d181eecf7c02ab3005ca91eee73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kscd-4.8.90.tar.xz">kscd-4.8.90</a></td>
   <td align="right">90kB</td>
   <td><tt>11f4f84f1904b60ef540d63f8bbb12c30640ac56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/ksnapshot-4.8.90.tar.xz">ksnapshot-4.8.90</a></td>
   <td align="right">256kB</td>
   <td><tt>126a4d9c19fb954e9dbb3776a6547dde917554a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kstars-4.8.90.tar.xz">kstars-4.8.90</a></td>
   <td align="right">11MB</td>
   <td><tt>a7f2ea9805ece8f21a69a2002adfa2b0cb07c42d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/ktimer-4.8.90.tar.xz">ktimer-4.8.90</a></td>
   <td align="right">146kB</td>
   <td><tt>a0a823c550963c0c374b0d3f51a9b66307fdc397</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/ktouch-4.8.90.tar.xz">ktouch-4.8.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>99fe6a0b5ccc58ad7850a075a01f418233fdd7e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kturtle-4.8.90.tar.xz">kturtle-4.8.90</a></td>
   <td align="right">206kB</td>
   <td><tt>9c7d792975138d5d19e0fc18017a21072a4e89bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kwallet-4.8.90.tar.xz">kwallet-4.8.90</a></td>
   <td align="right">273kB</td>
   <td><tt>d916ba54480ccb1fecf02279be5ae175866ee69b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kwordquiz-4.8.90.tar.xz">kwordquiz-4.8.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>b26d15cea504749c1f4e6d6d607fe1b525622b9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/libkcddb-4.8.90.tar.xz">libkcddb-4.8.90</a></td>
   <td align="right">152kB</td>
   <td><tt>3e34cf3166d273511c6a4500deec2ffcabbc3bf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/libkcompactdisc-4.8.90.tar.xz">libkcompactdisc-4.8.90</a></td>
   <td align="right">73kB</td>
   <td><tt>8710d98308c64950c3c1ea2de17c6599628c52ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/libkdcraw-4.8.90.tar.xz">libkdcraw-4.8.90</a></td>
   <td align="right">260kB</td>
   <td><tt>fa00e69ac62a3f9bd955ad60d081db5f40480cca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/libkdeedu-4.8.90.tar.xz">libkdeedu-4.8.90</a></td>
   <td align="right">204kB</td>
   <td><tt>4dbdf73fcb6a1da184dfec37dbf3052c60f401f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/libkexiv2-4.8.90.tar.xz">libkexiv2-4.8.90</a></td>
   <td align="right">129kB</td>
   <td><tt>28932c4f01016c6e4d68ac6ff9e571da6282bca2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/libkipi-4.8.90.tar.xz">libkipi-4.8.90</a></td>
   <td align="right">73kB</td>
   <td><tt>b63785eec494dcbe6af0acaebcf3c5df4c2c5471</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/libksane-4.8.90.tar.xz">libksane-4.8.90</a></td>
   <td align="right">77kB</td>
   <td><tt>129d5b10e9cc7926e4ad2f60786209ac9d7479f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/marble-4.8.90.tar.xz">marble-4.8.90</a></td>
   <td align="right">18MB</td>
   <td><tt>ac78b82f1101bd6af351cbc69802fc6e45fe48be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/mplayerthumbs-4.8.90.tar.xz">mplayerthumbs-4.8.90</a></td>
   <td align="right">21kB</td>
   <td><tt>fb6d818ca743da7e2eaa02e69c905a03d8781473</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/nepomuk-core-4.8.90.tar.xz">nepomuk-core-4.8.90</a></td>
   <td align="right">368kB</td>
   <td><tt>8ec945efa41a6e10ed75d71b55722e4baced8025</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/okular-4.8.90.tar.xz">okular-4.8.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>14fc4f71ec3c18c5d2ae45f20024986acacda0dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/oxygen-icons-4.8.90.tar.xz">oxygen-icons-4.8.90</a></td>
   <td align="right">262MB</td>
   <td><tt>0b03dcbdbb3a77008111d332604557f5d26bce49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/pairs-4.8.90.tar.xz">pairs-4.8.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>d7cd7469d5bf6ebf3da1024c8e4c510154ab82ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/parley-4.8.90.tar.xz">parley-4.8.90</a></td>
   <td align="right">7.8MB</td>
   <td><tt>61201a71222ba48ded98d7748591ee1912cf9781</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/perlkde-4.8.90.tar.xz">perlkde-4.8.90</a></td>
   <td align="right">39kB</td>
   <td><tt>0d54fdb3be727178a5ade3842f2ddf13cc4a0a37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/perlqt-4.8.90.tar.xz">perlqt-4.8.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2a226f8783f7165ccec70a796a9a3980c52e831b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/printer-applet-4.8.90.tar.xz">printer-applet-4.8.90</a></td>
   <td align="right">34kB</td>
   <td><tt>aa0c06de7f350604fa409bb876767f4e5bf57cc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/pykde4-4.8.90.tar.xz">pykde4-4.8.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>5e61dc43f78a5127486217120ba6c9f06744232a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/qtruby-4.8.90.tar.xz">qtruby-4.8.90</a></td>
   <td align="right">517kB</td>
   <td><tt>7a8e87a3b781622ee5871e19c0fb18f05b115d89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/qyoto-4.8.90.tar.xz">qyoto-4.8.90</a></td>
   <td align="right">495kB</td>
   <td><tt>edb88ebce52cf3aee1e2eda244142562f0c8d2f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/rocs-4.8.90.tar.xz">rocs-4.8.90</a></td>
   <td align="right">1.1MB</td>
   <td><tt>e9430995ce3547ca2b72a3d92bb28b6b5b6676f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/smokegen-4.8.90.tar.xz">smokegen-4.8.90</a></td>
   <td align="right">142kB</td>
   <td><tt>18c69f3ae1432176fba03c6a1d3b8fc208491a2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/smokekde-4.8.90.tar.xz">smokekde-4.8.90</a></td>
   <td align="right">35kB</td>
   <td><tt>61ee653f176170600f221331a7c5d0b624a079bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/smokeqt-4.8.90.tar.xz">smokeqt-4.8.90</a></td>
   <td align="right">29kB</td>
   <td><tt>11642ce086b1ab2e928de637124d12e2eb6e4f92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/step-4.8.90.tar.xz">step-4.8.90</a></td>
   <td align="right">361kB</td>
   <td><tt>2ed235b2ad190aa2463abe973c8c776d265d3426</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/strigi-multimedia-4.8.90.tar.xz">strigi-multimedia-4.8.90</a></td>
   <td align="right">18kB</td>
   <td><tt>dd04de357d521a0403346cfa5d37e8047e7a17c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/superkaramba-4.8.90.tar.xz">superkaramba-4.8.90</a></td>
   <td align="right">374kB</td>
   <td><tt>64973bc920863e69c5df821ad3495a7af8ccf702</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/svgpart-4.8.90.tar.xz">svgpart-4.8.90</a></td>
   <td align="right">8kB</td>
   <td><tt>636753395f2b8b9754f9c9118da984b9dda4c158</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/sweeper-4.8.90.tar.xz">sweeper-4.8.90</a></td>
   <td align="right">81kB</td>
   <td><tt>c88a0855b6753becb7206d37c490fa2d69b49a63</tt></td>
</tr>

<tr valign="top">                                                                                                                                                                                                                                                     
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-ar-4.8.90.tar.xz">kde-l10n-ar-4.8.90</a></td>
   <td align="right">3.2MB</td>
   <td><tt>e1279e57f534311a26ba78a9b5a62defbcf098e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-bg-4.8.90.tar.xz">kde-l10n-bg-4.8.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>ddd12f5adc5c164035e3a668d335dc1b9f0a2969</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-bs-4.8.90.tar.xz">kde-l10n-bs-4.8.90</a></td>
   <td align="right">2.2MB</td>
   <td><tt>efe5d39d0788e3c4b1ddacd2d2e7d87589efbe2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-ca-4.8.90.tar.xz">kde-l10n-ca-4.8.90</a></td>
   <td align="right">9.1MB</td>
   <td><tt>8aa6164018bb230b965f86d30d282db851eab2a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-ca@valencia-4.8.90.tar.xz">kde-l10n-ca@valencia-4.8.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>26931e203a6c80d6b665d9aadd0a9c8a82a41f5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-cs-4.8.90.tar.xz">kde-l10n-cs-4.8.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>c67379b6db8b47d459c2f0bd2f3b192b9b21df7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-da-4.8.90.tar.xz">kde-l10n-da-4.8.90</a></td>
   <td align="right">12MB</td>
   <td><tt>96a1f6aa2c733370c50941398715a5f2638acea8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-de-4.8.90.tar.xz">kde-l10n-de-4.8.90</a></td>
   <td align="right">36MB</td>
   <td><tt>b4dd1f0ade327c876da369652a6d2fe4dc755db0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-el-4.8.90.tar.xz">kde-l10n-el-4.8.90</a></td>
   <td align="right">4.5MB</td>
   <td><tt>1beac2c880d8b69199d79f631b059e45ec801852</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-en_GB-4.8.90.tar.xz">kde-l10n-en_GB-4.8.90</a></td>
   <td align="right">3.0MB</td>
   <td><tt>686cefa4dd976a049b1cd95e528aa283eb61c5ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-es-4.8.90.tar.xz">kde-l10n-es-4.8.90</a></td>
   <td align="right">22MB</td>
   <td><tt>8a66dc274cbcab3b03589e8fae6e004081e2b8a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-et-4.8.90.tar.xz">kde-l10n-et-4.8.90</a></td>
   <td align="right">7.1MB</td>
   <td><tt>e9a449647933649ce2227d5ff3178e518e8ee602</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-eu-4.8.90.tar.xz">kde-l10n-eu-4.8.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>598df7a02b8d824c9880f03e3e4290d1e5585b17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-fa-4.8.90.tar.xz">kde-l10n-fa-4.8.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>8fff0a189ce371976be9948180477a85788c7bf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-fi-4.8.90.tar.xz">kde-l10n-fi-4.8.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>02c3ea3d7edcdcf158000ca57996b6a8d3405b7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-fr-4.8.90.tar.xz">kde-l10n-fr-4.8.90</a></td>
   <td align="right">35MB</td>
   <td><tt>b084e63bb20771a30f8a432712b49fd4ebdc13ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-ga-4.8.90.tar.xz">kde-l10n-ga-4.8.90</a></td>
   <td align="right">2.7MB</td>
   <td><tt>8a1db4cef74cb4215427e7e085461bb28bd75020</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-gl-4.8.90.tar.xz">kde-l10n-gl-4.8.90</a></td>
   <td align="right">4.0MB</td>
   <td><tt>16b0bfcf61a4db688e99a57a29831fb45e3a91cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-he-4.8.90.tar.xz">kde-l10n-he-4.8.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>5ab25696fc690af47eae7cba2d158d08957cb194</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-hr-4.8.90.tar.xz">kde-l10n-hr-4.8.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>9f386d5a759f1c5957e11f6808926bba19f43772</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-hu-4.8.90.tar.xz">kde-l10n-hu-4.8.90</a></td>
   <td align="right">3.9MB</td>
   <td><tt>8f6f6697c54c85f04f889502e69e8029ff07e0de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-ia-4.8.90.tar.xz">kde-l10n-ia-4.8.90</a></td>
   <td align="right">1.2MB</td>
   <td><tt>8c434c8bf790b4e17957afcc3fe5b37a23629638</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-id-4.8.90.tar.xz">kde-l10n-id-4.8.90</a></td>
   <td align="right">503kB</td>
   <td><tt>fef3614efcdec289c1cfb76cae78b708374a43f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-is-4.8.90.tar.xz">kde-l10n-is-4.8.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>c4d9ceb1831de62da65dd73b162824c2b63192fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-it-4.8.90.tar.xz">kde-l10n-it-4.8.90</a></td>
   <td align="right">9.9MB</td>
   <td><tt>0a6e335df262256292e588aa6e6f3703f71710bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-ja-4.8.90.tar.xz">kde-l10n-ja-4.8.90</a></td>
   <td align="right">2.2MB</td>
   <td><tt>eac01b172814675999f98d13328ad6cb312e6972</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-kk-4.8.90.tar.xz">kde-l10n-kk-4.8.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>235a526491c3921d34c418782880a8f1fc8d935a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-km-4.8.90.tar.xz">kde-l10n-km-4.8.90</a></td>
   <td align="right">2.1MB</td>
   <td><tt>814b90f3d83d87939200a8a8dc9d3334c88b26b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-ko-4.8.90.tar.xz">kde-l10n-ko-4.8.90</a></td>
   <td align="right">1.7MB</td>
   <td><tt>eda538e3fce4b6ad955ace52801c29fa1b935adf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-lt-4.8.90.tar.xz">kde-l10n-lt-4.8.90</a></td>
   <td align="right">10MB</td>
   <td><tt>8737d92ae2a61d8b056680f66ed72c66ce1e966a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-lv-4.8.90.tar.xz">kde-l10n-lv-4.8.90</a></td>
   <td align="right">2.0MB</td>
   <td><tt>0d715a037857fe73a5d682584122a16b25f8a5e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-nb-4.8.90.tar.xz">kde-l10n-nb-4.8.90</a></td>
   <td align="right">2.3MB</td>
   <td><tt>ec0ac8ee5feb4fc578f2783522cee4d2f2c68f93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-nds-4.8.90.tar.xz">kde-l10n-nds-4.8.90</a></td>
   <td align="right">3.0MB</td>
   <td><tt>882effeb49a0f0546ea396ece5da1768e0cd3a27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-nl-4.8.90.tar.xz">kde-l10n-nl-4.8.90</a></td>
   <td align="right">15MB</td>
   <td><tt>02d86131ee8a9ce4f124ec4ce53fdbce3ffb34aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-nn-4.8.90.tar.xz">kde-l10n-nn-4.8.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>6a5d601fa641fe8ebe03cb5b6d9e8461df337316</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-pa-4.8.90.tar.xz">kde-l10n-pa-4.8.90</a></td>
   <td align="right">1.8MB</td>
   <td><tt>f856f4718e39e6959d54f8b215f742b5d383ebac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-pl-4.8.90.tar.xz">kde-l10n-pl-4.8.90</a></td>
   <td align="right">16MB</td>
   <td><tt>5cb4a95f9463ae64488423bf149760d431c12b84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-pt-4.8.90.tar.xz">kde-l10n-pt-4.8.90</a></td>
   <td align="right">5.6MB</td>
   <td><tt>9d5c50644d5dc07f0cab5bcf963681af4d341821</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-pt_BR-4.8.90.tar.xz">kde-l10n-pt_BR-4.8.90</a></td>
   <td align="right">26MB</td>
   <td><tt>f51795617fb10b4894c8365acde7a24db6b79a09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-ro-4.8.90.tar.xz">kde-l10n-ro-4.8.90</a></td>
   <td align="right">2.8MB</td>
   <td><tt>c88842109ce64338befde55e989117caf02627c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-ru-4.8.90.tar.xz">kde-l10n-ru-4.8.90</a></td>
   <td align="right">22MB</td>
   <td><tt>eb0079294ebc62cfc1a9845c1af52a797990fb65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-si-4.8.90.tar.xz">kde-l10n-si-4.8.90</a></td>
   <td align="right">1.0MB</td>
   <td><tt>33a61c991fdedbc2d31feb15feff62b5c71d5fee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-sk-4.8.90.tar.xz">kde-l10n-sk-4.8.90</a></td>
   <td align="right">4.1MB</td>
   <td><tt>fb863f77fb705eeb0273709965338e3f96691a84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-sl-4.8.90.tar.xz">kde-l10n-sl-4.8.90</a></td>
   <td align="right">3.2MB</td>
   <td><tt>bf393c7c8fc108e833b56d8488685364518374f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-sr-4.8.90.tar.xz">kde-l10n-sr-4.8.90</a></td>
   <td align="right">5.6MB</td>
   <td><tt>690085ef5a8a348da0e3b2d306fd0214006d39eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-sv-4.8.90.tar.xz">kde-l10n-sv-4.8.90</a></td>
   <td align="right">16MB</td>
   <td><tt>905ac4e85504b3c9edf985d7792e69424c75821c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-tg-4.8.90.tar.xz">kde-l10n-tg-4.8.90</a></td>
   <td align="right">1.9MB</td>
   <td><tt>94ed1e540385316cdefaedf5678c8c931dd172b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-th-4.8.90.tar.xz">kde-l10n-th-4.8.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>f707768b197f9d9e4de42bb6fa430ac73c1cefca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-tr-4.8.90.tar.xz">kde-l10n-tr-4.8.90</a></td>
   <td align="right">2.3MB</td>
   <td><tt>f8759891379c3ce5687aee9c5ae289d57b7fa803</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-ug-4.8.90.tar.xz">kde-l10n-ug-4.8.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>4a8b864eed7a2a1bc85a3616716d33a3e0fc3333</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-uk-4.8.90.tar.xz">kde-l10n-uk-4.8.90</a></td>
   <td align="right">21MB</td>
   <td><tt>1eae0a23a9ab6160524791f3d4ae76bd92ad8346</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-vi-4.8.90.tar.xz">kde-l10n-vi-4.8.90</a></td>
   <td align="right">910kB</td>
   <td><tt>602ecf6123fc533f5aa690221a38e9df651cea44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-wa-4.8.90.tar.xz">kde-l10n-wa-4.8.90</a></td>
   <td align="right">1.6MB</td>
   <td><tt>30d63edd98b8c5faa7134c182029d8844c2eccec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-zh_CN-4.8.90.tar.xz">kde-l10n-zh_CN-4.8.90</a></td>
   <td align="right">3.3MB</td>
   <td><tt>7281bb81673b4e92bbafe090b922047fe8978da9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/4.8.90/src/kde-l10n/kde-l10n-zh_TW-4.8.90.tar.xz">kde-l10n-zh_TW-4.8.90</a></td>
   <td align="right">2.4MB</td>
   <td><tt>40f29f94a3da2bb9a518f336f434cb30b8a1e304</tt></td>
</tr>

</table>