<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/amor-4.12.3.tar.xz">amor-4.12.3</a></td>
   <td align="right">170kB</td>
   <td><tt>e3bb13a83ef6eabf0e07b83340293bdae230a86a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/analitza-4.12.3.tar.xz">analitza-4.12.3</a></td>
   <td align="right">175kB</td>
   <td><tt>c241f01f7fc5e96df273331eb17f2c90f8a8ffee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/ark-4.12.3.tar.xz">ark-4.12.3</a></td>
   <td align="right">224kB</td>
   <td><tt>b24b3ca5326979797946e262583ce23b11337106</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/audiocd-kio-4.12.3.tar.xz">audiocd-kio-4.12.3</a></td>
   <td align="right">50kB</td>
   <td><tt>ddf3c89195ed90dd261eb38b9dc1bf7c54678cc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/blinken-4.12.3.tar.xz">blinken-4.12.3</a></td>
   <td align="right">546kB</td>
   <td><tt>67cc8a7b72bcb2508e6b0f7def47f8143a949386</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/bomber-4.12.3.tar.xz">bomber-4.12.3</a></td>
   <td align="right">377kB</td>
   <td><tt>b16100d8746160e790c7383a6d138c3ad991b6d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/bovo-4.12.3.tar.xz">bovo-4.12.3</a></td>
   <td align="right">98kB</td>
   <td><tt>c51bf4acceab8b138dcaede5bbf754fe71f96329</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/cantor-4.12.3.tar.xz">cantor-4.12.3</a></td>
   <td align="right">322kB</td>
   <td><tt>218597ac5ad245a64861ae4a40ef1fb2a6e698df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/cervisia-4.12.3.tar.xz">cervisia-4.12.3</a></td>
   <td align="right">359kB</td>
   <td><tt>1a8e355bc19f1e54868900d20ca96c0e01b35deb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/dolphin-plugins-4.12.3.tar.xz">dolphin-plugins-4.12.3</a></td>
   <td align="right">54kB</td>
   <td><tt>26d9b9bcc0cc83fa7ad375292c1ba3e2be43d3d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/dragon-4.12.3.tar.xz">dragon-4.12.3</a></td>
   <td align="right">381kB</td>
   <td><tt>c1d9c80390f7a9814c789f7dc5fc9bb920064c23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/ffmpegthumbs-4.12.3.tar.xz">ffmpegthumbs-4.12.3</a></td>
   <td align="right">19kB</td>
   <td><tt>849dfa3faef83e744e53499173a97ebb46b73e5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/filelight-4.12.3.tar.xz">filelight-4.12.3</a></td>
   <td align="right">280kB</td>
   <td><tt>59979c1d2ebd6ae2b68964da5e24752d6fc5314e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/granatier-4.12.3.tar.xz">granatier-4.12.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>dfd76be220271bc8e453c8ca4d160d718c2f2834</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/gwenview-4.12.3.tar.xz">gwenview-4.12.3</a></td>
   <td align="right">2.7MB</td>
   <td><tt>8f8ec15d3763ebd5f5b8a4d9b6704788dde3ea93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/jovie-4.12.3.tar.xz">jovie-4.12.3</a></td>
   <td align="right">370kB</td>
   <td><tt>7a81bc5a2d989af624859d278b4b70fa9cb71708</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/juk-4.12.3.tar.xz">juk-4.12.3</a></td>
   <td align="right">419kB</td>
   <td><tt>6a1ae73ce8aa8ce8ec2485ae39c132aa910973ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kaccessible-4.12.3.tar.xz">kaccessible-4.12.3</a></td>
   <td align="right">19kB</td>
   <td><tt>5f80d530b406804412f1232d95054f24359e49da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kactivities-4.12.3.tar.xz">kactivities-4.12.3</a></td>
   <td align="right">85kB</td>
   <td><tt>07bdf915570a94118edf553b99e08833a5df5fb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kajongg-4.12.3.tar.xz">kajongg-4.12.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>c30c2b80c49ec8a3f0b446cf59651348485e39e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kalgebra-4.12.3.tar.xz">kalgebra-4.12.3</a></td>
   <td align="right">264kB</td>
   <td><tt>18867c9f6f81ef2e8953092072fa9949cca70a15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kalzium-4.12.3.tar.xz">kalzium-4.12.3</a></td>
   <td align="right">3.7MB</td>
   <td><tt>9e8638c93e2ca21ac5c27effc77d9673d14d1337</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kamera-4.12.3.tar.xz">kamera-4.12.3</a></td>
   <td align="right">34kB</td>
   <td><tt>13cb0adfe4a297daf96b485c3c845de793e9529f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kanagram-4.12.3.tar.xz">kanagram-4.12.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>98c7182fddf32e64542990b79715f3054a33f073</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kapman-4.12.3.tar.xz">kapman-4.12.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>57a742443e52c8bfa9833bdc4f5b5bafa843fea6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kapptemplate-4.12.3.tar.xz">kapptemplate-4.12.3</a></td>
   <td align="right">681kB</td>
   <td><tt>e11c8296fe3ea5c196514b791cd2d8861cf454fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kate-4.12.3.tar.xz">kate-4.12.3</a></td>
   <td align="right">2.5MB</td>
   <td><tt>d8b4cdd4d297e0219dd23fd504795ddb89308474</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/katomic-4.12.3.tar.xz">katomic-4.12.3</a></td>
   <td align="right">642kB</td>
   <td><tt>a7d61782b2bae47ee5b82fea9378fff43e1fe03f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kblackbox-4.12.3.tar.xz">kblackbox-4.12.3</a></td>
   <td align="right">251kB</td>
   <td><tt>72b6e8bddd89eabb076e9089ca6b11dcd2e71aa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kblocks-4.12.3.tar.xz">kblocks-4.12.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>f34978799c1ead78262bb250fbee8f4cdb8e1d4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kbounce-4.12.3.tar.xz">kbounce-4.12.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>ac0625260bfff49cd59d236a6910eb29d6a6da89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kbreakout-4.12.3.tar.xz">kbreakout-4.12.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>0159f1410719e5c478ed1cd4c11734575554e3c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kbruch-4.12.3.tar.xz">kbruch-4.12.3</a></td>
   <td align="right">876kB</td>
   <td><tt>350b3084934b9b95100b2c8764ec1af2f36377d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kcachegrind-4.12.3.tar.xz">kcachegrind-4.12.3</a></td>
   <td align="right">229kB</td>
   <td><tt>0e6506bb806508ff9c8100f7696c7464fa865d1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kcalc-4.12.3.tar.xz">kcalc-4.12.3</a></td>
   <td align="right">78kB</td>
   <td><tt>57f865777ee588e14045aa309164637f56711cff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kcharselect-4.12.3.tar.xz">kcharselect-4.12.3</a></td>
   <td align="right">82kB</td>
   <td><tt>42147f0c0b142760bfd3bd679aa30f4c1ab6385a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kcolorchooser-4.12.3.tar.xz">kcolorchooser-4.12.3</a></td>
   <td align="right">4kB</td>
   <td><tt>bdd5f71d2ac55d996321ec3ff7e802ec5ddb37c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kcron-4.12.3.tar.xz">kcron-4.12.3</a></td>
   <td align="right">170kB</td>
   <td><tt>69d9bbdf2ecc257eb30ff3e56338d55fd37efd0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kdeartwork-4.12.3.tar.xz">kdeartwork-4.12.3</a></td>
   <td align="right">134MB</td>
   <td><tt>fc598e229a5ed7802e716b07133863ffc920ba41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-baseapps-4.12.3.tar.xz">kde-baseapps-4.12.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>8ac3fb05357e74e1ab394333095f404c68edd8ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-base-artwork-4.12.3.tar.xz">kde-base-artwork-4.12.3</a></td>
   <td align="right">7.0MB</td>
   <td><tt>242890f10368cfcd87ddedfb3ad11f553561e954</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-dev-scripts-4.12.3.tar.xz">kde-dev-scripts-4.12.3</a></td>
   <td align="right">251kB</td>
   <td><tt>bc5a848839110cce651ae77e396fae6c4a3f6cc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-dev-utils-4.12.3.tar.xz">kde-dev-utils-4.12.3</a></td>
   <td align="right">50kB</td>
   <td><tt>a80ce056eb23902d82562d1e94e5e603eede6111</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kdegraphics-mobipocket-4.12.3.tar.xz">kdegraphics-mobipocket-4.12.3</a></td>
   <td align="right">14kB</td>
   <td><tt>98ab8b44c49950e4fe97efb2144a8ea96730a21e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kdegraphics-strigi-analyzer-4.12.3.tar.xz">kdegraphics-strigi-analyzer-4.12.3</a></td>
   <td align="right">39kB</td>
   <td><tt>39aeaac2d7fec931a3765bc97590bedff4ae167d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kdegraphics-thumbnailers-4.12.3.tar.xz">kdegraphics-thumbnailers-4.12.3</a></td>
   <td align="right">40kB</td>
   <td><tt>2f38147367e320d238dae1147dd62ae2f4a972be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kdelibs-4.12.3.tar.xz">kdelibs-4.12.3</a></td>
   <td align="right">11MB</td>
   <td><tt>57a9685d9c05f9304b0037f578bc13ca3371e74d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kdenetwork-filesharing-4.12.3.tar.xz">kdenetwork-filesharing-4.12.3</a></td>
   <td align="right">26kB</td>
   <td><tt>5f76be3021e093fe489573558112c23e80791abc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kdenetwork-strigi-analyzers-4.12.3.tar.xz">kdenetwork-strigi-analyzers-4.12.3</a></td>
   <td align="right">14kB</td>
   <td><tt>5fcbc7ca3c73bb4105d7cbf161063302bfee286b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kdepim-4.12.3.tar.xz">kdepim-4.12.3</a></td>
   <td align="right">13MB</td>
   <td><tt>56a084c653f3b9b42710509ff9013e32b81a30d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kdepimlibs-4.12.3.tar.xz">kdepimlibs-4.12.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>6f07a1c343c9c5a5763163e7d72b2ac97998e574</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kdepim-runtime-4.12.3.tar.xz">kdepim-runtime-4.12.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>b45fab89123c4cfff9dae864e83d1ecb3801ca5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kdeplasma-addons-4.12.3.tar.xz">kdeplasma-addons-4.12.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>78a7cd956fc25431807b0f91fc37c83378c0cc9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-runtime-4.12.3.tar.xz">kde-runtime-4.12.3</a></td>
   <td align="right">7.4MB</td>
   <td><tt>c2453e7a6a6b5493af7698ed2e871d03a707ad59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kdesdk-kioslaves-4.12.3.tar.xz">kdesdk-kioslaves-4.12.3</a></td>
   <td align="right">352kB</td>
   <td><tt>499c26139ccb252b16a7cac6bdaacdcdb2579f2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kdesdk-strigi-analyzers-4.12.3.tar.xz">kdesdk-strigi-analyzers-4.12.3</a></td>
   <td align="right">17kB</td>
   <td><tt>83a28e1d691944058a50d6989b78542a305f1cf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kdesdk-thumbnailers-4.12.3.tar.xz">kdesdk-thumbnailers-4.12.3</a></td>
   <td align="right">11kB</td>
   <td><tt>1e2e1d9f35bfd6ce960ac5a284cebbf7e1c72d67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-wallpapers-4.12.3.tar.xz">kde-wallpapers-4.12.3</a></td>
   <td align="right">86MB</td>
   <td><tt>16fe66fe2f11fe63c719e1e386f2ed0e2219ebf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kdewebdev-4.12.3.tar.xz">kdewebdev-4.12.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>83b1a801def522d98ef651827221312859021792</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-workspace-4.11.7.tar.xz">kde-workspace-4.11.7</a></td>
   <td align="right">12MB</td>
   <td><tt>515c687a5a967e14e0470012e99ca2ae4cd86700</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kdf-4.12.3.tar.xz">kdf-4.12.3</a></td>
   <td align="right">145kB</td>
   <td><tt>81d9f630e3dfcef464412c27177d2ee08eea5dcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kdiamond-4.12.3.tar.xz">kdiamond-4.12.3</a></td>
   <td align="right">3.9MB</td>
   <td><tt>9b000f76f2dd793653a7b974f550e4b349c6b50b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kdnssd-4.12.3.tar.xz">kdnssd-4.12.3</a></td>
   <td align="right">25kB</td>
   <td><tt>6751b009cafa5eececf7c4f9ed6a2d6c59a78c3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kfloppy-4.12.3.tar.xz">kfloppy-4.12.3</a></td>
   <td align="right">51kB</td>
   <td><tt>407ba30775c41c0ad6019396a6098676327bf48a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kfourinline-4.12.3.tar.xz">kfourinline-4.12.3</a></td>
   <td align="right">275kB</td>
   <td><tt>bcb43108d33eaf08308ac9a4f1056cbd68d552cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kgamma-4.12.3.tar.xz">kgamma-4.12.3</a></td>
   <td align="right">22kB</td>
   <td><tt>43908fda6233eae15c33ae0f4d93838f177d7393</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kgeography-4.12.3.tar.xz">kgeography-4.12.3</a></td>
   <td align="right">6.4MB</td>
   <td><tt>2ad07201ecc24e070ee611dd8d64b93cd0b875de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kget-4.12.3.tar.xz">kget-4.12.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>c47e4f2d84edf2b9769a28cf7ab43502ae14979c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kgoldrunner-4.12.3.tar.xz">kgoldrunner-4.12.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>2866b5f1099b769854ca13076191e63e398f18d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kgpg-4.12.3.tar.xz">kgpg-4.12.3</a></td>
   <td align="right">784kB</td>
   <td><tt>43ff1f176d0ab87bb1f683f0d8898563609bae2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/khangman-4.12.3.tar.xz">khangman-4.12.3</a></td>
   <td align="right">3.7MB</td>
   <td><tt>793792ee6f8c6e5eadf9e1ea966935a309e2c4dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kig-4.12.3.tar.xz">kig-4.12.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>9a66315558330c331a28faaf3094ce25e0a5f285</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kigo-4.12.3.tar.xz">kigo-4.12.3</a></td>
   <td align="right">1.2MB</td>
   <td><tt>e10516a03bdce52a002b12fe754ac16d1156a954</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/killbots-4.12.3.tar.xz">killbots-4.12.3</a></td>
   <td align="right">938kB</td>
   <td><tt>2d3ec1487df0401ed83165e07a3e14fe9d75238a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kimono-4.12.3.tar.xz">kimono-4.12.3</a></td>
   <td align="right">910kB</td>
   <td><tt>1be17fb1f660c11f159b0b749e04615ccb774269</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kiriki-4.12.3.tar.xz">kiriki-4.12.3</a></td>
   <td align="right">115kB</td>
   <td><tt>4b05bc47d07da3aec2aed42e7ce7e4c67744f231</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kiten-4.12.3.tar.xz">kiten-4.12.3</a></td>
   <td align="right">11MB</td>
   <td><tt>528848d6f75e49fba8c266894283c1f6ecf71d77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kjumpingcube-4.12.3.tar.xz">kjumpingcube-4.12.3</a></td>
   <td align="right">159kB</td>
   <td><tt>61f36ef13d65644cd40a32f5d8cd202526e289d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/klettres-4.12.3.tar.xz">klettres-4.12.3</a></td>
   <td align="right">2.5MB</td>
   <td><tt>0ee3ae57aec72acc19b412a9c0dfd1d4c29cc927</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/klickety-4.12.3.tar.xz">klickety-4.12.3</a></td>
   <td align="right">765kB</td>
   <td><tt>cfde482299b2930ee9756aa2ecd6974eb02cd5a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/klines-4.12.3.tar.xz">klines-4.12.3</a></td>
   <td align="right">927kB</td>
   <td><tt>54613ee4631844f22cc75a4ddd4afaf57bcd4564</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kmag-4.12.3.tar.xz">kmag-4.12.3</a></td>
   <td align="right">84kB</td>
   <td><tt>5e3bd17b80387b4ffdf1bdb9509d35ef072eeafb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kmahjongg-4.12.3.tar.xz">kmahjongg-4.12.3</a></td>
   <td align="right">979kB</td>
   <td><tt>ab945442999a04af9428c071f7d8213b5a1c1642</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kmines-4.12.3.tar.xz">kmines-4.12.3</a></td>
   <td align="right">613kB</td>
   <td><tt>ccc7ea7b5cf6398a800ef1a33fba2cbeed725168</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kmix-4.12.3.tar.xz">kmix-4.12.3</a></td>
   <td align="right">371kB</td>
   <td><tt>b2e4f32b42412517fe6667189e5b01e8686219d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kmousetool-4.12.3.tar.xz">kmousetool-4.12.3</a></td>
   <td align="right">35kB</td>
   <td><tt>3a18d8270712deb9085143a9647c9def6158a33c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kmouth-4.12.3.tar.xz">kmouth-4.12.3</a></td>
   <td align="right">300kB</td>
   <td><tt>6862670fa0c3c13ead9666c3c6f0857448e59a78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kmplot-4.12.3.tar.xz">kmplot-4.12.3</a></td>
   <td align="right">639kB</td>
   <td><tt>a9c9ea0a73845426473d90bbceae114d8f593e44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/knavalbattle-4.12.3.tar.xz">knavalbattle-4.12.3</a></td>
   <td align="right">829kB</td>
   <td><tt>e5125e740ca42ad54bcdfc25eb390d4c613de146</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/knetwalk-4.12.3.tar.xz">knetwalk-4.12.3</a></td>
   <td align="right">763kB</td>
   <td><tt>39966fbc5d9864b392c5412e6bfc1a3da5e297d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kolf-4.12.3.tar.xz">kolf-4.12.3</a></td>
   <td align="right">746kB</td>
   <td><tt>b238bd8e4a4959b219a8cc769d47430c04333022</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kollision-4.12.3.tar.xz">kollision-4.12.3</a></td>
   <td align="right">202kB</td>
   <td><tt>8425d39c261c11dac87eb498602943b9de262b28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kolourpaint-4.12.3.tar.xz">kolourpaint-4.12.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>d35b695049cb85973eebe74b5430028e1b8cde1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kompare-4.12.3.tar.xz">kompare-4.12.3</a></td>
   <td align="right">336kB</td>
   <td><tt>8187078542c0664532daaa58044ca1cafe56c5c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/konquest-4.12.3.tar.xz">konquest-4.12.3</a></td>
   <td align="right">406kB</td>
   <td><tt>55ae828437dc17e2c1b468a4e43b9e830d8518a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/konsole-4.12.3.tar.xz">konsole-4.12.3</a></td>
   <td align="right">440kB</td>
   <td><tt>600ced8784f5ded06f2a7cbafb637a96e51cf5aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kopete-4.12.3.tar.xz">kopete-4.12.3</a></td>
   <td align="right">6.0MB</td>
   <td><tt>bf707283338c8387619a9f4387af9b72e6275e95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/korundum-4.12.3.tar.xz">korundum-4.12.3</a></td>
   <td align="right">156kB</td>
   <td><tt>f8152a53152a37bc77701bb5cf5a32b4d543d973</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kpat-4.12.3.tar.xz">kpat-4.12.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>07d1bf56d5d4daf152d58ba6d0d14bb3ea9d2abc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kppp-4.12.3.tar.xz">kppp-4.12.3</a></td>
   <td align="right">680kB</td>
   <td><tt>1cf8b986cb0ecd523778d5cdb88a9606f73f8d7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/krdc-4.12.3.tar.xz">krdc-4.12.3</a></td>
   <td align="right">388kB</td>
   <td><tt>d5687a5a184dd80604b0105b3744f33e12d89c7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kremotecontrol-4.12.3.tar.xz">kremotecontrol-4.12.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>10347a625d90cff6176d8cf24396bd076696d908</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kreversi-4.12.3.tar.xz">kreversi-4.12.3</a></td>
   <td align="right">353kB</td>
   <td><tt>44b01b559ab0ca0631ab3104de8f9a94c261927a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/krfb-4.12.3.tar.xz">krfb-4.12.3</a></td>
   <td align="right">456kB</td>
   <td><tt>08972a6f18fd06e5eec6d9f40f91e74de448a19d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kross-interpreters-4.12.3.tar.xz">kross-interpreters-4.12.3</a></td>
   <td align="right">127kB</td>
   <td><tt>e7fff3d49ff6af1f351f6f416394b4a47bdfba65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kruler-4.12.3.tar.xz">kruler-4.12.3</a></td>
   <td align="right">125kB</td>
   <td><tt>45abdb72cc147d9cafca2a4b14050becc08b7001</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/ksaneplugin-4.12.3.tar.xz">ksaneplugin-4.12.3</a></td>
   <td align="right">12kB</td>
   <td><tt>9b6cfb76cc3bc564bde9341118839f33e940d34a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kscd-4.12.3.tar.xz">kscd-4.12.3</a></td>
   <td align="right">90kB</td>
   <td><tt>4c671f15c7be70272ac97d99c916915faf6f825c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kshisen-4.12.3.tar.xz">kshisen-4.12.3</a></td>
   <td align="right">132kB</td>
   <td><tt>c22177ceee2a1d280452527899fa8b2c9ee5550e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/ksirk-4.12.3.tar.xz">ksirk-4.12.3</a></td>
   <td align="right">4.7MB</td>
   <td><tt>6811d7b7ee2e2cc0340a2f5ee25abeffe28c0906</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/ksnakeduel-4.12.3.tar.xz">ksnakeduel-4.12.3</a></td>
   <td align="right">312kB</td>
   <td><tt>af0aa9bf64760d2aa65fd21ab93ec7b98c37ab2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/ksnapshot-4.12.3.tar.xz">ksnapshot-4.12.3</a></td>
   <td align="right">251kB</td>
   <td><tt>9e748cc09bd941894ae47e4beb291a4525e3aeda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kspaceduel-4.12.3.tar.xz">kspaceduel-4.12.3</a></td>
   <td align="right">246kB</td>
   <td><tt>20994ad98ff21bacb24aa3fe5748b3412233bc1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/ksquares-4.12.3.tar.xz">ksquares-4.12.3</a></td>
   <td align="right">77kB</td>
   <td><tt>f8bb418bd570e72cfe6835cbdf7dbfe6d39b2ff8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kstars-4.12.3.tar.xz">kstars-4.12.3</a></td>
   <td align="right">11MB</td>
   <td><tt>1b11b17bf611a7e6f86f0aab1987342538adc966</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/ksudoku-4.12.3.tar.xz">ksudoku-4.12.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>0c2a68b9141b556ebbe078cc6cecf7c2d5cea49a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/ksystemlog-4.12.3.tar.xz">ksystemlog-4.12.3</a></td>
   <td align="right">373kB</td>
   <td><tt>5fc7c5694aff773d71c036638243d25d98d192f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kteatime-4.12.3.tar.xz">kteatime-4.12.3</a></td>
   <td align="right">98kB</td>
   <td><tt>e61a340496ad7779004e7ddc6bd7a911c1fdc1a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/ktimer-4.12.3.tar.xz">ktimer-4.12.3</a></td>
   <td align="right">143kB</td>
   <td><tt>d1ce54d29b721543ad143a75eb4781ec0f13a792</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/ktouch-4.12.3.tar.xz">ktouch-4.12.3</a></td>
   <td align="right">2.3MB</td>
   <td><tt>1fa7b166fe47d9895758417e717859625a043f0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/ktuberling-4.12.3.tar.xz">ktuberling-4.12.3</a></td>
   <td align="right">4.0MB</td>
   <td><tt>4d6adbc0f5a4aba25b5a56dfd40ebc4eb55ed44c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kturtle-4.12.3.tar.xz">kturtle-4.12.3</a></td>
   <td align="right">183kB</td>
   <td><tt>5b057ef8e526297a66bd82541cb8533092843af5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/ktux-4.12.3.tar.xz">ktux-4.12.3</a></td>
   <td align="right">106kB</td>
   <td><tt>34acda1dcfe62c8f255d486acc404a6c7d49d7c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kubrick-4.12.3.tar.xz">kubrick-4.12.3</a></td>
   <td align="right">104kB</td>
   <td><tt>0c85cde35c2c4150c9c84de93efefdcef0c2e96f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kuser-4.12.3.tar.xz">kuser-4.12.3</a></td>
   <td align="right">131kB</td>
   <td><tt>66c36cfcd25ea6d319e5b1af26dacb23b4eb5d9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kwalletmanager-4.12.3.tar.xz">kwalletmanager-4.12.3</a></td>
   <td align="right">445kB</td>
   <td><tt>1f112b190f76a135499f53b4603aa61b550b2940</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kwordquiz-4.12.3.tar.xz">kwordquiz-4.12.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2c3ca5097d258cf6724c8933461fd18baccb5176</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/libkcddb-4.12.3.tar.xz">libkcddb-4.12.3</a></td>
   <td align="right">154kB</td>
   <td><tt>3699fba309e65d29a788d3f3a887a602d74d0044</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/libkcompactdisc-4.12.3.tar.xz">libkcompactdisc-4.12.3</a></td>
   <td align="right">73kB</td>
   <td><tt>a0480b4cc4b543b1cc7ea9a70d68f8685efa47bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/libkdcraw-4.12.3.tar.xz">libkdcraw-4.12.3</a></td>
   <td align="right">97kB</td>
   <td><tt>66653079bc89b563f6f28689f36fa3b8677c40ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/libkdeedu-4.12.3.tar.xz">libkdeedu-4.12.3</a></td>
   <td align="right">204kB</td>
   <td><tt>228cab94206c9ff45fee1ab34f4242e1b1ff57c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/libkdegames-4.12.3.tar.xz">libkdegames-4.12.3</a></td>
   <td align="right">5.5MB</td>
   <td><tt>5cb4ec95a04f2dcf29da6b9516f4a5e8a54eff2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/libkexiv2-4.12.3.tar.xz">libkexiv2-4.12.3</a></td>
   <td align="right">132kB</td>
   <td><tt>06b6a1bfcf55eecb267788d063edea3168192046</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/libkipi-4.12.3.tar.xz">libkipi-4.12.3</a></td>
   <td align="right">92kB</td>
   <td><tt>ee69e7c9cde494715134972392382aa3cfe68059</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/libkmahjongg-4.12.3.tar.xz">libkmahjongg-4.12.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>e5d9ea160f45d9fbd95db7a4eba3023c90db67ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/libkomparediff2-4.12.3.tar.xz">libkomparediff2-4.12.3</a></td>
   <td align="right">54kB</td>
   <td><tt>0e2611ef8b6153c676ec7eeb57f6024c5f00bf99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/libksane-4.12.3.tar.xz">libksane-4.12.3</a></td>
   <td align="right">78kB</td>
   <td><tt>ad03fdfcc82b86798e89630e032935e84d9728d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/lokalize-4.12.3.tar.xz">lokalize-4.12.3</a></td>
   <td align="right">826kB</td>
   <td><tt>2cfdf12490ac9c6213b3cdcd52280d13c2869a0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/lskat-4.12.3.tar.xz">lskat-4.12.3</a></td>
   <td align="right">907kB</td>
   <td><tt>df9ba610aba486b51f04233f22bc5c23f3901888</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/marble-4.12.3.tar.xz">marble-4.12.3</a></td>
   <td align="right">17MB</td>
   <td><tt>b232858b78f3d9afee42c26de23aa272f9bcf8fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/mplayerthumbs-4.12.3.tar.xz">mplayerthumbs-4.12.3</a></td>
   <td align="right">26kB</td>
   <td><tt>11358ac8bb8f7a5cc7466fb89b8cfbbeb93f9738</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/nepomuk-core-4.12.3.tar.xz">nepomuk-core-4.12.3</a></td>
   <td align="right">371kB</td>
   <td><tt>35c24f160a94552f73a489fe0c3ae89195b69a99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/nepomuk-widgets-4.12.3.tar.xz">nepomuk-widgets-4.12.3</a></td>
   <td align="right">47kB</td>
   <td><tt>f3b2642bbe153d603b7f3e087411bd3bfcdd629d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/okteta-4.12.3.tar.xz">okteta-4.12.3</a></td>
   <td align="right">481kB</td>
   <td><tt>2916e33e53b4d6ae47b19e23bdb3f3bec6d00ff3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/okular-4.12.3.tar.xz">okular-4.12.3</a></td>
   <td align="right">1.5MB</td>
   <td><tt>d2a68fd07091e44f2afbea5e03161fabc81a3264</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/oxygen-icons-4.12.3.tar.xz">oxygen-icons-4.12.3</a></td>
   <td align="right">219MB</td>
   <td><tt>3cc6e8a84151b7a22d5797a9c3915029ec330138</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/pairs-4.12.3.tar.xz">pairs-4.12.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>a56e5953f4a17bb9c0751282781989f8abeae24e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/palapeli-4.12.3.tar.xz">palapeli-4.12.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8bc2524cfa1e6a4b4c67578c6fe330b08da524ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/parley-4.12.3.tar.xz">parley-4.12.3</a></td>
   <td align="right">7.6MB</td>
   <td><tt>a895b582fdcdf6bb96e033155023a2b503bd5d88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/perlkde-4.12.3.tar.xz">perlkde-4.12.3</a></td>
   <td align="right">39kB</td>
   <td><tt>bc86a4eb85dc89559fc8e2a5cf9127cc5eb456ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/perlqt-4.12.3.tar.xz">perlqt-4.12.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>64d48b160635f2f05c74fadc532c04b88730c362</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/picmi-4.12.3.tar.xz">picmi-4.12.3</a></td>
   <td align="right">712kB</td>
   <td><tt>f645bfa857d449b3373c4c311b6ce182f4cc8c23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/poxml-4.12.3.tar.xz">poxml-4.12.3</a></td>
   <td align="right">30kB</td>
   <td><tt>946d3a3ed080e69244c08bb811ea46b7bd2b58e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/print-manager-4.12.3.tar.xz">print-manager-4.12.3</a></td>
   <td align="right">90kB</td>
   <td><tt>06fc6b80f43f95b454da7113fb420df3ecacce51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/pykde4-4.12.3.tar.xz">pykde4-4.12.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>6e5cab25aee404469d6875d067bf2ad3382e4a1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/qtruby-4.12.3.tar.xz">qtruby-4.12.3</a></td>
   <td align="right">517kB</td>
   <td><tt>f4be410ee17dbb1b28def317647b27852114139a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/qyoto-4.12.3.tar.xz">qyoto-4.12.3</a></td>
   <td align="right">495kB</td>
   <td><tt>bf616960b192d317593123bc195c5a6b2044c946</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/rocs-4.12.3.tar.xz">rocs-4.12.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>89205ba5f80bda1a57cd1fbbe0b43a7f7d4c0b98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/smokegen-4.12.3.tar.xz">smokegen-4.12.3</a></td>
   <td align="right">143kB</td>
   <td><tt>4d6ddd831ef89fa00c226fb3d00a2d31e255d7ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/smokekde-4.12.3.tar.xz">smokekde-4.12.3</a></td>
   <td align="right">36kB</td>
   <td><tt>1cb87c8fa3a163b5fb9e39e493c4387dfc3cf946</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/smokeqt-4.12.3.tar.xz">smokeqt-4.12.3</a></td>
   <td align="right">29kB</td>
   <td><tt>f46131aaaffab867f9e4c5350b191c4f44cbbfdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/step-4.12.3.tar.xz">step-4.12.3</a></td>
   <td align="right">353kB</td>
   <td><tt>fe51dccaf8433980946ea8f0ba262436388769c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/superkaramba-4.12.3.tar.xz">superkaramba-4.12.3</a></td>
   <td align="right">374kB</td>
   <td><tt>1438052bc9ea8304c2a7c2bb5e992d462be02559</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/svgpart-4.12.3.tar.xz">svgpart-4.12.3</a></td>
   <td align="right">8kB</td>
   <td><tt>d667b04ba8ab676d6d0b5521341c99c4113b341f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/sweeper-4.12.3.tar.xz">sweeper-4.12.3</a></td>
   <td align="right">80kB</td>
   <td><tt>81cdff5378a6abc708ad0a8c428cb6a11ddc2c9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/umbrello-4.12.3.tar.xz">umbrello-4.12.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>03de14dd4623681a80c3c0bfdc9469a698ee99f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-ar-4.12.3.tar.xz">kde-l10n-ar-4.12.3</a></td>
   <td align="right">3.1MB</td>
   <td><tt>01aded7d56b9d71a5e3c9654f92bc6c882b0fab5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-bg-4.12.3.tar.xz">kde-l10n-bg-4.12.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>6d6711b90b5e396700aff2cc646eb82296d1fe49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-bs-4.12.3.tar.xz">kde-l10n-bs-4.12.3</a></td>
   <td align="right">2.2MB</td>
   <td><tt>0d682ce8aeb38869133927b2a1ea3aee084159ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-ca-4.12.3.tar.xz">kde-l10n-ca-4.12.3</a></td>
   <td align="right">11MB</td>
   <td><tt>aa0b59e63eee148a03e32c3f61b0469e33128f55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-ca@valencia-4.12.3.tar.xz">kde-l10n-ca@valencia-4.12.3</a></td>
   <td align="right">2.2MB</td>
   <td><tt>0c94bf94200bcfc82398b2f6a79eae84933facc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-cs-4.12.3.tar.xz">kde-l10n-cs-4.12.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>164ec4b2ddcb9eda1115d33b7d18a3a44667f132</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-da-4.12.3.tar.xz">kde-l10n-da-4.12.3</a></td>
   <td align="right">12MB</td>
   <td><tt>e21b7fcf5e63eb5b00de5980cc07e69d90ae9d4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-de-4.12.3.tar.xz">kde-l10n-de-4.12.3</a></td>
   <td align="right">34MB</td>
   <td><tt>73debd468386f278fc284909e988e0c6104c1dad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-el-4.12.3.tar.xz">kde-l10n-el-4.12.3</a></td>
   <td align="right">4.6MB</td>
   <td><tt>7e75ab1da62d23ba64cb71ea8f949674821670ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-en_GB-4.12.3.tar.xz">kde-l10n-en_GB-4.12.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>fd9ed559af7857f29516ff2c5773500747a51e58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-es-4.12.3.tar.xz">kde-l10n-es-4.12.3</a></td>
   <td align="right">20MB</td>
   <td><tt>b1e8bed1294c5582d614b6832a866aaca6402f8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-et-4.12.3.tar.xz">kde-l10n-et-4.12.3</a></td>
   <td align="right">5.2MB</td>
   <td><tt>b8972147d2f26f8b0ef25b621dce009cd265a12e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-eu-4.12.3.tar.xz">kde-l10n-eu-4.12.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>f5683c63b4bf0ffdfe7e77433bae71cf1364dc6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-fi-4.12.3.tar.xz">kde-l10n-fi-4.12.3</a></td>
   <td align="right">2.6MB</td>
   <td><tt>8249301a9a65e21cb9d4d56cd63b9d01ec2cbbab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-fr-4.12.3.tar.xz">kde-l10n-fr-4.12.3</a></td>
   <td align="right">44MB</td>
   <td><tt>24ae1f6266b33ab56005cd274d3bbf0e6c861fb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-ga-4.12.3.tar.xz">kde-l10n-ga-4.12.3</a></td>
   <td align="right">2.7MB</td>
   <td><tt>b1659046fcda279c881951e747f1f7dad9f4cc35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-gl-4.12.3.tar.xz">kde-l10n-gl-4.12.3</a></td>
   <td align="right">3.4MB</td>
   <td><tt>4c9a1a925b92524ca52031860c7b32c7a3b89c26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-he-4.12.3.tar.xz">kde-l10n-he-4.12.3</a></td>
   <td align="right">2.0MB</td>
   <td><tt>de97fdacba3f55794c534cdca8b29ffaff20f0cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-hi-4.12.3.tar.xz">kde-l10n-hi-4.12.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>caa776fa8a2feed23de61ab41521e29269ececb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-hr-4.12.3.tar.xz">kde-l10n-hr-4.12.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>80456db82d2573155a42afd0e132499bfedf1300</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-hu-4.12.3.tar.xz">kde-l10n-hu-4.12.3</a></td>
   <td align="right">4.0MB</td>
   <td><tt>88f667e60f8fe2d51d08b15b14d2da95d4f28e9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-ia-4.12.3.tar.xz">kde-l10n-ia-4.12.3</a></td>
   <td align="right">1.3MB</td>
   <td><tt>a86d86ebde8a642a4683dc78f97e6ffd5c2f62fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-is-4.12.3.tar.xz">kde-l10n-is-4.12.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>583e5884f9e3973cc6d6b4464d8aa6193b4de6c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-it-4.12.3.tar.xz">kde-l10n-it-4.12.3</a></td>
   <td align="right">8.4MB</td>
   <td><tt>d9d62ca31c50aa59287e1193446def6e5d75eb32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-ja-4.12.3.tar.xz">kde-l10n-ja-4.12.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>6ef086bffffaf4b8a1560c77389e043da419f3b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-kk-4.12.3.tar.xz">kde-l10n-kk-4.12.3</a></td>
   <td align="right">2.5MB</td>
   <td><tt>ebe632fe949154c302a52a790e40742f79b11565</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-km-4.12.3.tar.xz">kde-l10n-km-4.12.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>9dc7be1d21b79c30f5e4b8af1d010cccedd5aeb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-ko-4.12.3.tar.xz">kde-l10n-ko-4.12.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d50fa84ec20d90821e2b000b1270429ee1e7a84a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-lt-4.12.3.tar.xz">kde-l10n-lt-4.12.3</a></td>
   <td align="right">12MB</td>
   <td><tt>13d88072b2e3540b248bd52ca6c1932afe56fac3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-lv-4.12.3.tar.xz">kde-l10n-lv-4.12.3</a></td>
   <td align="right">2.1MB</td>
   <td><tt>3f37b644dab49f9a232752088c017c83ed6db3a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-mr-4.12.3.tar.xz">kde-l10n-mr-4.12.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>0d3dac6ef999f0c29b191c91e2ab6ec785580f9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-nb-4.12.3.tar.xz">kde-l10n-nb-4.12.3</a></td>
   <td align="right">2.4MB</td>
   <td><tt>d3b9fff66c3b983994054d3e58b6f0edcfd2637b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-nds-4.12.3.tar.xz">kde-l10n-nds-4.12.3</a></td>
   <td align="right">3.0MB</td>
   <td><tt>ab63ec9f225e75eab8dac2c5f9df81121cde57bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-nl-4.12.3.tar.xz">kde-l10n-nl-4.12.3</a></td>
   <td align="right">13MB</td>
   <td><tt>20b47db0937559480a06157388148ae3913751fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-nn-4.12.3.tar.xz">kde-l10n-nn-4.12.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>472ddc515f4f125887ea07561e1d5e3b3725c361</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-pa-4.12.3.tar.xz">kde-l10n-pa-4.12.3</a></td>
   <td align="right">1.8MB</td>
   <td><tt>6daca7cd18ef5fb2c039fb32d7f44325bf3bb9cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-pl-4.12.3.tar.xz">kde-l10n-pl-4.12.3</a></td>
   <td align="right">16MB</td>
   <td><tt>11d3ff53029b428acd76fe9868343d97256c6039</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-pt-4.12.3.tar.xz">kde-l10n-pt-4.12.3</a></td>
   <td align="right">3.5MB</td>
   <td><tt>cb9ba75586384aea6dfc87c7eb4739cecce33814</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-pt_BR-4.12.3.tar.xz">kde-l10n-pt_BR-4.12.3</a></td>
   <td align="right">23MB</td>
   <td><tt>18532e113d90d3a9799d8adae6623e0165a4063d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-ro-4.12.3.tar.xz">kde-l10n-ro-4.12.3</a></td>
   <td align="right">2.8MB</td>
   <td><tt>362a93f6b108d1a25dd1d15c855d69ee469dfbbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-ru-4.12.3.tar.xz">kde-l10n-ru-4.12.3</a></td>
   <td align="right">22MB</td>
   <td><tt>2913b612de4783d19fe54dffdd01e2426909a3b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-sk-4.12.3.tar.xz">kde-l10n-sk-4.12.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>e26dccf8f5ec4365e99226fa2d16aa3dc24a9026</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-sl-4.12.3.tar.xz">kde-l10n-sl-4.12.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>8923eaba16e3287f211a8f63791bdc95e31fe06e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-sr-4.12.3.tar.xz">kde-l10n-sr-4.12.3</a></td>
   <td align="right">4.4MB</td>
   <td><tt>fde3b6280f8dec25decf0d769abd89944369e2b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-sv-4.12.3.tar.xz">kde-l10n-sv-4.12.3</a></td>
   <td align="right">13MB</td>
   <td><tt>fe00cb96e9d77fd6731198d276779b9a3902cc18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-tr-4.12.3.tar.xz">kde-l10n-tr-4.12.3</a></td>
   <td align="right">3.8MB</td>
   <td><tt>03968ac494581628b9893c238b41576127d3e5a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-ug-4.12.3.tar.xz">kde-l10n-ug-4.12.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>fb0dcefa66d1110318fd8f62faa4f85a0a8adae7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-uk-4.12.3.tar.xz">kde-l10n-uk-4.12.3</a></td>
   <td align="right">24MB</td>
   <td><tt>227d6f1ed92634b539bea14654b4d62134d82216</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-vi-4.12.3.tar.xz">kde-l10n-vi-4.12.3</a></td>
   <td align="right">922kB</td>
   <td><tt>8cf7413882eae5526d2921e1ba4da951aad8de89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-wa-4.12.3.tar.xz">kde-l10n-wa-4.12.3</a></td>
   <td align="right">1.6MB</td>
   <td><tt>7d1791dc8462792b45ee0950483e54d1ed9e0760</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-zh_CN-4.12.3.tar.xz">kde-l10n-zh_CN-4.12.3</a></td>
   <td align="right">3.4MB</td>
   <td><tt>f922ad19e67b9ad47867e1bdd4843a530c0ed268</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.3/src/kde-l10n/kde-l10n-zh_TW-4.12.3.tar.xz">kde-l10n-zh_TW-4.12.3</a></td>
   <td align="right">2.5MB</td>
   <td><tt>c8b0b66ce03b35219340ca50982a9c24144aa054</tt></td>
</tr>

</table>
