
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/attica-5.11.0.tar.xz">attica-5.11.0</a></td>
   <td align="right">59kB</td>
   <td><tt>4163f0b581c16202ca4e134dec6e2069e832ebfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/bluez-qt-5.11.0.tar.xz">bluez-qt-5.11.0</a></td>
   <td align="right">71kB</td>
   <td><tt>f8c16164a1b16ae26edef16e7b017f6671b07013</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/extra-cmake-modules-5.11.0.tar.xz">extra-cmake-modules-5.11.0</a></td>
   <td align="right">129kB</td>
   <td><tt>5c541b28d59de6ef29522282c23a0afc7356d3c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/frameworkintegration-5.11.0.tar.xz">frameworkintegration-5.11.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>4c4411d6a83025b9665bad3e7fafe2530c29dfd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kactivities-5.11.0.tar.xz">kactivities-5.11.0</a></td>
   <td align="right">161kB</td>
   <td><tt>b2f2cf6ddf2060b061248c0ec24f6381ce6917f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kapidox-5.11.0.tar.xz">kapidox-5.11.0</a></td>
   <td align="right">127kB</td>
   <td><tt>cfed53fa73bed77061d25f3b40402c87098203e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/karchive-5.11.0.tar.xz">karchive-5.11.0</a></td>
   <td align="right">106kB</td>
   <td><tt>46f526bded55772c4f9e60bb7fc1891c73479bf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kauth-5.11.0.tar.xz">kauth-5.11.0</a></td>
   <td align="right">80kB</td>
   <td><tt>9740d238ca209eb43e48aaa0bf375a8c9a3e3100</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kbookmarks-5.11.0.tar.xz">kbookmarks-5.11.0</a></td>
   <td align="right">112kB</td>
   <td><tt>ba2bb31eeb5593f627b2f8d334f31b3d8793990d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kcmutils-5.11.0.tar.xz">kcmutils-5.11.0</a></td>
   <td align="right">229kB</td>
   <td><tt>e2907fc348abbe1d0904ff63970d0678195269c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kcodecs-5.11.0.tar.xz">kcodecs-5.11.0</a></td>
   <td align="right">218kB</td>
   <td><tt>b950224621d9787c5b253c620bd3c29ca5b6844c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kcompletion-5.11.0.tar.xz">kcompletion-5.11.0</a></td>
   <td align="right">113kB</td>
   <td><tt>dff3d665ed3248ffca31a67b7743bf9185a5b8db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kconfig-5.11.0.tar.xz">kconfig-5.11.0</a></td>
   <td align="right">213kB</td>
   <td><tt>270e5e006816d59ca3f742bc2392c95a21c2f221</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kconfigwidgets-5.11.0.tar.xz">kconfigwidgets-5.11.0</a></td>
   <td align="right">350kB</td>
   <td><tt>c3f49dc863f232591208e9df04c8e137b30ba685</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kcoreaddons-5.11.0.tar.xz">kcoreaddons-5.11.0</a></td>
   <td align="right">294kB</td>
   <td><tt>4191f62eb1747de24dee1e92898a985fd1c1a94c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kcrash-5.11.0.tar.xz">kcrash-5.11.0</a></td>
   <td align="right">19kB</td>
   <td><tt>be7fdf5b1012c73fca00e71c7e9251bb29556a87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kdbusaddons-5.11.0.tar.xz">kdbusaddons-5.11.0</a></td>
   <td align="right">32kB</td>
   <td><tt>3afe097162ec6beda589a1dc1abf892ad6729ffb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kdeclarative-5.11.0.tar.xz">kdeclarative-5.11.0</a></td>
   <td align="right">155kB</td>
   <td><tt>e9366bf4df213820b98ef9eec220b549546e0970</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kded-5.11.0.tar.xz">kded-5.11.0</a></td>
   <td align="right">34kB</td>
   <td><tt>5424aae6d6dbb3753678b3d12219b2f8fd3e7346</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kdesignerplugin-5.11.0.tar.xz">kdesignerplugin-5.11.0</a></td>
   <td align="right">84kB</td>
   <td><tt>4a01466b92857e0da992af73a57c0efa07c61fff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kdesu-5.11.0.tar.xz">kdesu-5.11.0</a></td>
   <td align="right">42kB</td>
   <td><tt>0a2c50f53588a6ed340f95226154c45ef0ba5569</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kdewebkit-5.11.0.tar.xz">kdewebkit-5.11.0</a></td>
   <td align="right">28kB</td>
   <td><tt>6910610b167c1d3d47e235bac45cb4613446aa97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kdnssd-5.11.0.tar.xz">kdnssd-5.11.0</a></td>
   <td align="right">55kB</td>
   <td><tt>eef44b91a2c1bd4cf2e5140a381e391bb5c94620</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kdoctools-5.11.0.tar.xz">kdoctools-5.11.0</a></td>
   <td align="right">396kB</td>
   <td><tt>69068070f29374eef12ab5f9ae261c9cc3c705b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kemoticons-5.11.0.tar.xz">kemoticons-5.11.0</a></td>
   <td align="right">71kB</td>
   <td><tt>eeb064ae09eb258a3ccb04acfab0a2c208e08a61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kglobalaccel-5.11.0.tar.xz">kglobalaccel-5.11.0</a></td>
   <td align="right">79kB</td>
   <td><tt>6c533b0b9856fed6703926316fb5024a325a565a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kguiaddons-5.11.0.tar.xz">kguiaddons-5.11.0</a></td>
   <td align="right">38kB</td>
   <td><tt>1444a735827d295cf0dfb6bc08a3b72518d97e0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/ki18n-5.11.0.tar.xz">ki18n-5.11.0</a></td>
   <td align="right">572kB</td>
   <td><tt>0c4751ebc1f3c488f3e95622acf9311e367b7402</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kiconthemes-5.11.0.tar.xz">kiconthemes-5.11.0</a></td>
   <td align="right">190kB</td>
   <td><tt>56dab88c2c8dfab3f1907e6a17c4cc6aad1f4c17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kidletime-5.11.0.tar.xz">kidletime-5.11.0</a></td>
   <td align="right">22kB</td>
   <td><tt>8f5abb78d2b8b5a62c60e9b17a88d3345db1f5e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kimageformats-5.11.0.tar.xz">kimageformats-5.11.0</a></td>
   <td align="right">91kB</td>
   <td><tt>5bac294ff1088996af8fb90283ddc313cd6622a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kinit-5.11.0.tar.xz">kinit-5.11.0</a></td>
   <td align="right">114kB</td>
   <td><tt>e9babb929e27419cc78b0b4936764616680bbf0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kio-5.11.0.tar.xz">kio-5.11.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>8a20f17d613b5ddfca363d71797bf64ffca4a264</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kitemmodels-5.11.0.tar.xz">kitemmodels-5.11.0</a></td>
   <td align="right">365kB</td>
   <td><tt>87b62889785c9a407ccfc29832ff210afe289a5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kitemviews-5.11.0.tar.xz">kitemviews-5.11.0</a></td>
   <td align="right">72kB</td>
   <td><tt>f5f41a15297a0fed787f9ff7b71b2f26e1a92a3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kjobwidgets-5.11.0.tar.xz">kjobwidgets-5.11.0</a></td>
   <td align="right">86kB</td>
   <td><tt>2953b5b98a340cb023a601e400663159c89867c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/knewstuff-5.11.0.tar.xz">knewstuff-5.11.0</a></td>
   <td align="right">830kB</td>
   <td><tt>ee19ee600ecfa7a1aef566e512cff5172a35b173</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/knotifications-5.11.0.tar.xz">knotifications-5.11.0</a></td>
   <td align="right">90kB</td>
   <td><tt>add56e8945eb987742e07bd624426e3bc7ff3bd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/knotifyconfig-5.11.0.tar.xz">knotifyconfig-5.11.0</a></td>
   <td align="right">80kB</td>
   <td><tt>17e8571d7af1112b6ef6c708944014b7aeb02c25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kpackage-5.11.0.tar.xz">kpackage-5.11.0</a></td>
   <td align="right">95kB</td>
   <td><tt>151aa58865b12d016ad78c7bd0567e2cd02403dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kparts-5.11.0.tar.xz">kparts-5.11.0</a></td>
   <td align="right">150kB</td>
   <td><tt>40c1662823c0c35018cc175a55ee064920e528d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kpeople-5.11.0.tar.xz">kpeople-5.11.0</a></td>
   <td align="right">55kB</td>
   <td><tt>90963263f5a4d0c81bde34ee5ec4907f5455be7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kplotting-5.11.0.tar.xz">kplotting-5.11.0</a></td>
   <td align="right">28kB</td>
   <td><tt>4b7439043a0f75e7614681aa9f22920c7c7c831c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kpty-5.11.0.tar.xz">kpty-5.11.0</a></td>
   <td align="right">55kB</td>
   <td><tt>d402020ec466db4ca166fd924a628f69cf275f71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kservice-5.11.0.tar.xz">kservice-5.11.0</a></td>
   <td align="right">257kB</td>
   <td><tt>cfefce85aa61461c55be64de7bac5f3f3bed654a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/ktexteditor-5.11.0.tar.xz">ktexteditor-5.11.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>e9ac2d687058cb7f40fefdc5e166ed757000f58e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/ktextwidgets-5.11.0.tar.xz">ktextwidgets-5.11.0</a></td>
   <td align="right">298kB</td>
   <td><tt>79e47a1177410916bea84108cc3aacf2b85195ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kunitconversion-5.11.0.tar.xz">kunitconversion-5.11.0</a></td>
   <td align="right">605kB</td>
   <td><tt>eeefd6c731456b55f96f8a08afa17d465f0edc91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kwallet-5.11.0.tar.xz">kwallet-5.11.0</a></td>
   <td align="right">261kB</td>
   <td><tt>1302bf09ddae4fe6be4aa5bbf3aae92d301379a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kwidgetsaddons-5.11.0.tar.xz">kwidgetsaddons-5.11.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>db63cdc24ad85217d1adddaa3a347297a76d4668</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kwindowsystem-5.11.0.tar.xz">kwindowsystem-5.11.0</a></td>
   <td align="right">156kB</td>
   <td><tt>4b4077d0cb1ad1f58e92093155e004e4e77801fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kxmlgui-5.11.0.tar.xz">kxmlgui-5.11.0</a></td>
   <td align="right">842kB</td>
   <td><tt>041dbdd846183691e3067d98fa4826478a70ccd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/kxmlrpcclient-5.11.0.tar.xz">kxmlrpcclient-5.11.0</a></td>
   <td align="right">27kB</td>
   <td><tt>3c5a1f2b0678cae6daad26698675b331b422d6b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/modemmanager-qt-5.11.0.tar.xz">modemmanager-qt-5.11.0</a></td>
   <td align="right">96kB</td>
   <td><tt>91955b23fd1b54b6fb2cf2c352cf3fb324919e5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/networkmanager-qt-5.11.0.tar.xz">networkmanager-qt-5.11.0</a></td>
   <td align="right">149kB</td>
   <td><tt>df2bb93cb72dfb6b125169e95acb6919f05ac664</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/plasma-framework-5.11.0.tar.xz">plasma-framework-5.11.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>8fb0e1d1b82cb5b6babe47c1f20406ccb5f29d65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/solid-5.11.0.tar.xz">solid-5.11.0</a></td>
   <td align="right">259kB</td>
   <td><tt>9236a4e999f5e64b2bb3a2b3ec81be057ce278e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/sonnet-5.11.0.tar.xz">sonnet-5.11.0</a></td>
   <td align="right">267kB</td>
   <td><tt>3b2b55e0645e477abe041c2a70d49ecfa0263b84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.11/threadweaver-5.11.0.tar.xz">threadweaver-5.11.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>50c0af5c344af197ac33f75cec97df45dd138fea</tt></td>
</tr>

</table>
