<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/amor-15.04.0.tar.xz">amor-15.04.0</a></td>
   <td align="right">171kB</td>
   <td><tt>13c1cff84ffc27a7b05974d2728b681fc7407d15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/analitza-15.04.0.tar.xz">analitza-15.04.0</a></td>
   <td align="right">222kB</td>
   <td><tt>3553bced6fa0bca56ae577c900752822c1165f44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/ark-15.04.0.tar.xz">ark-15.04.0</a></td>
   <td align="right">232kB</td>
   <td><tt>7f5d5bd32ab472e2c17f51d9ee19d16cdb9c9fbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/artikulate-15.04.0.tar.xz">artikulate-15.04.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>32a729e70e954d4d543414a59fb68c56b23e223c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/audiocd-kio-15.04.0.tar.xz">audiocd-kio-15.04.0</a></td>
   <td align="right">50kB</td>
   <td><tt>e2d6985909317931cff6d5977929d010cb34b78a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/blinken-15.04.0.tar.xz">blinken-15.04.0</a></td>
   <td align="right">553kB</td>
   <td><tt>6b918f26977bd88c03e6e78a59f25d01624eabc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/bomber-15.04.0.tar.xz">bomber-15.04.0</a></td>
   <td align="right">384kB</td>
   <td><tt>68b6da129b6fc6107f7281ad91d0e6810234ba3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/bovo-15.04.0.tar.xz">bovo-15.04.0</a></td>
   <td align="right">102kB</td>
   <td><tt>909f4d9513945ae1959e3bd05ef314567568888d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/cantor-15.04.0.tar.xz">cantor-15.04.0</a></td>
   <td align="right">347kB</td>
   <td><tt>22e95c16e5a5d624b41b80024d213fdcb9898a69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/cervisia-15.04.0.tar.xz">cervisia-15.04.0</a></td>
   <td align="right">364kB</td>
   <td><tt>bfb1d77a424ed167ffa7dc27df0e89152f2709b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/dolphin-plugins-15.04.0.tar.xz">dolphin-plugins-15.04.0</a></td>
   <td align="right">57kB</td>
   <td><tt>27db6dad73591ef45f26c69abfef94430870d2ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/dragon-15.04.0.tar.xz">dragon-15.04.0</a></td>
   <td align="right">390kB</td>
   <td><tt>686ec11aeeeb3f0c056b0876c0cf92ad2fc6ec0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/ffmpegthumbs-15.04.0.tar.xz">ffmpegthumbs-15.04.0</a></td>
   <td align="right">19kB</td>
   <td><tt>06c7796b692cd62331d416c5ea7c89bf9e0e561b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/filelight-15.04.0.tar.xz">filelight-15.04.0</a></td>
   <td align="right">280kB</td>
   <td><tt>9070e51ee3b385fbb1647991740f798cd548fa3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/granatier-15.04.0.tar.xz">granatier-15.04.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>e1fb08189320eedfeadccfec0f3b30097b7dca5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/gwenview-15.04.0.tar.xz">gwenview-15.04.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>116128080427d8d17ae98744c73afa7aa674a363</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/jovie-15.04.0.tar.xz">jovie-15.04.0</a></td>
   <td align="right">381kB</td>
   <td><tt>14d4262747e20200cc42734739fab098c19bb9ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/juk-15.04.0.tar.xz">juk-15.04.0</a></td>
   <td align="right">433kB</td>
   <td><tt>43a968cae84035532e265ab7c23694d12f6dbf26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kaccessible-15.04.0.tar.xz">kaccessible-15.04.0</a></td>
   <td align="right">20kB</td>
   <td><tt>85ea6b40e963174092036445aaa6c1379a584ef4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kaccounts-integration-15.04.0.tar.xz">kaccounts-integration-15.04.0</a></td>
   <td align="right">52kB</td>
   <td><tt>149ee0ea356ea580f2ddb8be3fa5658056673ca8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kaccounts-providers-15.04.0.tar.xz">kaccounts-providers-15.04.0</a></td>
   <td align="right">11kB</td>
   <td><tt>504fc5bffb18cd779695e2252d031126d4903720</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kajongg-15.04.0.tar.xz">kajongg-15.04.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>cf1872a6db518ded2ac9dbc2ef08005fb05c519a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kalgebra-15.04.0.tar.xz">kalgebra-15.04.0</a></td>
   <td align="right">263kB</td>
   <td><tt>4566f55db3bb81288c9dee22c3ef0925659426fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kalzium-15.04.0.tar.xz">kalzium-15.04.0</a></td>
   <td align="right">3.7MB</td>
   <td><tt>522c6075f1201bd522744def79e386819242948c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kamera-15.04.0.tar.xz">kamera-15.04.0</a></td>
   <td align="right">34kB</td>
   <td><tt>c7cc64c6e3977958444fa0087ee3fd3307935043</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kanagram-15.04.0.tar.xz">kanagram-15.04.0</a></td>
   <td align="right">4.5MB</td>
   <td><tt>5b5ef772ecd58e3b13ff7481ba80960cc901e9ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kapman-15.04.0.tar.xz">kapman-15.04.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>9e9d2fe5ec3e2cb7c6f569a81f7a479e406cbb32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kapptemplate-15.04.0.tar.xz">kapptemplate-15.04.0</a></td>
   <td align="right">689kB</td>
   <td><tt>262a56f340bccb03e6b5d0a11d6547500a2c4f6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kate-15.04.0.tar.xz">kate-15.04.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2ba29201f2b41f545874f9a58b229bd6acdc5163</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/katomic-15.04.0.tar.xz">katomic-15.04.0</a></td>
   <td align="right">645kB</td>
   <td><tt>da59c0b8f2b6fd88325167ae77e5fcd770cff4b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kblackbox-15.04.0.tar.xz">kblackbox-15.04.0</a></td>
   <td align="right">254kB</td>
   <td><tt>c7ab775bd81dde1a10627b8912262519c39b2a0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kblocks-15.04.0.tar.xz">kblocks-15.04.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>505c5350e59e36677f52f92cf57aec75081999e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kbounce-15.04.0.tar.xz">kbounce-15.04.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>b475fa02ce423c3f1dd47c7009eceecbba5a829f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kbreakout-15.04.0.tar.xz">kbreakout-15.04.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>60e610766af5f6c750d6b2bf89ea4c7ac6f41909</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kbruch-15.04.0.tar.xz">kbruch-15.04.0</a></td>
   <td align="right">883kB</td>
   <td><tt>bb6e80a3d8230c589d04c8e66d7cf8ce88253c94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kcachegrind-15.04.0.tar.xz">kcachegrind-15.04.0</a></td>
   <td align="right">230kB</td>
   <td><tt>33c977c38f045e5e7f7a62ae03f7aa48bbb46df5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kcalc-15.04.0.tar.xz">kcalc-15.04.0</a></td>
   <td align="right">81kB</td>
   <td><tt>f8a220c114d5e88b345bcbe1a2318f496ae70534</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kcharselect-15.04.0.tar.xz">kcharselect-15.04.0</a></td>
   <td align="right">82kB</td>
   <td><tt>40b376341a80ebd5d918ef6299a0bde1fc7c3f6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kcolorchooser-15.04.0.tar.xz">kcolorchooser-15.04.0</a></td>
   <td align="right">4kB</td>
   <td><tt>b192df280a6938fad8b92bb1da62835a8e3cdf87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kcron-15.04.0.tar.xz">kcron-15.04.0</a></td>
   <td align="right">170kB</td>
   <td><tt>f5462f90cb1ccb566988d3ef4de4c89c309b283a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kdeartwork-15.04.0.tar.xz">kdeartwork-15.04.0</a></td>
   <td align="right">134MB</td>
   <td><tt>daf63e3534aec6c55c1e3d43f3bec73b2aeeab26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-baseapps-15.04.0.tar.xz">kde-baseapps-15.04.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>18ec78a547ca68b110d3b82a12a0001bf62d0b66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-base-artwork-15.04.0.tar.xz">kde-base-artwork-15.04.0</a></td>
   <td align="right">7.0MB</td>
   <td><tt>bd91ff7a3b8cb34c4058d286c21cb29aae7387fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-dev-scripts-15.04.0.tar.xz">kde-dev-scripts-15.04.0</a></td>
   <td align="right">299kB</td>
   <td><tt>e32b495c82e4377fe2e32e98aee5eec6c3cbe21f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-dev-utils-15.04.0.tar.xz">kde-dev-utils-15.04.0</a></td>
   <td align="right">50kB</td>
   <td><tt>32ee845c231b2c8e70c2d29123a5b68a70547105</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kdeedu-data-15.04.0.tar.xz">kdeedu-data-15.04.0</a></td>
   <td align="right">94kB</td>
   <td><tt>8992f5df2fa5e54491ee2fae8d4456a5cb8485b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kdegraphics-mobipocket-15.04.0.tar.xz">kdegraphics-mobipocket-15.04.0</a></td>
   <td align="right">14kB</td>
   <td><tt>476fc1ce1cd3382c415af6782b0ad97b481a8254</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kdegraphics-strigi-analyzer-15.04.0.tar.xz">kdegraphics-strigi-analyzer-15.04.0</a></td>
   <td align="right">39kB</td>
   <td><tt>5bde36d59823bbf6e5ea03350271b0a03405cdef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kdegraphics-thumbnailers-15.04.0.tar.xz">kdegraphics-thumbnailers-15.04.0</a></td>
   <td align="right">40kB</td>
   <td><tt>55e797d2e2325fb1f66a10f2921d53bce3e3b8b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kdelibs-4.14.7.tar.xz">kdelibs-4.14.7</a></td>
   <td align="right">11MB</td>
   <td><tt>6de82328f692717b97ad6833109a564a7b6a0a9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kdenetwork-filesharing-15.04.0.tar.xz">kdenetwork-filesharing-15.04.0</a></td>
   <td align="right">26kB</td>
   <td><tt>456dc4e4dc352226d2454a2e71b3d627d6eb6709</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kdenetwork-strigi-analyzers-15.04.0.tar.xz">kdenetwork-strigi-analyzers-15.04.0</a></td>
   <td align="right">14kB</td>
   <td><tt>064b091e891c955f85dbe58d0e0b6ad96805e79d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kdenlive-15.04.0.tar.xz">kdenlive-15.04.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>7dafc15ab102515997bb638d5398ad837441f9ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kdepim-4.14.7.tar.xz">kdepim-4.14.7</a></td>
   <td align="right">13MB</td>
   <td><tt>b30fd7258f17f5eed7ea2f819f4cb0edac35ef24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kdepimlibs-4.14.7.tar.xz">kdepimlibs-4.14.7</a></td>
   <td align="right">2.7MB</td>
   <td><tt>637f619857d96fb996366f3fa8984ded9124afee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kdepim-runtime-4.14.7.tar.xz">kdepim-runtime-4.14.7</a></td>
   <td align="right">1.1MB</td>
   <td><tt>b5ceac3f2e3fc14b2f823afb22d12aa51798c833</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-runtime-15.04.0.tar.xz">kde-runtime-15.04.0</a></td>
   <td align="right">7.5MB</td>
   <td><tt>5cbfec48ead85a1cd3dab675b98623dd4a831d91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kdesdk-kioslaves-15.04.0.tar.xz">kdesdk-kioslaves-15.04.0</a></td>
   <td align="right">353kB</td>
   <td><tt>fc1c3d655b20e8f4d64fb6bb1fa568c00a0df24b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kdesdk-strigi-analyzers-15.04.0.tar.xz">kdesdk-strigi-analyzers-15.04.0</a></td>
   <td align="right">17kB</td>
   <td><tt>221ece8bea9fbe4a819c50d4ee11d4671118b676</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kdesdk-thumbnailers-15.04.0.tar.xz">kdesdk-thumbnailers-15.04.0</a></td>
   <td align="right">11kB</td>
   <td><tt>f4bed15ed73e4f8d78a34001036d2e1f61528a40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-wallpapers-15.04.0.tar.xz">kde-wallpapers-15.04.0</a></td>
   <td align="right">86MB</td>
   <td><tt>2db123a59c234715d21cff630671cb42c25b56bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kdewebdev-15.04.0.tar.xz">kdewebdev-15.04.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>50eb1265290cb1b85756cde9c737c61e476f1703</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-workspace-4.11.18.tar.xz">kde-workspace-4.11.18</a></td>
   <td align="right">12MB</td>
   <td><tt>a83479e966eac138fa473e71e7595084f3a85a83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kdf-15.04.0.tar.xz">kdf-15.04.0</a></td>
   <td align="right">145kB</td>
   <td><tt>9e86f61f22408d38ac5e4a088c45c5f796284c88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kdiamond-15.04.0.tar.xz">kdiamond-15.04.0</a></td>
   <td align="right">3.9MB</td>
   <td><tt>d48a915e1eef6ceb1ad6008a4be87b8c31427756</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kfloppy-15.04.0.tar.xz">kfloppy-15.04.0</a></td>
   <td align="right">52kB</td>
   <td><tt>c9baaaef6279b96618c031caa69c613d4d5ee0ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kfourinline-15.04.0.tar.xz">kfourinline-15.04.0</a></td>
   <td align="right">274kB</td>
   <td><tt>a766702d18ea9f68f56dab137a630af19b289092</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kgamma-15.04.0.tar.xz">kgamma-15.04.0</a></td>
   <td align="right">22kB</td>
   <td><tt>df7ebed1419622aeadc70fa5aa4cbcd0aa0c0c32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kgeography-15.04.0.tar.xz">kgeography-15.04.0</a></td>
   <td align="right">6.4MB</td>
   <td><tt>72b9059cba3ea5228ceaceb8ea4dd8fb9d5248fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kget-15.04.0.tar.xz">kget-15.04.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>b3a27541e472bdb79518f9f8e23b177fdda8f43e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kgoldrunner-15.04.0.tar.xz">kgoldrunner-15.04.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>5434dca2ef677b9a285b9d346fc6126c9baef3b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kgpg-15.04.0.tar.xz">kgpg-15.04.0</a></td>
   <td align="right">790kB</td>
   <td><tt>fcc9ae0c2a3699f7a179178f0f3c6402d1960627</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/khangman-15.04.0.tar.xz">khangman-15.04.0</a></td>
   <td align="right">3.7MB</td>
   <td><tt>f1cd6991cc17f952bd6c07ca039d8900a329d08b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kig-15.04.0.tar.xz">kig-15.04.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>5a1bbfa9dcdfb95d4d598ea1b2c8a3e081ce57d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kigo-15.04.0.tar.xz">kigo-15.04.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d3054012f39cef2404d9dba9a49c05737431d995</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/killbots-15.04.0.tar.xz">killbots-15.04.0</a></td>
   <td align="right">940kB</td>
   <td><tt>08ac08ba65bb5c6283ef96f577a18c319a99d898</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kiriki-15.04.0.tar.xz">kiriki-15.04.0</a></td>
   <td align="right">114kB</td>
   <td><tt>37f36aba0f3073dee82c27046690a63b28ced715</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kiten-15.04.0.tar.xz">kiten-15.04.0</a></td>
   <td align="right">11MB</td>
   <td><tt>f466dcd616893a69eed29849f1c58f9181d0166c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kjumpingcube-15.04.0.tar.xz">kjumpingcube-15.04.0</a></td>
   <td align="right">161kB</td>
   <td><tt>32c67381c4638dab44224707ac1a8d8e30600565</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/klettres-15.04.0.tar.xz">klettres-15.04.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>3c5e1b8ad3ad5a3715f6e40054e4be3a69500ecb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/klickety-15.04.0.tar.xz">klickety-15.04.0</a></td>
   <td align="right">765kB</td>
   <td><tt>0108646a810067b83ba2d43e33dec30340bd7373</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/klines-15.04.0.tar.xz">klines-15.04.0</a></td>
   <td align="right">928kB</td>
   <td><tt>ada70a8a63a67c6486e8442a2fc24632d8f827c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kmag-15.04.0.tar.xz">kmag-15.04.0</a></td>
   <td align="right">84kB</td>
   <td><tt>0c64865c2e1b7d166e5205e276c9cb943372bd8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kmahjongg-15.04.0.tar.xz">kmahjongg-15.04.0</a></td>
   <td align="right">984kB</td>
   <td><tt>a13fd83565dce8fb64e8797de46485c201e42b33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kmines-15.04.0.tar.xz">kmines-15.04.0</a></td>
   <td align="right">609kB</td>
   <td><tt>86e74c65409fc6903de6d2da28b63328cc7290d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kmix-15.04.0.tar.xz">kmix-15.04.0</a></td>
   <td align="right">379kB</td>
   <td><tt>9e5b2ed02a796e13d194af335ae5fff88e6f9016</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kmousetool-15.04.0.tar.xz">kmousetool-15.04.0</a></td>
   <td align="right">35kB</td>
   <td><tt>ba8c11fea3ae349e445aaf35364aac54e0aaae07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kmouth-15.04.0.tar.xz">kmouth-15.04.0</a></td>
   <td align="right">301kB</td>
   <td><tt>869108df0210ffa051ccd677773caa909e58db8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kmplot-15.04.0.tar.xz">kmplot-15.04.0</a></td>
   <td align="right">646kB</td>
   <td><tt>326d6b35df1dd2c0fa163b211b909c2be64b4ded</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/knavalbattle-15.04.0.tar.xz">knavalbattle-15.04.0</a></td>
   <td align="right">834kB</td>
   <td><tt>a052697d6636b55940e93f0d22f15e0caabba2b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/knetwalk-15.04.0.tar.xz">knetwalk-15.04.0</a></td>
   <td align="right">764kB</td>
   <td><tt>5e3b7e3214c9d4146b8579bd82a593b276e112c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kolf-15.04.0.tar.xz">kolf-15.04.0</a></td>
   <td align="right">750kB</td>
   <td><tt>9624b9d65666a786aa7b3d51b30be822c59d0585</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kollision-15.04.0.tar.xz">kollision-15.04.0</a></td>
   <td align="right">202kB</td>
   <td><tt>def8b5ed77bdb7b324021d54d86faa928ab1c55b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kolourpaint-15.04.0.tar.xz">kolourpaint-15.04.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>6a9fe90da4c812acb31279e36e24847357b7b196</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kompare-15.04.0.tar.xz">kompare-15.04.0</a></td>
   <td align="right">336kB</td>
   <td><tt>c35f3ee00012ac48d3042ab05dc31c610bea76ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/konquest-15.04.0.tar.xz">konquest-15.04.0</a></td>
   <td align="right">396kB</td>
   <td><tt>02f0e74b63b911afc767db52b23709a090337482</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/konsole-15.04.0.tar.xz">konsole-15.04.0</a></td>
   <td align="right">450kB</td>
   <td><tt>62550e1a48ecc845df52759e106dff7a2a4d86e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kopete-15.04.0.tar.xz">kopete-15.04.0</a></td>
   <td align="right">6.0MB</td>
   <td><tt>c287f0fdfc179d97a634320dd54aebcba08561d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kpat-15.04.0.tar.xz">kpat-15.04.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>159f19b88cf2edd5150f8bffde36def6ab6e5fcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kppp-15.04.0.tar.xz">kppp-15.04.0</a></td>
   <td align="right">683kB</td>
   <td><tt>bbc0e3c6b3196eb309a5c5de57dd647396618b82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kqtquickcharts-15.04.0.tar.xz">kqtquickcharts-15.04.0</a></td>
   <td align="right">20kB</td>
   <td><tt>8ef9bfc30fe1dc5f96c72c18d9e791102c86f68d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/krdc-15.04.0.tar.xz">krdc-15.04.0</a></td>
   <td align="right">389kB</td>
   <td><tt>3012df211ccf84b5c5077c2ccc8d20f6270a1ee7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kremotecontrol-15.04.0.tar.xz">kremotecontrol-15.04.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>2ec946acb6b2f5845031595e848e758ddc40ffee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kreversi-15.04.0.tar.xz">kreversi-15.04.0</a></td>
   <td align="right">464kB</td>
   <td><tt>4999cbe0c2512bd9d830f1b410ec5b04608469c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/krfb-15.04.0.tar.xz">krfb-15.04.0</a></td>
   <td align="right">319kB</td>
   <td><tt>760200b84cd1efe91f379efbce91ce5cc1476194</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kruler-15.04.0.tar.xz">kruler-15.04.0</a></td>
   <td align="right">126kB</td>
   <td><tt>de3298191eaa07664c7d068185b0f1fc62c6baeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/ksaneplugin-15.04.0.tar.xz">ksaneplugin-15.04.0</a></td>
   <td align="right">12kB</td>
   <td><tt>b58188d285b96a91eeb4c91e146174dd3007e5ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kscd-15.04.0.tar.xz">kscd-15.04.0</a></td>
   <td align="right">90kB</td>
   <td><tt>77ab5dc33b7cef8bde25220220e41bfb3bb24817</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kshisen-15.04.0.tar.xz">kshisen-15.04.0</a></td>
   <td align="right">133kB</td>
   <td><tt>dfe321f7ce7940b1792025bc58bd69c46c29c219</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/ksirk-15.04.0.tar.xz">ksirk-15.04.0</a></td>
   <td align="right">4.7MB</td>
   <td><tt>d8b13658d15277312308bbc87b30dc7e61d4616d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/ksnakeduel-15.04.0.tar.xz">ksnakeduel-15.04.0</a></td>
   <td align="right">290kB</td>
   <td><tt>a082e6851be76a08422118e662868896cae067ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/ksnapshot-15.04.0.tar.xz">ksnapshot-15.04.0</a></td>
   <td align="right">252kB</td>
   <td><tt>a0d65abf7a50250027491c1ceb7e4ab98bbb8ec2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kspaceduel-15.04.0.tar.xz">kspaceduel-15.04.0</a></td>
   <td align="right">247kB</td>
   <td><tt>9506ff50a5ab2ebd0b2d15710de97f9074de9f05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/ksquares-15.04.0.tar.xz">ksquares-15.04.0</a></td>
   <td align="right">78kB</td>
   <td><tt>379c53cbdadd4a91ba6c5eda411eb4d58456cb92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kstars-15.04.0.tar.xz">kstars-15.04.0</a></td>
   <td align="right">12MB</td>
   <td><tt>94b7124e803d41af4bf9e7ed53f7b4735471cf20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/ksudoku-15.04.0.tar.xz">ksudoku-15.04.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d644598088ec4fd5531aff744d6f17e7f97cfc11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/ksystemlog-15.04.0.tar.xz">ksystemlog-15.04.0</a></td>
   <td align="right">372kB</td>
   <td><tt>9ccf64e9e1fa9b33df85476f53ed212382a09289</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kteatime-15.04.0.tar.xz">kteatime-15.04.0</a></td>
   <td align="right">101kB</td>
   <td><tt>5c05a6f6fb03ccc6d1b3fc509dba63865353ceb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/ktimer-15.04.0.tar.xz">ktimer-15.04.0</a></td>
   <td align="right">143kB</td>
   <td><tt>a8ac7610c0c032e14a2bedf2213c37b69139a085</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/ktouch-15.04.0.tar.xz">ktouch-15.04.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>11710a4496d437b9ecfa0a0963809dbbe357c21f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/ktp-accounts-kcm-15.04.0.tar.xz">ktp-accounts-kcm-15.04.0</a></td>
   <td align="right">86kB</td>
   <td><tt>0412cf07818a7ecb3293c30b99f8eca32727d92b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/ktp-approver-15.04.0.tar.xz">ktp-approver-15.04.0</a></td>
   <td align="right">20kB</td>
   <td><tt>783c7bd87bf5ce3ea3e555262d3b20c3cd88a3a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/ktp-auth-handler-15.04.0.tar.xz">ktp-auth-handler-15.04.0</a></td>
   <td align="right">26kB</td>
   <td><tt>4d14f81c0efdc9c26591efa07e6750da794fff7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/ktp-common-internals-15.04.0.tar.xz">ktp-common-internals-15.04.0</a></td>
   <td align="right">305kB</td>
   <td><tt>1e21ac9ed6e4798d9fddfec55b852d165ae714c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/ktp-contact-list-15.04.0.tar.xz">ktp-contact-list-15.04.0</a></td>
   <td align="right">47kB</td>
   <td><tt>8935d3bd7756df3c5f4172cae50b754d2f96a6ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/ktp-contact-runner-15.04.0.tar.xz">ktp-contact-runner-15.04.0</a></td>
   <td align="right">16kB</td>
   <td><tt>384421f0473d3d649c2c340df637ab81b9cc1c47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/ktp-desktop-applets-15.04.0.tar.xz">ktp-desktop-applets-15.04.0</a></td>
   <td align="right">25kB</td>
   <td><tt>37493d4d450a6e943a40d87fcf8e237828103bec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/ktp-filetransfer-handler-15.04.0.tar.xz">ktp-filetransfer-handler-15.04.0</a></td>
   <td align="right">22kB</td>
   <td><tt>2102837b6ec4607286400a6255d8fb91068fe8c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/ktp-kded-module-15.04.0.tar.xz">ktp-kded-module-15.04.0</a></td>
   <td align="right">37kB</td>
   <td><tt>1d16a1134491f255b2d3afbe9553949397d1c45f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/ktp-send-file-15.04.0.tar.xz">ktp-send-file-15.04.0</a></td>
   <td align="right">14kB</td>
   <td><tt>8cf2ccf6391c7a35647ce21742d3c033243f2606</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/ktp-text-ui-15.04.0.tar.xz">ktp-text-ui-15.04.0</a></td>
   <td align="right">283kB</td>
   <td><tt>015a53b75bc8672c509e78854a5b71561840bc5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/ktuberling-15.04.0.tar.xz">ktuberling-15.04.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>6e9ac22e21b1f3c8b093c2b5a8a2995158cb00e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kturtle-15.04.0.tar.xz">kturtle-15.04.0</a></td>
   <td align="right">189kB</td>
   <td><tt>9660ba50f35ac531025f870aaa5d82cb4e2012db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/ktux-15.04.0.tar.xz">ktux-15.04.0</a></td>
   <td align="right">105kB</td>
   <td><tt>2cca57e163f933643749d3a738362b738bfe61ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kubrick-15.04.0.tar.xz">kubrick-15.04.0</a></td>
   <td align="right">104kB</td>
   <td><tt>6670d51f3c861f94ea01c06411ed89e29600bde0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kuser-15.04.0.tar.xz">kuser-15.04.0</a></td>
   <td align="right">132kB</td>
   <td><tt>aa8909155d418a55f4a0c4583c2ddbae3f55dfde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kwalletmanager-15.04.0.tar.xz">kwalletmanager-15.04.0</a></td>
   <td align="right">446kB</td>
   <td><tt>225fdc528d02def866ee3b18f87759e02a6f7abb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kwordquiz-15.04.0.tar.xz">kwordquiz-15.04.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>e098df5706026225710fdbaa00a5dc2dd48321b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/libkcddb-15.04.0.tar.xz">libkcddb-15.04.0</a></td>
   <td align="right">154kB</td>
   <td><tt>00aff276d0327e1d2492b2d55fc4d8ec9f740b54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/libkcompactdisc-15.04.0.tar.xz">libkcompactdisc-15.04.0</a></td>
   <td align="right">74kB</td>
   <td><tt>05e698a38e39cc7c5ccffdf7486fe1162f527169</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/libkdcraw-15.04.0.tar.xz">libkdcraw-15.04.0</a></td>
   <td align="right">99kB</td>
   <td><tt>92d848f5e07c3472073593fd335f4cedf2be5dec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/libkdeedu-15.04.0.tar.xz">libkdeedu-15.04.0</a></td>
   <td align="right">128kB</td>
   <td><tt>0df204569c52f80cafd54d293cbb22e18a557aa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/libkdegames-15.04.0.tar.xz">libkdegames-15.04.0</a></td>
   <td align="right">5.5MB</td>
   <td><tt>33f92eb672e7643274b64272fa6cd2d1465a9491</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/libkeduvocdocument-15.04.0.tar.xz">libkeduvocdocument-15.04.0</a></td>
   <td align="right">96kB</td>
   <td><tt>99b8f5fa24b73f1274eebfb95402c04081d1e4b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/libkexiv2-15.04.0.tar.xz">libkexiv2-15.04.0</a></td>
   <td align="right">134kB</td>
   <td><tt>107d84708c1423fea4c635ef60e623de4b0099d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/libkface-15.04.0.tar.xz">libkface-15.04.0</a></td>
   <td align="right">8.5MB</td>
   <td><tt>5e208bfde9315de177bb1bf1bbaac68faae38a2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/libkgeomap-15.04.0.tar.xz">libkgeomap-15.04.0</a></td>
   <td align="right">121kB</td>
   <td><tt>c296ffe7455201661153ecdc12fc26710ebbdd71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/libkipi-15.04.0.tar.xz">libkipi-15.04.0</a></td>
   <td align="right">92kB</td>
   <td><tt>63a26bec5176ae6605df83148344c097f47833a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/libkmahjongg-15.04.0.tar.xz">libkmahjongg-15.04.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>a03de4ba9f09e664fb7d5b8ee8e3c3e6c291054b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/libkomparediff2-15.04.0.tar.xz">libkomparediff2-15.04.0</a></td>
   <td align="right">55kB</td>
   <td><tt>6bfcfb910fec32f664678f162444278bea6ce482</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/libksane-15.04.0.tar.xz">libksane-15.04.0</a></td>
   <td align="right">79kB</td>
   <td><tt>5534c34b5bfeac4553442cf82eeb3340ecfbc9da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/lokalize-15.04.0.tar.xz">lokalize-15.04.0</a></td>
   <td align="right">930kB</td>
   <td><tt>360535e6aec5ddeabec53e966b5f9824374dc474</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/lskat-15.04.0.tar.xz">lskat-15.04.0</a></td>
   <td align="right">907kB</td>
   <td><tt>a8a2bc9f151a70d95f3a064d0a9c6c60ddd72b9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/marble-15.04.0.tar.xz">marble-15.04.0</a></td>
   <td align="right">21MB</td>
   <td><tt>2924d0446777c45df17fdf7be2c547e51662e37b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/mplayerthumbs-15.04.0.tar.xz">mplayerthumbs-15.04.0</a></td>
   <td align="right">26kB</td>
   <td><tt>4573a0635af5fb31d7163e54b20a8afaa70a366b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/okteta-15.04.0.tar.xz">okteta-15.04.0</a></td>
   <td align="right">490kB</td>
   <td><tt>2687cb3afee0f4bfff395c6967fa2388292df602</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/okular-15.04.0.tar.xz">okular-15.04.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>46280f94ef9523ed53273a5bb8e2b3671d0ed029</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/oxygen-icons-15.04.0.tar.xz">oxygen-icons-15.04.0</a></td>
   <td align="right">219MB</td>
   <td><tt>2d5a7f653484f9938b533fe77c3ceeaca82a6dcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/pairs-15.04.0.tar.xz">pairs-15.04.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>068b7218b683dc2c80ee1ef8e14679a6610388a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/palapeli-15.04.0.tar.xz">palapeli-15.04.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>afa909a2f20eb0b51a626afb9370b5fadb6ff866</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/parley-15.04.0.tar.xz">parley-15.04.0</a></td>
   <td align="right">4.5MB</td>
   <td><tt>6df73726238e2795466512f020d6b2f68e8ad1ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/picmi-15.04.0.tar.xz">picmi-15.04.0</a></td>
   <td align="right">714kB</td>
   <td><tt>eae0975bd7caccb3e6e8900f75299d12af904294</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/poxml-15.04.0.tar.xz">poxml-15.04.0</a></td>
   <td align="right">30kB</td>
   <td><tt>7f7f28b93fc59238693eb77d83d6366087445aff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/print-manager-15.04.0.tar.xz">print-manager-15.04.0</a></td>
   <td align="right">91kB</td>
   <td><tt>6a6b24a12839ae7e0bcccc0942f466ca4d6bd587</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/rocs-15.04.0.tar.xz">rocs-15.04.0</a></td>
   <td align="right">520kB</td>
   <td><tt>2fa0acf11efac096523c20b71dda34b1ddf21e63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/signon-kwallet-extension-15.04.0.tar.xz">signon-kwallet-extension-15.04.0</a></td>
   <td align="right">10kB</td>
   <td><tt>5f91d2bde9674feeae0dce15cd9458c069d0c3c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/step-15.04.0.tar.xz">step-15.04.0</a></td>
   <td align="right">377kB</td>
   <td><tt>aa88c16829be5160d23fe05d1ec95455849dbff6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/superkaramba-15.04.0.tar.xz">superkaramba-15.04.0</a></td>
   <td align="right">372kB</td>
   <td><tt>dde963eb2efab4644a3681817051bd5df7e96416</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/svgpart-15.04.0.tar.xz">svgpart-15.04.0</a></td>
   <td align="right">8kB</td>
   <td><tt>bda6c15005dd72e0d465f2fd645e7c3f6e28537f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/sweeper-15.04.0.tar.xz">sweeper-15.04.0</a></td>
   <td align="right">80kB</td>
   <td><tt>fdb08058b83f29f020e892e971a75626e33e1fea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/umbrello-15.04.0.tar.xz">umbrello-15.04.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>25c9fe364434ed204d12c213640794150d7a0251</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/zeroconf-ioslave-15.04.0.tar.xz">zeroconf-ioslave-15.04.0</a></td>
   <td align="right">25kB</td>
   <td><tt>9d0ac102d58edf79f90956306b37d2c16bad6175</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-ar-15.04.0.tar.xz">kde-l10n-ar-15.04.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>69b7b8b7596806660a0c0ce95629eec5d98ac918</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-bg-15.04.0.tar.xz">kde-l10n-bg-15.04.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>5c1b00f04fe8d79858d1056e752b23a1f3641af7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-bs-15.04.0.tar.xz">kde-l10n-bs-15.04.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>c3929f84bb36e303b8946b93b15b78d2f218d4db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-ca-15.04.0.tar.xz">kde-l10n-ca-15.04.0</a></td>
   <td align="right">11MB</td>
   <td><tt>89dc9d7cdd98fd52d088e2908031bf5bda51fa54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-ca@valencia-15.04.0.tar.xz">kde-l10n-ca@valencia-15.04.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>60e5901aea5ae5773824489745e107deac0b9c86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-cs-15.04.0.tar.xz">kde-l10n-cs-15.04.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>c20c0446679d642179c18ff31d16bb06406873e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-da-15.04.0.tar.xz">kde-l10n-da-15.04.0</a></td>
   <td align="right">12MB</td>
   <td><tt>df47c12c8a80ae9c508e5e064628bd460b705129</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-de-15.04.0.tar.xz">kde-l10n-de-15.04.0</a></td>
   <td align="right">35MB</td>
   <td><tt>5d8652b9c0f34cfaf825c03b5e1d7fb2dc916aa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-el-15.04.0.tar.xz">kde-l10n-el-15.04.0</a></td>
   <td align="right">4.7MB</td>
   <td><tt>536ca9dbcda2808a98e001e0cdff1a304fc1378d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-en_GB-15.04.0.tar.xz">kde-l10n-en_GB-15.04.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>9de04f6f48271378253a3509ce109133c9edc7cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-eo-15.04.0.tar.xz">kde-l10n-eo-15.04.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>47982e729520ec6e369e32770645d260c662f08d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-es-15.04.0.tar.xz">kde-l10n-es-15.04.0</a></td>
   <td align="right">20MB</td>
   <td><tt>15b4c14d1076c4acd6d7d8ae303fa22fd3adf049</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-et-15.04.0.tar.xz">kde-l10n-et-15.04.0</a></td>
   <td align="right">4.3MB</td>
   <td><tt>0e5cd1cee8addc5ec682e68f6d51e901a196b1e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-eu-15.04.0.tar.xz">kde-l10n-eu-15.04.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>58e43534567e472d1051cdb675207803562ed883</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-fa-15.04.0.tar.xz">kde-l10n-fa-15.04.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>6795f9e17acf3cab0c45b9044a4ee925de4fc35f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-fi-15.04.0.tar.xz">kde-l10n-fi-15.04.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>d7ba6477ccbce39bec227ffc4e29b77aa76de7bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-fr-15.04.0.tar.xz">kde-l10n-fr-15.04.0</a></td>
   <td align="right">45MB</td>
   <td><tt>3701ed4e3d664f05f4b8308406aaf614629fc5f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-ga-15.04.0.tar.xz">kde-l10n-ga-15.04.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>60f90a575f4f6e7674cb27a540b57adc61cc5fc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-gl-15.04.0.tar.xz">kde-l10n-gl-15.04.0</a></td>
   <td align="right">3.5MB</td>
   <td><tt>2c8761dfc7dae13845842378b8e25c660d3d480f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-he-15.04.0.tar.xz">kde-l10n-he-15.04.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>18079cf39f60b2ee745267f5e00488f40f36058a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-hi-15.04.0.tar.xz">kde-l10n-hi-15.04.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>0111071fe05e587bebb3c1b769129fbaa58739fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-hr-15.04.0.tar.xz">kde-l10n-hr-15.04.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>50f723c3fd3d7542656f5ae9fae2ad9b3b7a230a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-hu-15.04.0.tar.xz">kde-l10n-hu-15.04.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>e1ae6fe8ebe0fac5a744a0cbe264698a1108e3bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-ia-15.04.0.tar.xz">kde-l10n-ia-15.04.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>ad43c16df8cba1ac31ac463513eabd15b352db32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-id-15.04.0.tar.xz">kde-l10n-id-15.04.0</a></td>
   <td align="right">551kB</td>
   <td><tt>758a0bec501577d5fbce4da30b60183cb51253e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-is-15.04.0.tar.xz">kde-l10n-is-15.04.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>181f7bc39867e6566db90e60412830c9e5682898</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-it-15.04.0.tar.xz">kde-l10n-it-15.04.0</a></td>
   <td align="right">8.5MB</td>
   <td><tt>b136618c6d4d64ae1b68d0c52216a6f5174749fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-ja-15.04.0.tar.xz">kde-l10n-ja-15.04.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>a323bc9c54b74030062b499f99d00f887feb06db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-kk-15.04.0.tar.xz">kde-l10n-kk-15.04.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>3a0fcd49914b224416ea8597be0ac21b4c7cb262</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-km-15.04.0.tar.xz">kde-l10n-km-15.04.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>bd8ff4e618f4fdf10d5e3236dde25d6ee4fe4622</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-ko-15.04.0.tar.xz">kde-l10n-ko-15.04.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>9c88652195f3a43b42ff23c14ac801f6a75f27f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-lt-15.04.0.tar.xz">kde-l10n-lt-15.04.0</a></td>
   <td align="right">12MB</td>
   <td><tt>d31d31c1732009e7c91b1c48dd33ff580a509a8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-lv-15.04.0.tar.xz">kde-l10n-lv-15.04.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>678ee8c4fa03dd9227385b3b8892416ad3d1ad48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-mr-15.04.0.tar.xz">kde-l10n-mr-15.04.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>490cf2f547058701388ce3512d5652cdf68cc752</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-nb-15.04.0.tar.xz">kde-l10n-nb-15.04.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>d3f940e26efd54b2a314c258ab2cb632b9646938</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-nds-15.04.0.tar.xz">kde-l10n-nds-15.04.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>893fb3c8e874af4b59c35075432d8df89977c3c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-nl-15.04.0.tar.xz">kde-l10n-nl-15.04.0</a></td>
   <td align="right">13MB</td>
   <td><tt>1430e2b66cdc839648c4e99eadea30f42aa8748c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-nn-15.04.0.tar.xz">kde-l10n-nn-15.04.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>fec68fa2f1e46657e1f5d4490f1edfd88dc45c28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-pa-15.04.0.tar.xz">kde-l10n-pa-15.04.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>95f9ac5ee071a5eee2361ad7b4b1d114364cd528</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-pl-15.04.0.tar.xz">kde-l10n-pl-15.04.0</a></td>
   <td align="right">18MB</td>
   <td><tt>c4bab941631e97e53a4bbb7749fb150049866199</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-pt-15.04.0.tar.xz">kde-l10n-pt-15.04.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>530e1878720ebf40e60a6ce77a5547e5bd4e1327</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-pt_BR-15.04.0.tar.xz">kde-l10n-pt_BR-15.04.0</a></td>
   <td align="right">24MB</td>
   <td><tt>7da7edd2b709fd123f302fe5dd59ca37785ca48d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-ro-15.04.0.tar.xz">kde-l10n-ro-15.04.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>67d8c99338c396777dca747ea05a4bc7ba59fad6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-ru-15.04.0.tar.xz">kde-l10n-ru-15.04.0</a></td>
   <td align="right">22MB</td>
   <td><tt>116e787dbe92c17b816250dfd327c7e5fa1b8040</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-sk-15.04.0.tar.xz">kde-l10n-sk-15.04.0</a></td>
   <td align="right">4.4MB</td>
   <td><tt>5110798524240b44a88c3c8715edd5c3f6675be7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-sl-15.04.0.tar.xz">kde-l10n-sl-15.04.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>6e52b6abd6bc278922e2dbf1222685bdd9d06a18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-sr-15.04.0.tar.xz">kde-l10n-sr-15.04.0</a></td>
   <td align="right">4.6MB</td>
   <td><tt>1ca7c9c21bbdfc3c5e456f154cfe341a90f11c83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-sv-15.04.0.tar.xz">kde-l10n-sv-15.04.0</a></td>
   <td align="right">14MB</td>
   <td><tt>4c5cfffeb6d08f633716ec572a3ac78dc1c393a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-tr-15.04.0.tar.xz">kde-l10n-tr-15.04.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>eca6feee6aca2a9d2326494f0c8c6368d7e79182</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-ug-15.04.0.tar.xz">kde-l10n-ug-15.04.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2b27d789ad3a4a2b6fe72bdb89af5678ccfa3672</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-uk-15.04.0.tar.xz">kde-l10n-uk-15.04.0</a></td>
   <td align="right">26MB</td>
   <td><tt>303e716a8e6039c3b4baeaafad5a0d8ead0ae659</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-wa-15.04.0.tar.xz">kde-l10n-wa-15.04.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0309285a4e6b38b5ba4c8da8a6b5ad2e5e425916</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-zh_CN-15.04.0.tar.xz">kde-l10n-zh_CN-15.04.0</a></td>
   <td align="right">3.5MB</td>
   <td><tt>2bac2d0896aff13b9fa719f260f79c4c3ace170d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.04.0/src/kde-l10n/kde-l10n-zh_TW-15.04.0.tar.xz">kde-l10n-zh_TW-15.04.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>a8b7c5b3a42455c25a11837d03050a190209edc9</tt></td>
</tr>

</table>
