<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/bluedevil-5.8.3.tar.xz">bluedevil-5.8.3</a></td>
   <td align="right">137kB</td>
   <td><tt>46d1138a7eb180eaffa01543af243affac251f85b905a8694dfaa81ffc5f05b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/breeze-5.8.3.tar.xz">breeze-5.8.3</a></td>
   <td align="right">31MB</td>
   <td><tt>97375eb29d91c05b8fa6a4eb3673e58c64c74751b9b8b0fac46baee857a8f12a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/breeze-grub-5.8.3.tar.xz">breeze-grub-5.8.3</a></td>
   <td align="right">3.0MB</td>
   <td><tt>1351be467a2e45d62fc045107992622282e60a31e9e95c52ec75e6ce1887de07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/breeze-gtk-5.8.3.tar.xz">breeze-gtk-5.8.3</a></td>
   <td align="right">206kB</td>
   <td><tt>0f207067a4ab66e45de89f6c661f3be6b15d3df5faab61f99899a5ad1cd9a8f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/breeze-plymouth-5.8.3.tar.xz">breeze-plymouth-5.8.3</a></td>
   <td align="right">92kB</td>
   <td><tt>c3bd14099d65fa7a72fdd7233f0dfbff1509c2c1cec69615dbd975390730b43d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/discover-5.8.3.tar.xz">discover-5.8.3</a></td>
   <td align="right">8.7MB</td>
   <td><tt>b0cbc515af77d7542f68dfb0b81c8db47e4c136a75a86af05d0e0e2e4bc8d8a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/kactivitymanagerd-5.8.3.tar.xz">kactivitymanagerd-5.8.3</a></td>
   <td align="right">80kB</td>
   <td><tt>d2492a54f6525a06ac59ed2d0b14302df3f26e6594a13a9398defe138979d3a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/kde-cli-tools-5.8.3.tar.xz">kde-cli-tools-5.8.3</a></td>
   <td align="right">474kB</td>
   <td><tt>2bf139886a0df86e0ce932b4ff8be1798fe96e4d4e314e88f66e995e0d254a0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/kdecoration-5.8.3.tar.xz">kdecoration-5.8.3</a></td>
   <td align="right">34kB</td>
   <td><tt>8a4914d99082981920fa49525ac606ddaf0a8fa783627718cf3aefa1ab09f834</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/kde-gtk-config-5.8.3.tar.xz">kde-gtk-config-5.8.3</a></td>
   <td align="right">146kB</td>
   <td><tt>6d548f2143c0f7f2624aa857cb54c79a40cdb868942f68ab487eac86fef47d78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/kdeplasma-addons-5.8.3.tar.xz">kdeplasma-addons-5.8.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>63220c0b7301eb44ef3e96d4f1a7085b340a0bd49884d26b52237eb7333853eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/kgamma5-5.8.3.tar.xz">kgamma5-5.8.3</a></td>
   <td align="right">59kB</td>
   <td><tt>c500a511d8812db620bccbba7070f5b01bce0c2cb92b67745974776a6a1b110d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/khotkeys-5.8.3.tar.xz">khotkeys-5.8.3</a></td>
   <td align="right">590kB</td>
   <td><tt>c97f533f64d500ed3eb3b0a2bd88f6c681d3f9a8e3b5a7d3f910a39157d31c53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/kinfocenter-5.8.3.tar.xz">kinfocenter-5.8.3</a></td>
   <td align="right">1.1MB</td>
   <td><tt>fb06f1eb28aab68a4659b999a6b991ea28165cc25c1ca2321515c25cc2f349c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/kmenuedit-5.8.3.tar.xz">kmenuedit-5.8.3</a></td>
   <td align="right">637kB</td>
   <td><tt>8759bcd45ba0e4a8698ae33e975bc38a247c1a29b01fa49a45a1211e4589f21b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/kscreen-5.8.3.tar.xz">kscreen-5.8.3</a></td>
   <td align="right">110kB</td>
   <td><tt>de06798fa6d73b9dafcf25c90ff1739bdea0d78082a2aa9e453e28db7b6fb41e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/kscreenlocker-5.8.3.tar.xz">kscreenlocker-5.8.3</a></td>
   <td align="right">105kB</td>
   <td><tt>fb11eca8c68ee60342433d0f8e2ca564d3afd4abbfd86daacb6f3c445800310d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/ksshaskpass-5.8.3.tar.xz">ksshaskpass-5.8.3</a></td>
   <td align="right">18kB</td>
   <td><tt>72de4eb6adaadef5e4d30f10c22bd0aef1d5197070589f54d03b7983d7b76e4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/ksysguard-5.8.3.tar.xz">ksysguard-5.8.3</a></td>
   <td align="right">476kB</td>
   <td><tt>ed9bccff28f62aadf201ab6c88f35eda997bd1ccc2d4c3d259216af740753528</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/kwallet-pam-5.8.3.tar.xz">kwallet-pam-5.8.3</a></td>
   <td align="right">17kB</td>
   <td><tt>ed624dbd26ce447128d85ffea988a9b58a7537e0b936f008bfe2d67841fc75d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/kwayland-integration-5.8.3.tar.xz">kwayland-integration-5.8.3</a></td>
   <td align="right">17kB</td>
   <td><tt>842a8eea9623a5e335ac585f9ca0453518c93606d0d37ce576f6ee188039e1f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/kwin-5.8.3.tar.xz">kwin-5.8.3</a></td>
   <td align="right">3.7MB</td>
   <td><tt>3ce0be9e6908b8658df2bcde203b71f4c1132e0bd273a2d7d5dea81adc097f28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/kwrited-5.8.3.tar.xz">kwrited-5.8.3</a></td>
   <td align="right">19kB</td>
   <td><tt>893131e4720f2d861a9a5decdf7deaf0ab0fdc2f6dee95e325c674c37dd74e68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/libkscreen-5.8.3.tar.xz">libkscreen-5.8.3</a></td>
   <td align="right">90kB</td>
   <td><tt>a76f976494ac98b742969830c350b89b354b11a854c1d884dbe0daecc79c4a26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/libksysguard-5.8.3.tar.xz">libksysguard-5.8.3</a></td>
   <td align="right">558kB</td>
   <td><tt>9e290e62e21864de32d248dda75d6adf9b87ce119d45c1f306959a9a290cc084</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/milou-5.8.3.tar.xz">milou-5.8.3</a></td>
   <td align="right">53kB</td>
   <td><tt>543b6b5e876b8499fb5865ee0117e430bcb208a61c02fc42085391909b45790f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/oxygen-5.8.3.tar.xz">oxygen-5.8.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>4f0e48a205352a63fe80fa7a24a052154d1ca7bfc7f7af5ebcf5c159366a2c47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/plasma-desktop-5.8.3.tar.xz">plasma-desktop-5.8.3</a></td>
   <td align="right">6.0MB</td>
   <td><tt>e77d1ea55ba521b6f281077685db9956269ad8b694153adb00c2c687399c725e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/plasma-integration-5.8.3.tar.xz">plasma-integration-5.8.3</a></td>
   <td align="right">49kB</td>
   <td><tt>437cfef7c1a7de3b422e7003850025355a759d50514cfcb6cab2e5e5aaefcfa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/plasma-nm-5.8.3.tar.xz">plasma-nm-5.8.3</a></td>
   <td align="right">629kB</td>
   <td><tt>674d56f479304d4d06b60e68bbdb3ea62bdaf78dc1843ba73fead39be80352e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/plasma-pa-5.8.3.tar.xz">plasma-pa-5.8.3</a></td>
   <td align="right">67kB</td>
   <td><tt>04574c84ada093be461b95f6d9c32c7fc28ebcd11943bfffaaf5ca3d336b7dd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/plasma-sdk-5.8.3.tar.xz">plasma-sdk-5.8.3</a></td>
   <td align="right">699kB</td>
   <td><tt>a7666c9b9356e64fd653f6ef9d6fbdde143553166fe5cb9241a2a77a9c37fbc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/plasma-tests-5.8.3.tar.xz">plasma-tests-5.8.3</a></td>
   <td align="right">1kB</td>
   <td><tt>24ae1b4336243783fff3adc1f4da151750a818ee23855aaea2e78fc807cb2daa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/plasma-workspace-5.8.3.tar.xz">plasma-workspace-5.8.3</a></td>
   <td align="right">6.6MB</td>
   <td><tt>8b2f455bdf355d7d771bd6fb4e19510ec4b131c093b23268cb9c1a321c75059a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/plasma-workspace-wallpapers-5.8.3.tar.xz">plasma-workspace-wallpapers-5.8.3</a></td>
   <td align="right">43MB</td>
   <td><tt>e2698f8292f8f1e8e714e9c3512418d9389c2bd4d8ec35c3297571d280e1c337</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/polkit-kde-agent-1-5.8.3.tar.xz">polkit-kde-agent-1-5.8.3</a></td>
   <td align="right">39kB</td>
   <td><tt>1ff01a737c22063a095e4b79c29d7c8ea3bbe7621c362e1d637f7e39a5cf9412</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/powerdevil-5.8.3.tar.xz">powerdevil-5.8.3</a></td>
   <td align="right">348kB</td>
   <td><tt>415f345af1efb94ea9d64942e149aa7686e769ebeec74f2fbd6c30b27ed7a9c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/sddm-kcm-5.8.3.tar.xz">sddm-kcm-5.8.3</a></td>
   <td align="right">47kB</td>
   <td><tt>0d41f5d7017616ea17e4e4c37bb9dbf8ff2efcefd242c7b101ffa722564e42b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/systemsettings-5.8.3.tar.xz">systemsettings-5.8.3</a></td>
   <td align="right">154kB</td>
   <td><tt>b50ec8fb4402d332d9fb6c1aa00cd7431ac3299da3003cc54522c1544c610a6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.3/user-manager-5.8.3.tar.xz">user-manager-5.8.3</a></td>
   <td align="right">529kB</td>
   <td><tt>1be1ed786e8762bf35b9ad56455f6441ec14ae622439dffe5430bb2cb29d094e</tt></td>
</tr>

</table>
