<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">SHA1&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.3/src/kdeaccessibility-4.4.3.tar.bz2">kdeaccessibility-4.4.3</a></td><td align="right">5,4MB</td><td><tt>a3dbe6c24af7345ba47dce667ea38bd13fbd6abf</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.3/src/kdeadmin-4.4.3.tar.bz2">kdeadmin-4.4.3</a></td><td align="right">1,4MB</td><td><tt>88bba4cfb6db2d3b38be9e0d1f6137fafaa74399</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.3/src/kdeartwork-4.4.3.tar.bz2">kdeartwork-4.4.3</a></td><td align="right">70MB</td><td><tt>82e62269295309efa2e4f9f9d3d9168fe16500c2</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.3/src/kdebase-4.4.3.tar.bz2">kdebase-4.4.3</a></td><td align="right">3,9MB</td><td><tt>2a9a47f95a260189047ff10339d4c1fcd6fe0df5</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.3/src/kdebase-runtime-4.4.3.tar.bz2">kdebase-runtime-4.4.3</a></td><td align="right">7,0MB</td><td><tt>e060fb54b5d275bc06224a0e2eecc158518c9934</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.3/src/kdebase-workspace-4.4.3.tar.bz2">kdebase-workspace-4.4.3</a></td><td align="right">74MB</td><td><tt>efd427dfe8b7beebdfe162006689871c61991336</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.3/src/kdebindings-4.4.3.tar.bz2">kdebindings-4.4.3</a></td><td align="right">4,9MB</td><td><tt>dbfaf3760b5cbdaf6fed9672af32f938ddca29a2</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.3/src/kdeedu-4.4.3.tar.bz2">kdeedu-4.4.3</a></td><td align="right">58MB</td><td><tt>12d06cdb65471a35d5ef8a255859dde06ad02f2e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.3/src/kdegames-4.4.3.tar.bz2">kdegames-4.4.3</a></td><td align="right">66MB</td><td><tt>f9c79889abd8d0067ecbf0cea63e43cdc9523457</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.3/src/kdegraphics-4.4.3.tar.bz2">kdegraphics-4.4.3</a></td><td align="right">3,7MB</td><td><tt>1caa6a6183c8cdf7cd3315d86ecfd37c5c829c9d</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.3/src/kdelibs-4.4.3.tar.bz2">kdelibs-4.4.3</a></td><td align="right">14MB</td><td><tt>9801303f359083415988fb2529a1c342752ad326</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.3/src/kdemultimedia-4.4.3.tar.bz2">kdemultimedia-4.4.3</a></td><td align="right">1,4MB</td><td><tt>e22bf2af585305563e414672060c06b78d8c6c7f</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.3/src/kdenetwork-4.4.3.tar.bz2">kdenetwork-4.4.3</a></td><td align="right">8,0MB</td><td><tt>67237e0142f5d4edc893a7dcafffa79f998c534e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.3/src/kdepim-4.4.3.tar.bz2">kdepim-4.4.3</a></td><td align="right">9,0MB</td><td><tt>0bfd843e03836664758baac95e1127d96077993f</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.3/src/kdepimlibs-4.4.3.tar.bz2">kdepimlibs-4.4.3</a></td><td align="right">2,4MB</td><td><tt>37aaf11672010ebf575470a16cc1bed6e868e2ed</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.3/src/kdepim-runtime-4.4.3.tar.bz2">kdepim-runtime-4.4.3</a></td><td align="right">620KB</td><td><tt>9c5112a61bf8c1f0af7d1d0b60f9e8c1ddcf70eb</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.3/src/kdeplasma-addons-4.4.3.tar.bz2">kdeplasma-addons-4.4.3</a></td><td align="right">1,6MB</td><td><tt>8041118514589d09df30de6e771d83b5d1c5e77b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.3/src/kdesdk-4.4.3.tar.bz2">kdesdk-4.4.3</a></td><td align="right">5,4MB</td><td><tt>63b66969a31e8eeb22fcbae043476859da90dead</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.3/src/kdetoys-4.4.3.tar.bz2">kdetoys-4.4.3</a></td><td align="right">1,3MB</td><td><tt>1ea310ccfcaa99d25dc2eceb28c026b49d5ebe65</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.3/src/kdeutils-4.4.3.tar.bz2">kdeutils-4.4.3</a></td><td align="right">2,6MB</td><td><tt>622d1692d1e21a3fb8e846d5041d5d0d7c1353ff</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.3/src/kdewebdev-4.4.3.tar.bz2">kdewebdev-4.4.3</a></td><td align="right">2,1MB</td><td><tt>51d072fcb98a5f8aa6610392f42e359b31d37faa</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.4.3/src/oxygen-icons-4.4.3.tar.bz2">oxygen-icons-4.4.3</a></td><td align="right">129MB</td><td><tt>d27450e470c1d760d38cdc29ba361d55dee4cea1</tt></td></tr>
</table>
