
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/attica-5.63.0.tar.xz">attica-5.63.0</a></td>
   <td align="right">61kB</td>
   <td><tt>57f269285cc48ddaa93b91cb8943a8bf3a5150da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/baloo-5.63.0.tar.xz">baloo-5.63.0</a></td>
   <td align="right">267kB</td>
   <td><tt>c3142938eb0dc3c941a059c671c77af8618c43aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/bluez-qt-5.63.0.tar.xz">bluez-qt-5.63.0</a></td>
   <td align="right">96kB</td>
   <td><tt>bcdcd993e4301a10884eb6b495fe1d8f6841265d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/breeze-icons-5.63.0.tar.xz">breeze-icons-5.63.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>0816e5fb6d2416382379c065a4c46baaf0677d7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/extra-cmake-modules-5.63.0.tar.xz">extra-cmake-modules-5.63.0</a></td>
   <td align="right">322kB</td>
   <td><tt>fe032cf2c0d89c43d5930605e33449e7bdb87f89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/frameworkintegration-5.63.0.tar.xz">frameworkintegration-5.63.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c450477fb1d5eabc5c13c8aacad587d79abd4c3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kactivities-5.63.0.tar.xz">kactivities-5.63.0</a></td>
   <td align="right">60kB</td>
   <td><tt>62fa6ca4ef8e72837d135273ef22a411d6045b27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kactivities-stats-5.63.0.tar.xz">kactivities-stats-5.63.0</a></td>
   <td align="right">61kB</td>
   <td><tt>03d90e31a2fcd50e7322494be0faca516a70925f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kapidox-5.63.0.tar.xz">kapidox-5.63.0</a></td>
   <td align="right">387kB</td>
   <td><tt>2e9c04bfcc497fb8a4ef22390e404a4f7fd322d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/karchive-5.63.0.tar.xz">karchive-5.63.0</a></td>
   <td align="right">447kB</td>
   <td><tt>0f872b7fca4c3da45515682fe067ca7ffee1e730</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kauth-5.63.0.tar.xz">kauth-5.63.0</a></td>
   <td align="right">83kB</td>
   <td><tt>9e5fc56534e942aa501c75b948a8996aa65c01a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kbookmarks-5.63.0.tar.xz">kbookmarks-5.63.0</a></td>
   <td align="right">117kB</td>
   <td><tt>2d798455e1629741e8bd9e32cfaad730fdc2a180</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kcalendarcore-5.63.0.tar.xz">kcalendarcore-5.63.0</a></td>
   <td align="right">242kB</td>
   <td><tt>38aad0decc03e1ffca3415f1343babd7d56ab592</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kcmutils-5.63.0.tar.xz">kcmutils-5.63.0</a></td>
   <td align="right">233kB</td>
   <td><tt>65a940beaa2ae46dc51e502573cbdb64bb802145</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kcodecs-5.63.0.tar.xz">kcodecs-5.63.0</a></td>
   <td align="right">215kB</td>
   <td><tt>2a2951945679195fe9c203266823be69319f850f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kcompletion-5.63.0.tar.xz">kcompletion-5.63.0</a></td>
   <td align="right">116kB</td>
   <td><tt>5121b3c93b8b33e1e8cb681bdf09ad697c995b19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kconfig-5.63.0.tar.xz">kconfig-5.63.0</a></td>
   <td align="right">236kB</td>
   <td><tt>162b13ba4e50eace74db8fd5b89aa2f7ac97a98d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kconfigwidgets-5.63.0.tar.xz">kconfigwidgets-5.63.0</a></td>
   <td align="right">368kB</td>
   <td><tt>cb249fb82aace00fc45fd1b276e86429cee3f6ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kcontacts-5.63.0.tar.xz">kcontacts-5.63.0</a></td>
   <td align="right">528kB</td>
   <td><tt>436e04e820ea3cc61dbcc6ccbf23c24e6a5ec70b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kcoreaddons-5.63.0.tar.xz">kcoreaddons-5.63.0</a></td>
   <td align="right">365kB</td>
   <td><tt>ce07e77ac1d7562806576fe877f0681962997e6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kcrash-5.63.0.tar.xz">kcrash-5.63.0</a></td>
   <td align="right">22kB</td>
   <td><tt>a54aca5ac3a15facd38a5f6b36d219f1ec5e5e3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kdbusaddons-5.63.0.tar.xz">kdbusaddons-5.63.0</a></td>
   <td align="right">38kB</td>
   <td><tt>485d01b786378fd3866b1e9c379d4dafa9a6da5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kdeclarative-5.63.0.tar.xz">kdeclarative-5.63.0</a></td>
   <td align="right">167kB</td>
   <td><tt>1081485a63ebdfeac1ff67dd8638bc9e0f86dd5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kded-5.63.0.tar.xz">kded-5.63.0</a></td>
   <td align="right">37kB</td>
   <td><tt>c1080f6d0b85d4a111629df81c27a06a0fa19d85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kdesu-5.63.0.tar.xz">kdesu-5.63.0</a></td>
   <td align="right">45kB</td>
   <td><tt>be4223cf5784c4625645cbd0b3819b88a24840bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kdnssd-5.63.0.tar.xz">kdnssd-5.63.0</a></td>
   <td align="right">56kB</td>
   <td><tt>53614eb566d1f4012d83f83f4f1e062ccbfb0a39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kdoctools-5.63.0.tar.xz">kdoctools-5.63.0</a></td>
   <td align="right">416kB</td>
   <td><tt>f29423497f16f4b4f172a8a92d118b783872ebd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kemoticons-5.63.0.tar.xz">kemoticons-5.63.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>db916c901e4d4db7ba5552bebb361a0e520814cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kfilemetadata-5.63.0.tar.xz">kfilemetadata-5.63.0</a></td>
   <td align="right">410kB</td>
   <td><tt>0e00b2d96c4170a53a9b54584a8273a1b95dc84b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kglobalaccel-5.63.0.tar.xz">kglobalaccel-5.63.0</a></td>
   <td align="right">82kB</td>
   <td><tt>922d81839acacebf09caec7d0f2e8c8da8406a3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kguiaddons-5.63.0.tar.xz">kguiaddons-5.63.0</a></td>
   <td align="right">39kB</td>
   <td><tt>af0aee6319aba76bc5f9e3a3bac25d8928f28820</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kholidays-5.63.0.tar.xz">kholidays-5.63.0</a></td>
   <td align="right">201kB</td>
   <td><tt>7266a92a3e317179df045cc474c028a0553ec8ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/ki18n-5.63.0.tar.xz">ki18n-5.63.0</a></td>
   <td align="right">571kB</td>
   <td><tt>685e22436a051a0647fd3ff83e95203fec33f757</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kiconthemes-5.63.0.tar.xz">kiconthemes-5.63.0</a></td>
   <td align="right">204kB</td>
   <td><tt>3c395a3d20aa6bcaed8fb5867fa0e9109dd8c748</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kidletime-5.63.0.tar.xz">kidletime-5.63.0</a></td>
   <td align="right">26kB</td>
   <td><tt>f2db4ffacc7eda70f2f596eb661e81832daa6572</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kimageformats-5.63.0.tar.xz">kimageformats-5.63.0</a></td>
   <td align="right">238kB</td>
   <td><tt>ce97a887f17dd642df157742805940b22fd33ee8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kinit-5.63.0.tar.xz">kinit-5.63.0</a></td>
   <td align="right">117kB</td>
   <td><tt>c77c8843515f069f71f8a18604d3635df109363b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kio-5.63.0.tar.xz">kio-5.63.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>5c4a28c8e43029d686a739d0daa19bc6976b766a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kirigami2-5.63.0.tar.xz">kirigami2-5.63.0</a></td>
   <td align="right">144kB</td>
   <td><tt>909f5dc41beae7141d94f2d5d8d2ba1fd28b39b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kitemmodels-5.63.0.tar.xz">kitemmodels-5.63.0</a></td>
   <td align="right">380kB</td>
   <td><tt>64c8ff19d8c4c3f7f6e398e8e5dfc7cb565ccc5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kitemviews-5.63.0.tar.xz">kitemviews-5.63.0</a></td>
   <td align="right">74kB</td>
   <td><tt>d98de5abb73bf04659d7c1d4bd9281a4c4729637</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kjobwidgets-5.63.0.tar.xz">kjobwidgets-5.63.0</a></td>
   <td align="right">86kB</td>
   <td><tt>02c5ee805920c094334daab5830cbec66b23d84e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/knewstuff-5.63.0.tar.xz">knewstuff-5.63.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>be0e4719a2a9efbcc71beba2c863c294c05d9c2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/knotifications-5.63.0.tar.xz">knotifications-5.63.0</a></td>
   <td align="right">113kB</td>
   <td><tt>a5da3d3e594e1c54b5923ec3b16a1eef79dbe5d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/knotifyconfig-5.63.0.tar.xz">knotifyconfig-5.63.0</a></td>
   <td align="right">82kB</td>
   <td><tt>22054e39fc39b5c937e176d3412fbadb3cec8794</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kpackage-5.63.0.tar.xz">kpackage-5.63.0</a></td>
   <td align="right">134kB</td>
   <td><tt>f1857e751324fecd7844a8b87e68edf83ecabebc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kparts-5.63.0.tar.xz">kparts-5.63.0</a></td>
   <td align="right">172kB</td>
   <td><tt>b22718191066d47aaa82d26d8ccc7af1a373e109</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kpeople-5.63.0.tar.xz">kpeople-5.63.0</a></td>
   <td align="right">60kB</td>
   <td><tt>8cebd7544999751b858aa3dfb0b8b4afa1cf05bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kplotting-5.63.0.tar.xz">kplotting-5.63.0</a></td>
   <td align="right">29kB</td>
   <td><tt>cc6e252ad46411f89139e60fe099efaf2583c9ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kpty-5.63.0.tar.xz">kpty-5.63.0</a></td>
   <td align="right">56kB</td>
   <td><tt>5b56bdff7516a92d29d36e216b3d7ea38f4592d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/krunner-5.63.0.tar.xz">krunner-5.63.0</a></td>
   <td align="right">60kB</td>
   <td><tt>8adc7a6b70d2a133034abaa7b20a90607462f564</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kservice-5.63.0.tar.xz">kservice-5.63.0</a></td>
   <td align="right">244kB</td>
   <td><tt>2ccc8ffb6df1c8e7ad2767c74d1057a5c60b9b6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/ktexteditor-5.63.0.tar.xz">ktexteditor-5.63.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>61f6560ca14a0ae206c5ab8d61c848c7b9521033</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/ktextwidgets-5.63.0.tar.xz">ktextwidgets-5.63.0</a></td>
   <td align="right">303kB</td>
   <td><tt>688e23ac68a86e0ca4b122fc3547380cf959babb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kunitconversion-5.63.0.tar.xz">kunitconversion-5.63.0</a></td>
   <td align="right">816kB</td>
   <td><tt>aa4ca2c92bf1e49bdc7447d8c6415812936547a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kwallet-5.63.0.tar.xz">kwallet-5.63.0</a></td>
   <td align="right">287kB</td>
   <td><tt>575b84a11f8c712cb9ec4e18bdcf287bf780f1e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kwayland-5.63.0.tar.xz">kwayland-5.63.0</a></td>
   <td align="right">330kB</td>
   <td><tt>03f63d7e19f11b4f528175ad995cbea57c143da4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kwidgetsaddons-5.63.0.tar.xz">kwidgetsaddons-5.63.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>36fa09d502156f8c11f2df5995dd09c368a0444f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kwindowsystem-5.63.0.tar.xz">kwindowsystem-5.63.0</a></td>
   <td align="right">167kB</td>
   <td><tt>cce11b6b1d84eb51d54dbe1a07698d24a8caa334</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kxmlgui-5.63.0.tar.xz">kxmlgui-5.63.0</a></td>
   <td align="right">854kB</td>
   <td><tt>c8297e518ca7c9846a7ec4a6c487bb441d8a33a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/kxmlrpcclient-5.63.0.tar.xz">kxmlrpcclient-5.63.0</a></td>
   <td align="right">29kB</td>
   <td><tt>886a44ed2c0de2841f6ab45249dc5790bb83edef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/modemmanager-qt-5.63.0.tar.xz">modemmanager-qt-5.63.0</a></td>
   <td align="right">99kB</td>
   <td><tt>4463b7edd6b985cb22713c448c4891798e1f6958</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/networkmanager-qt-5.63.0.tar.xz">networkmanager-qt-5.63.0</a></td>
   <td align="right">179kB</td>
   <td><tt>43f69a819a3762ee72ca91180fc3439529551308</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/oxygen-icons5-5.63.0.tar.xz">oxygen-icons5-5.63.0</a></td>
   <td align="right">224MB</td>
   <td><tt>910702b174378371b65a43b6b0a042b73359da57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/plasma-framework-5.63.0.tar.xz">plasma-framework-5.63.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>5b824a1c7e27480a5cc04ebed061ea3aa0c36bcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/prison-5.63.0.tar.xz">prison-5.63.0</a></td>
   <td align="right">41kB</td>
   <td><tt>37014e3e9935a1f0753279e3b4e32c43a7725946</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/purpose-5.63.0.tar.xz">purpose-5.63.0</a></td>
   <td align="right">150kB</td>
   <td><tt>ae0d84ed24a1dd62d6aeffdd47ef1be66ee94b8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/qqc2-desktop-style-5.63.0.tar.xz">qqc2-desktop-style-5.63.0</a></td>
   <td align="right">44kB</td>
   <td><tt>d73b2b8b31851d400b48b762a8262db5ffad1471</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/solid-5.63.0.tar.xz">solid-5.63.0</a></td>
   <td align="right">256kB</td>
   <td><tt>ebbc2355da2c2f6078b417a5b83a336e122a8f40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/sonnet-5.63.0.tar.xz">sonnet-5.63.0</a></td>
   <td align="right">281kB</td>
   <td><tt>90c565e3b13e4aac446c2c3a42d154c43c609be0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/syndication-5.63.0.tar.xz">syndication-5.63.0</a></td>
   <td align="right">468kB</td>
   <td><tt>8295c4f4028d6a1b970a229e1f325e5d475d3395</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/syntax-highlighting-5.63.0.tar.xz">syntax-highlighting-5.63.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>778fa0e7eea7ccb48051c24a133b5f8b00e33fc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.63/threadweaver-5.63.0.tar.xz">threadweaver-5.63.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>68777bbf3105fe9c043203292a32372c3cb4ad7c</tt></td>
</tr>

</table>
