<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/bluedevil-5.8.1.tar.xz">bluedevil-5.8.1</a></td>
   <td align="right">137kB</td>
   <td><tt>e1b224c366cdadb4490762511640c2be9efe56c6700d39820e94418645cf5548</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/breeze-5.8.1.tar.xz">breeze-5.8.1</a></td>
   <td align="right">31MB</td>
   <td><tt>778c331931c9402ff06900b5c06616e85f027dc1549013b60f25e92f89443fe9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/breeze-grub-5.8.1.tar.xz">breeze-grub-5.8.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>ac929bf1dd620aac21128e0e7d675960f9f0974dffc2876d71023d2f249b7ab4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/breeze-gtk-5.8.1.tar.xz">breeze-gtk-5.8.1</a></td>
   <td align="right">206kB</td>
   <td><tt>5f63e047cc3ae280ff8fb2caf5f250c918ee1bdd7dc48cfd38b4e03d1334ae5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/breeze-plymouth-5.8.1.tar.xz">breeze-plymouth-5.8.1</a></td>
   <td align="right">92kB</td>
   <td><tt>9f6dddfb6032b7bd5ef73f11742b841c35cbfb2f203a7d2cd509a2a124712a91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/discover-5.8.1.tar.xz">discover-5.8.1</a></td>
   <td align="right">8.7MB</td>
   <td><tt>734781f705a077cffefc821e87ce186513e33cf0a20e64ef9d1b535cc2c5d206</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/kactivitymanagerd-5.8.1.tar.xz">kactivitymanagerd-5.8.1</a></td>
   <td align="right">80kB</td>
   <td><tt>9538a5c237ef54602a233c025eb38a4426b51195a12b6d153e5b988a5325b95d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/kde-cli-tools-5.8.1.tar.xz">kde-cli-tools-5.8.1</a></td>
   <td align="right">474kB</td>
   <td><tt>01f81c351d939c71b81b903fdd6da26bfddce46d33c05433ae0cddc504cc71af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/kdecoration-5.8.1.tar.xz">kdecoration-5.8.1</a></td>
   <td align="right">34kB</td>
   <td><tt>f205ab039ebb135a5b04f2325ea216c2c76749dbe95bde10d4706b09824ba525</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/kde-gtk-config-5.8.1.tar.xz">kde-gtk-config-5.8.1</a></td>
   <td align="right">146kB</td>
   <td><tt>6ee8108c8e8838f23fe3d4b9830e08cebd28f7d2acd9465847574b1ced52e9fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/kdeplasma-addons-5.8.1.tar.xz">kdeplasma-addons-5.8.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>7d51f414c203a20b5eb15a572a658de445ad0e257af1e18bbfdab73c5b9f8884</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/kgamma5-5.8.1.tar.xz">kgamma5-5.8.1</a></td>
   <td align="right">59kB</td>
   <td><tt>af944cc5c51d6a63a042e431e2e46c6244f247f703246de315db94e6a80469ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/khotkeys-5.8.1.tar.xz">khotkeys-5.8.1</a></td>
   <td align="right">590kB</td>
   <td><tt>b12a9e41d588856168ff24908c17d88c830686cc1075534a5228f62a766a78bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/kinfocenter-5.8.1.tar.xz">kinfocenter-5.8.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>adf14bf48bb457ea82c4c61149630e648fe2449b512cad282d14e0cb4f825945</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/kmenuedit-5.8.1.tar.xz">kmenuedit-5.8.1</a></td>
   <td align="right">637kB</td>
   <td><tt>376fac8c45c2e0f8ac30c4ade66cf3de7cef4f1c431770d1196b66c3bbc50c89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/kscreen-5.8.1.tar.xz">kscreen-5.8.1</a></td>
   <td align="right">110kB</td>
   <td><tt>d16d16a7d58e5775e0392ebb26683486d790632d71a119ffdc68c44d6e6d2d55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/kscreenlocker-5.8.1.tar.xz">kscreenlocker-5.8.1</a></td>
   <td align="right">105kB</td>
   <td><tt>30d3fd72a400720a37877c2a3bf0ce8ef1f84cb8807ac6ca35b7076ec8b92b22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/ksshaskpass-5.8.1.tar.xz">ksshaskpass-5.8.1</a></td>
   <td align="right">18kB</td>
   <td><tt>16d3ef59bee744453cd492916ae8418126cda5e4365b253fa03fa4dd1512aa7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/ksysguard-5.8.1.tar.xz">ksysguard-5.8.1</a></td>
   <td align="right">476kB</td>
   <td><tt>c9b2d50e65ca6a2a5d52cc7ec0c7bc80e9b4e7c72d9bf8d0f1c1144b29ec59d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/kwallet-pam-5.8.1.tar.xz">kwallet-pam-5.8.1</a></td>
   <td align="right">17kB</td>
   <td><tt>9e4d8acd454105b64593956e428ac4f9231c00edc53a4f6f83580b1dcea280da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/kwayland-integration-5.8.1.tar.xz">kwayland-integration-5.8.1</a></td>
   <td align="right">17kB</td>
   <td><tt>307688799889e4d6dbecdd811397a3167cab17b9d0d50de3fff96433cfa68de3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/kwin-5.8.1.tar.xz">kwin-5.8.1</a></td>
   <td align="right">3.7MB</td>
   <td><tt>74a976769cdcaca0b8c52e83cc2895d0860870b0e9dba22418deb983fe36372c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/kwrited-5.8.1.tar.xz">kwrited-5.8.1</a></td>
   <td align="right">19kB</td>
   <td><tt>feadce4242b85f89d1851cf8e5b1cb9cac6f894afac6753a39011eca33a7676a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/libkscreen-5.8.1.tar.xz">libkscreen-5.8.1</a></td>
   <td align="right">90kB</td>
   <td><tt>84edcebe39f39a0a8e0080b7e6999bff30a90fd2796fbb71f3a9cbb713b1f7dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/libksysguard-5.8.1.tar.xz">libksysguard-5.8.1</a></td>
   <td align="right">558kB</td>
   <td><tt>771c487cce44e64040fa976ff038972ee2099d1f9b39839f8d712ca373e42fd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/milou-5.8.1.tar.xz">milou-5.8.1</a></td>
   <td align="right">53kB</td>
   <td><tt>f5eb5e0a9decf0a98f226a2e4ee14ff8fa3ee5508cdd2584fff00d086a65dd7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/oxygen-5.8.1.tar.xz">oxygen-5.8.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>93972771e0388567ab6665fd8aeb94231d1b414073a878e8eca938128c497239</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/plasma-desktop-5.8.1.tar.xz">plasma-desktop-5.8.1</a></td>
   <td align="right">6.0MB</td>
   <td><tt>997cfdfe282daf5d5e06f30428a5cc0b7d16f7f69615679c833ecf3b3c3349b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/plasma-integration-5.8.1.tar.xz">plasma-integration-5.8.1</a></td>
   <td align="right">49kB</td>
   <td><tt>c754aeed43dbf51c32094fe150d1243fcc4cd9817cc7e35765ccb157ac3dccf5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/plasma-nm-5.8.1.tar.xz">plasma-nm-5.8.1</a></td>
   <td align="right">628kB</td>
   <td><tt>e6b6d0a1dde044aca48c53fc134f1ed0fbcd0cef49f91147b4f11300d8b6646c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/plasma-pa-5.8.1.tar.xz">plasma-pa-5.8.1</a></td>
   <td align="right">67kB</td>
   <td><tt>0b46318d109a8ab567ddaf30ef382b55ee67947cafa043242719c660b9a418b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/plasma-sdk-5.8.1.tar.xz">plasma-sdk-5.8.1</a></td>
   <td align="right">698kB</td>
   <td><tt>552b8363ac7e45bb49b6c2d5b28cac12c9ea557c9e02429caf8976bbce325b3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/plasma-tests-5.8.1.tar.xz">plasma-tests-5.8.1</a></td>
   <td align="right">1kB</td>
   <td><tt>93aa7e59040f2cd766a1362dc64430fc69a5eb837c90c4ce5682c3b7f6e9acbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/plasma-workspace-5.8.1.tar.xz">plasma-workspace-5.8.1</a></td>
   <td align="right">7.0MB</td>
   <td><tt>c05a38b94fb815957d6b572dfb43f1d8624654c3e23d9344751063118c4aed5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/plasma-workspace-wallpapers-5.8.1.tar.xz">plasma-workspace-wallpapers-5.8.1</a></td>
   <td align="right">43MB</td>
   <td><tt>3aa9154305eff97de123eb341021ce1e2fcb446d2bd8e3a5f5dfbfeb6e39bf9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/polkit-kde-agent-1-5.8.1.tar.xz">polkit-kde-agent-1-5.8.1</a></td>
   <td align="right">39kB</td>
   <td><tt>fbedcac5b754654a73bc8772d43d34e373875522203b807756d82b044676bce0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/powerdevil-5.8.1.tar.xz">powerdevil-5.8.1</a></td>
   <td align="right">347kB</td>
   <td><tt>5b6ad450bba8e9d63efa44853e4f472376de2fba44a8b443e3a0c631996d7562</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/sddm-kcm-5.8.1.tar.xz">sddm-kcm-5.8.1</a></td>
   <td align="right">47kB</td>
   <td><tt>27cc7848eace2791ab9668f3173defdd331412befa76ba425b2fe0815956d44d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/systemsettings-5.8.1.tar.xz">systemsettings-5.8.1</a></td>
   <td align="right">154kB</td>
   <td><tt>a87d1595d355adf9d376d58057539ed5581e304141598296a4deff831ff9c011</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.8.1/user-manager-5.8.1.tar.xz">user-manager-5.8.1</a></td>
   <td align="right">529kB</td>
   <td><tt>e7a9d7026e94c1b4c868ab5f3f836a1c564bd30abc2404eb7ca86c7bfd8a8cad</tt></td>
</tr>

</table>
