<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/analitza-4.10.1.tar.xz">analitza-4.10.1</a></td>
   <td align="right">174kB</td>
   <td><tt>264cef093d0eb48cfd3eb2efa60987e2864668db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/ark-4.10.1.tar.xz">ark-4.10.1</a></td>
   <td align="right">232kB</td>
   <td><tt>cbb1a1fb9364f81d3653bbb570ab8907ba05aa95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/audiocd-kio-4.10.1.tar.xz">audiocd-kio-4.10.1</a></td>
   <td align="right">55kB</td>
   <td><tt>ecd53bc04dfd2be4ec0e0751859c57813e374bb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/blinken-4.10.1.tar.xz">blinken-4.10.1</a></td>
   <td align="right">553kB</td>
   <td><tt>63eb844eeadf7851749c5ab7d91ff7199da80292</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/bomber-4.10.1.tar.xz">bomber-4.10.1</a></td>
   <td align="right">381kB</td>
   <td><tt>065f52b25478bcd5a45b65dc1978a081e2323899</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/bovo-4.10.1.tar.xz">bovo-4.10.1</a></td>
   <td align="right">107kB</td>
   <td><tt>bc0404a17116a5c72f983caa0e7570ae5017265f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/cantor-4.10.1.tar.xz">cantor-4.10.1</a></td>
   <td align="right">310kB</td>
   <td><tt>d51617499d6737de0ac2226bf357ca065cdb86ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/dragon-4.10.1.tar.xz">dragon-4.10.1</a></td>
   <td align="right">386kB</td>
   <td><tt>6bc3756bd803a238e4e6bcd6eb74d575230383c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/ffmpegthumbs-4.10.1.tar.xz">ffmpegthumbs-4.10.1</a></td>
   <td align="right">20kB</td>
   <td><tt>8848219c9532186e443ea2e9bf4dc92137f2c0a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/filelight-4.10.1.tar.xz">filelight-4.10.1</a></td>
   <td align="right">283kB</td>
   <td><tt>b63e195e1735013fd6b327ba03b3cfd391c96d01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/granatier-4.10.1.tar.xz">granatier-4.10.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>520df782bfc1815a91fe0a85bbe23493a95b2efa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/gwenview-4.10.1.tar.xz">gwenview-4.10.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>9188b4f0686c27a830d74ab0da4a0834eb6180c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/jovie-4.10.1.tar.xz">jovie-4.10.1</a></td>
   <td align="right">360kB</td>
   <td><tt>e26c225a9e18ec55b6ab3f6dcd7550ffa15c7b8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/juk-4.10.1.tar.xz">juk-4.10.1</a></td>
   <td align="right">436kB</td>
   <td><tt>891ead850878f1044d351b051af49baa201fb551</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kaccessible-4.10.1.tar.xz">kaccessible-4.10.1</a></td>
   <td align="right">20kB</td>
   <td><tt>ad9140a49c71bb9a132cf6a2421b2f4ef355f3f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kactivities-4.10.1.tar.xz">kactivities-4.10.1</a></td>
   <td align="right">105kB</td>
   <td><tt>3cbcc80ec56176c7ef5d5fac04d9a5ca4e8eecca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kajongg-4.10.1.tar.xz">kajongg-4.10.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>67aed49549a2b78ee53bb109f279ebef5c3bf530</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kalgebra-4.10.1.tar.xz">kalgebra-4.10.1</a></td>
   <td align="right">435kB</td>
   <td><tt>f8b5497ad9df2581d5546a277986503735871447</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kalzium-4.10.1.tar.xz">kalzium-4.10.1</a></td>
   <td align="right">3.5MB</td>
   <td><tt>f4babef8d52a0ea1bebf400b15651a708395d0b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kamera-4.10.1.tar.xz">kamera-4.10.1</a></td>
   <td align="right">36kB</td>
   <td><tt>44af42e3a52392ea9ebe38d7401ab0b6fe5d66fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kanagram-4.10.1.tar.xz">kanagram-4.10.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>e172bd12f08b9cc6b44d0a89eb2fd4ccda1012ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kapman-4.10.1.tar.xz">kapman-4.10.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>9f755a9da4fe74bb2c838d89d616fb6e87d58d7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kate-4.10.1.tar.xz">kate-4.10.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>35f93d992cccf8ef7fc1bb59f11cdee6015484ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/katomic-4.10.1.tar.xz">katomic-4.10.1</a></td>
   <td align="right">651kB</td>
   <td><tt>50a9ca7e617a017a6d705de73de2398947789cad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kblackbox-4.10.1.tar.xz">kblackbox-4.10.1</a></td>
   <td align="right">105kB</td>
   <td><tt>b02474e64c9329b2a3b701abcddbfaf313223161</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kblocks-4.10.1.tar.xz">kblocks-4.10.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>8aefa68a6b08bacd474d54ebb68fe15d0936198e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kbounce-4.10.1.tar.xz">kbounce-4.10.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>bcc15ccf2c127529a497b5a121a1e5d2003c3db6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kbreakout-4.10.1.tar.xz">kbreakout-4.10.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>77925644161af227cb12cb320f1c493b284eb5a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kbruch-4.10.1.tar.xz">kbruch-4.10.1</a></td>
   <td align="right">886kB</td>
   <td><tt>3a66965159113a5416433b83c00517e108e98a64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kcalc-4.10.1.tar.xz">kcalc-4.10.1</a></td>
   <td align="right">91kB</td>
   <td><tt>b4260225e5ab5f500824359b2fc13892b4948604</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kcharselect-4.10.1.tar.xz">kcharselect-4.10.1</a></td>
   <td align="right">84kB</td>
   <td><tt>6df65069682007f8cbc4946ccc5b6af45c8286a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kcolorchooser-4.10.1.tar.xz">kcolorchooser-4.10.1</a></td>
   <td align="right">4kB</td>
   <td><tt>b56644dcb064acb925c7c920389d4bbd5557092e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kdeadmin-4.10.1.tar.xz">kdeadmin-4.10.1</a></td>
   <td align="right">660kB</td>
   <td><tt>d3885d70669c2b03612778e0b4f53742ef306f77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kdeartwork-4.10.1.tar.xz">kdeartwork-4.10.1</a></td>
   <td align="right">136MB</td>
   <td><tt>4d0e91b2916ee97e356dc064a72a5c2d2d10f4cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-baseapps-4.10.1.tar.xz">kde-baseapps-4.10.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>1becdcaf0e41cb7da6c7f66562a0a2aad9fafb5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-base-artwork-4.10.1.tar.xz">kde-base-artwork-4.10.1</a></td>
   <td align="right">7.0MB</td>
   <td><tt>0404fd2e269327a883dc8627b3ebd5b16a47bb4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kdegraphics-mobipocket-4.10.1.tar.xz">kdegraphics-mobipocket-4.10.1</a></td>
   <td align="right">19kB</td>
   <td><tt>5a718abd46648b89f66d5d1294ee0aaa4d9380df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kdegraphics-strigi-analyzer-4.10.1.tar.xz">kdegraphics-strigi-analyzer-4.10.1</a></td>
   <td align="right">40kB</td>
   <td><tt>446f45ece21f2d7a419858fad57e2b3c9426c8fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kdegraphics-thumbnailers-4.10.1.tar.xz">kdegraphics-thumbnailers-4.10.1</a></td>
   <td align="right">40kB</td>
   <td><tt>3c3ac956390d86ad1f4764cc7abea588f2a36268</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kdelibs-4.10.1.tar.xz">kdelibs-4.10.1</a></td>
   <td align="right">11MB</td>
   <td><tt>91d1ab65a561decf7506df45bda7a7fec9a524bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kdenetwork-4.10.1.tar.xz">kdenetwork-4.10.1</a></td>
   <td align="right">8.6MB</td>
   <td><tt>3d54276d1b3808896640d8a28db2c354ef268953</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kdepim-4.10.1.tar.xz">kdepim-4.10.1</a></td>
   <td align="right">13MB</td>
   <td><tt>9d1102ec9ea7ee7b8ddc70011231f173ceb2e5c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kdepimlibs-4.10.1.tar.xz">kdepimlibs-4.10.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>51d51263b0c8cca2043d73bcbb524c21ad224fb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kdepim-runtime-4.10.1.tar.xz">kdepim-runtime-4.10.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>d59c3a61328e4620659886018ba6cffaa3ecf348</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kdeplasma-addons-4.10.1.tar.xz">kdeplasma-addons-4.10.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2769a75f1551f917f677bef5e1ec2710b934b5ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-runtime-4.10.1.tar.xz">kde-runtime-4.10.1</a></td>
   <td align="right">6.8MB</td>
   <td><tt>68d630a5f38a3bb3e629b8cfe4d800e6aef5e327</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kdesdk-4.10.1.tar.xz">kdesdk-4.10.1</a></td>
   <td align="right">4.9MB</td>
   <td><tt>14a4ceb5ce4690230f365fc01159f4f46c73da9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kdetoys-4.10.1.tar.xz">kdetoys-4.10.1</a></td>
   <td align="right">369kB</td>
   <td><tt>415013b8074a357720f86a0e7367f09769be1f7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-wallpapers-4.10.1.tar.xz">kde-wallpapers-4.10.1</a></td>
   <td align="right">86MB</td>
   <td><tt>6458234aed63fccd30b4a635ce542b49ff7f4330</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kdewebdev-4.10.1.tar.xz">kdewebdev-4.10.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>11fad3d678d0a231a8eff0f48e6e1ef4564ca93a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-workspace-4.10.1.tar.xz">kde-workspace-4.10.1</a></td>
   <td align="right">12MB</td>
   <td><tt>48ea4564dc1932606a758647fb1cc5a6f824714e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kdf-4.10.1.tar.xz">kdf-4.10.1</a></td>
   <td align="right">153kB</td>
   <td><tt>bdb720102fc6c4893362f4f7d69e40ba76a1ea98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kdiamond-4.10.1.tar.xz">kdiamond-4.10.1</a></td>
   <td align="right">3.9MB</td>
   <td><tt>21773703e25e63011b6671c7aabc9291210e61a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kfloppy-4.10.1.tar.xz">kfloppy-4.10.1</a></td>
   <td align="right">60kB</td>
   <td><tt>00f99f3bbcfc19887618711f0495d8d2bf7116f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kfourinline-4.10.1.tar.xz">kfourinline-4.10.1</a></td>
   <td align="right">265kB</td>
   <td><tt>e54603f084a253ab29753df37966295dd339a75d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kgamma-4.10.1.tar.xz">kgamma-4.10.1</a></td>
   <td align="right">26kB</td>
   <td><tt>d26b0c7c53073b85922f1c913582487cb6403f70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kgeography-4.10.1.tar.xz">kgeography-4.10.1</a></td>
   <td align="right">6.4MB</td>
   <td><tt>d8d54f8050f829bc81d6efcc01bd239920e56b72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kgoldrunner-4.10.1.tar.xz">kgoldrunner-4.10.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>7cf89bd3dcb67eb9a5d12060cc174184e154c3e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kgpg-4.10.1.tar.xz">kgpg-4.10.1</a></td>
   <td align="right">795kB</td>
   <td><tt>2cc0720928f8415ac3177706b5aa2dc50ffa8459</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/khangman-4.10.1.tar.xz">khangman-4.10.1</a></td>
   <td align="right">3.7MB</td>
   <td><tt>8c16f60a1ec156f88c8a268b68c668ae93bd6e3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kig-4.10.1.tar.xz">kig-4.10.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>44b6c9d6585d42cb1b5d9970fd6a43c9c0610ca1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kigo-4.10.1.tar.xz">kigo-4.10.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>8caa108c1b63127843c60ace2c4889080b4149f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/killbots-4.10.1.tar.xz">killbots-4.10.1</a></td>
   <td align="right">951kB</td>
   <td><tt>81a76eb87422e8d42258fba1ac7205636bf93438</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kimono-4.10.1.tar.xz">kimono-4.10.1</a></td>
   <td align="right">936kB</td>
   <td><tt>8ae0a46efc42300a9d4f190b73ec147cab08230c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kiriki-4.10.1.tar.xz">kiriki-4.10.1</a></td>
   <td align="right">122kB</td>
   <td><tt>ef92049ee0baed9a71c49c80e9b7914d9e9c1f89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kiten-4.10.1.tar.xz">kiten-4.10.1</a></td>
   <td align="right">11MB</td>
   <td><tt>1955794b6b7eb2a78cd3d6d0fb0accea3bcfd833</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kjumpingcube-4.10.1.tar.xz">kjumpingcube-4.10.1</a></td>
   <td align="right">101kB</td>
   <td><tt>989067e555dd2398f15c31ddce299437d951eeff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/klettres-4.10.1.tar.xz">klettres-4.10.1</a></td>
   <td align="right">2.5MB</td>
   <td><tt>96701f24f6d187fdb8b25d4f36b48973f9ac73f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/klickety-4.10.1.tar.xz">klickety-4.10.1</a></td>
   <td align="right">833kB</td>
   <td><tt>75b05470576884996e677e7f02278a7dc6d0d744</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/klines-4.10.1.tar.xz">klines-4.10.1</a></td>
   <td align="right">935kB</td>
   <td><tt>4e11a5da5938c1b0569db05fe9a0ba5a08b9fb64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kmag-4.10.1.tar.xz">kmag-4.10.1</a></td>
   <td align="right">91kB</td>
   <td><tt>3b26b2dc8e974ac64205ed872fce7b8aa7cc871b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kmahjongg-4.10.1.tar.xz">kmahjongg-4.10.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>53640b63fb4194769c3babffe07d7dd4431457f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kmines-4.10.1.tar.xz">kmines-4.10.1</a></td>
   <td align="right">643kB</td>
   <td><tt>dfe6ed7af68f424f40eec9522460a800a4aff38c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kmix-4.10.1.tar.xz">kmix-4.10.1</a></td>
   <td align="right">376kB</td>
   <td><tt>ea3a25df28e86a4f06cf86f1ab2220de8bd0823b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kmousetool-4.10.1.tar.xz">kmousetool-4.10.1</a></td>
   <td align="right">42kB</td>
   <td><tt>5979498a972dd247d47fc19904d8b32c14bd3d82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kmouth-4.10.1.tar.xz">kmouth-4.10.1</a></td>
   <td align="right">313kB</td>
   <td><tt>2faaa9ea436885a667eb9c778fb9648d46103c2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kmplot-4.10.1.tar.xz">kmplot-4.10.1</a></td>
   <td align="right">664kB</td>
   <td><tt>3a25e9a3741687966beb72ed5af9d42a55e3c6b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/knavalbattle-4.10.1.tar.xz">knavalbattle-4.10.1</a></td>
   <td align="right">836kB</td>
   <td><tt>2bcf09d185d15fd1177dcb3b45184dc495e73ee7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/knetwalk-4.10.1.tar.xz">knetwalk-4.10.1</a></td>
   <td align="right">772kB</td>
   <td><tt>1f2df9663a1dc08c9f065cf584959cb2e18c0347</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kolf-4.10.1.tar.xz">kolf-4.10.1</a></td>
   <td align="right">760kB</td>
   <td><tt>8de187b5807217f9e6b0e863ff55d563fb506185</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kollision-4.10.1.tar.xz">kollision-4.10.1</a></td>
   <td align="right">208kB</td>
   <td><tt>d3e83cd99877cb9663fdbff9a6c86837766d45fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kolourpaint-4.10.1.tar.xz">kolourpaint-4.10.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>c5ec3acfc640496b3740393029b9f5088c4ba6ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/konquest-4.10.1.tar.xz">konquest-4.10.1</a></td>
   <td align="right">408kB</td>
   <td><tt>6ff522c655e4828914a02e8cb6262b5ed57133c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/konsole-4.10.1.tar.xz">konsole-4.10.1</a></td>
   <td align="right">436kB</td>
   <td><tt>e5277596c67ff651ca9cb510bcdfc6fe423cbd89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/korundum-4.10.1.tar.xz">korundum-4.10.1</a></td>
   <td align="right">161kB</td>
   <td><tt>ba0326225e6d040ea215f1991295f7e43d5aaed4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kpat-4.10.1.tar.xz">kpat-4.10.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>a402853ce9dca571734ab62ddc982abf7dc4dd87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kremotecontrol-4.10.1.tar.xz">kremotecontrol-4.10.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>957c5b9a430c69e90b6cf96789187e1654b82023</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kreversi-4.10.1.tar.xz">kreversi-4.10.1</a></td>
   <td align="right">389kB</td>
   <td><tt>41ef69c937908be5ef5c9a6fdaf976f00138537d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kross-interpreters-4.10.1.tar.xz">kross-interpreters-4.10.1</a></td>
   <td align="right">130kB</td>
   <td><tt>f334ca21b3e2b00518942d991ea68b65219f35ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kruler-4.10.1.tar.xz">kruler-4.10.1</a></td>
   <td align="right">131kB</td>
   <td><tt>a459e941ce302bb034df3ac349edfc88ab25ab38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/ksaneplugin-4.10.1.tar.xz">ksaneplugin-4.10.1</a></td>
   <td align="right">13kB</td>
   <td><tt>a17770a03d7e796060d61d52596c5503eaa3309f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kscd-4.10.1.tar.xz">kscd-4.10.1</a></td>
   <td align="right">92kB</td>
   <td><tt>636a4324c8305a40ebdaf41bcbbc0b2c714951b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kshisen-4.10.1.tar.xz">kshisen-4.10.1</a></td>
   <td align="right">141kB</td>
   <td><tt>7f7bcd546ba7e61b61714b49629147366076da70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/ksirk-4.10.1.tar.xz">ksirk-4.10.1</a></td>
   <td align="right">5.7MB</td>
   <td><tt>88f63a8dc09c29f77495b3af8f9cf53821482111</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/ksnakeduel-4.10.1.tar.xz">ksnakeduel-4.10.1</a></td>
   <td align="right">314kB</td>
   <td><tt>5618d33510ecbc60d759a895d540a2994b143ec6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/ksnapshot-4.10.1.tar.xz">ksnapshot-4.10.1</a></td>
   <td align="right">258kB</td>
   <td><tt>6b4568fa7e40a1131f118544c3d1b0ffbfb78f99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kspaceduel-4.10.1.tar.xz">kspaceduel-4.10.1</a></td>
   <td align="right">258kB</td>
   <td><tt>0e1c15f2abc95b9801c2d3fb4f3fd0bea1ac467b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/ksquares-4.10.1.tar.xz">ksquares-4.10.1</a></td>
   <td align="right">83kB</td>
   <td><tt>fde1dcea7e8acac6d872a37076d2eeebb4df0fa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kstars-4.10.1.tar.xz">kstars-4.10.1</a></td>
   <td align="right">11MB</td>
   <td><tt>f440d0f27af3c4a8d7a8a8eea5bd29b450a0dd8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/ksudoku-4.10.1.tar.xz">ksudoku-4.10.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>7243c63fd117708cbcc53fc745f2a270414d4284</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/ktimer-4.10.1.tar.xz">ktimer-4.10.1</a></td>
   <td align="right">147kB</td>
   <td><tt>2182b0dd8983ac6f4b85331d50eb99b888082ab4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/ktouch-4.10.1.tar.xz">ktouch-4.10.1</a></td>
   <td align="right">2.5MB</td>
   <td><tt>4ad7bd9a783ec383c83bbc08d8d93737a69f1ce5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/ktuberling-4.10.1.tar.xz">ktuberling-4.10.1</a></td>
   <td align="right">4.0MB</td>
   <td><tt>d064789f60fcf7c9bdaa0378e354df438aa6fae7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kturtle-4.10.1.tar.xz">kturtle-4.10.1</a></td>
   <td align="right">210kB</td>
   <td><tt>163a70168e9faf8175b1079ce63a7c5e423c67fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kubrick-4.10.1.tar.xz">kubrick-4.10.1</a></td>
   <td align="right">118kB</td>
   <td><tt>af7031e077f4d8b03f0d58a5386751eae92f1e13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kwallet-4.10.1.tar.xz">kwallet-4.10.1</a></td>
   <td align="right">275kB</td>
   <td><tt>142f3f5fd1ec4577e113522634a27c6bfeb921b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kwordquiz-4.10.1.tar.xz">kwordquiz-4.10.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>80bff3cb0c4cc612e83062812607bf543e5ade41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/libkcddb-4.10.1.tar.xz">libkcddb-4.10.1</a></td>
   <td align="right">160kB</td>
   <td><tt>510c6adfcb558f23fcba6e427b82ce42819edb42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/libkcompactdisc-4.10.1.tar.xz">libkcompactdisc-4.10.1</a></td>
   <td align="right">75kB</td>
   <td><tt>8d8d878144f49a138617575812900527db6f7208</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/libkdcraw-4.10.1.tar.xz">libkdcraw-4.10.1</a></td>
   <td align="right">341kB</td>
   <td><tt>75d1f52d02137b275b545a5390e1857a580a1128</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/libkdeedu-4.10.1.tar.xz">libkdeedu-4.10.1</a></td>
   <td align="right">208kB</td>
   <td><tt>6d7c39d2d2bc27db646ab0c864ecdca3c86e9c7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/libkdegames-4.10.1.tar.xz">libkdegames-4.10.1</a></td>
   <td align="right">5.5MB</td>
   <td><tt>7f9a120db8bf754d977de5fc6a4ceab8993cd1b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/libkexiv2-4.10.1.tar.xz">libkexiv2-4.10.1</a></td>
   <td align="right">131kB</td>
   <td><tt>1e23a014eed00a5914ba8a0754ab026635b2b9d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/libkipi-4.10.1.tar.xz">libkipi-4.10.1</a></td>
   <td align="right">93kB</td>
   <td><tt>75a37c09ec2219bf013ddd9070c71873878ded45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/libkmahjongg-4.10.1.tar.xz">libkmahjongg-4.10.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>ce743c227bc29e150dc2cc23d79d7911c572ec69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/libksane-4.10.1.tar.xz">libksane-4.10.1</a></td>
   <td align="right">80kB</td>
   <td><tt>2fc97612c97dd5517ab09916fc2b1a840d7c0b52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/lskat-4.10.1.tar.xz">lskat-4.10.1</a></td>
   <td align="right">936kB</td>
   <td><tt>9ce87f66fd64723add9dd7f212f31928b6995f8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/marble-4.10.1.tar.xz">marble-4.10.1</a></td>
   <td align="right">18MB</td>
   <td><tt>0704e76204eba8b5cf32239f32d3c385063716ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/mplayerthumbs-4.10.1.tar.xz">mplayerthumbs-4.10.1</a></td>
   <td align="right">27kB</td>
   <td><tt>b4e234425589acd0fed4dbf800f2489de14a3cd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/nepomuk-core-4.10.1.tar.xz">nepomuk-core-4.10.1</a></td>
   <td align="right">362kB</td>
   <td><tt>23661174669b32b12e7c930d700b08a4f7efd275</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/nepomuk-widgets-4.10.1.tar.xz">nepomuk-widgets-4.10.1</a></td>
   <td align="right">77kB</td>
   <td><tt>c7401f43b88edd8a6ca388bea2960036299ac77e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/okular-4.10.1.tar.xz">okular-4.10.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>012f549172a319b0492bea12940fe0150abf7770</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/oxygen-icons-4.10.1.tar.xz">oxygen-icons-4.10.1</a></td>
   <td align="right">264MB</td>
   <td><tt>ed5c73434bab1c710651117d63af049d4490375f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/pairs-4.10.1.tar.xz">pairs-4.10.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>befcc60b502422e359fbc486f23ce2b570349137</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/palapeli-4.10.1.tar.xz">palapeli-4.10.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>af3c325b8fbdc1521d1de56a5e2e60b7654e522d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/parley-4.10.1.tar.xz">parley-4.10.1</a></td>
   <td align="right">7.8MB</td>
   <td><tt>bea1bebe90e29d674f3a10f5cbfaf0051fb04ee5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/perlkde-4.10.1.tar.xz">perlkde-4.10.1</a></td>
   <td align="right">43kB</td>
   <td><tt>f5334a040c8191cd0f3158c7b7dc97b6f21bc897</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/perlqt-4.10.1.tar.xz">perlqt-4.10.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>6b6b8b5a9018cec68404a72cff5524c437def6cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/picmi-4.10.1.tar.xz">picmi-4.10.1</a></td>
   <td align="right">718kB</td>
   <td><tt>773d56c754a8e50930392acf65683f22bab31d93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/print-manager-4.10.1.tar.xz">print-manager-4.10.1</a></td>
   <td align="right">90kB</td>
   <td><tt>f5a509f317774aaac84ac0e803d31e7910bd1afe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/pykde4-4.10.1.tar.xz">pykde4-4.10.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>69a0562e3325508631fde4f24e01d2e3f8907b74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/qtruby-4.10.1.tar.xz">qtruby-4.10.1</a></td>
   <td align="right">528kB</td>
   <td><tt>732a5e127ffec591b99b91ed41d00d739d8c0300</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/qyoto-4.10.1.tar.xz">qyoto-4.10.1</a></td>
   <td align="right">515kB</td>
   <td><tt>ea78bfdebb93e3be19db7e102bf4e8b66b8b5bec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/rocs-4.10.1.tar.xz">rocs-4.10.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>5d3551cf327942da4c94529902436f30940c2537</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/smokegen-4.10.1.tar.xz">smokegen-4.10.1</a></td>
   <td align="right">146kB</td>
   <td><tt>866b08f274d88c6ff4c57cada4923906b27bdcd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/smokekde-4.10.1.tar.xz">smokekde-4.10.1</a></td>
   <td align="right">38kB</td>
   <td><tt>7bac022a4f2041ce4adec5a67908ef49f4548941</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/smokeqt-4.10.1.tar.xz">smokeqt-4.10.1</a></td>
   <td align="right">31kB</td>
   <td><tt>a9aa3f48a5704d79686807e1abf06cedc2776c27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/step-4.10.1.tar.xz">step-4.10.1</a></td>
   <td align="right">367kB</td>
   <td><tt>2b3f8760abf15bd824a09b580a59a29e26aa4773</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/superkaramba-4.10.1.tar.xz">superkaramba-4.10.1</a></td>
   <td align="right">380kB</td>
   <td><tt>c36e56cd72be5ffd92ef7004176dc094b25a6310</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/svgpart-4.10.1.tar.xz">svgpart-4.10.1</a></td>
   <td align="right">8kB</td>
   <td><tt>0a4758bf8cc717fc21d69a68623bf8360b87d014</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/sweeper-4.10.1.tar.xz">sweeper-4.10.1</a></td>
   <td align="right">82kB</td>
   <td><tt>6276ad9daa4c48ba16fc875ef6cf165f32f06b32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-ar-4.10.1.tar.xz">kde-l10n-ar-4.10.1</a></td>
   <td align="right">3.1MB</td>
   <td><tt>398ab21d45c566b2bc5a2f0ea4426d63610b88ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-bg-4.10.1.tar.xz">kde-l10n-bg-4.10.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>cd70042176be4b2b96bbcd6f8bc352f74a300959</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-bs-4.10.1.tar.xz">kde-l10n-bs-4.10.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>c086945ac5b3f1268c5c64c5ec88ca6064ab65ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-ca-4.10.1.tar.xz">kde-l10n-ca-4.10.1</a></td>
   <td align="right">12MB</td>
   <td><tt>67a477bd41176befbd27dcec3ec1e614583b2d8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-ca@valencia-4.10.1.tar.xz">kde-l10n-ca@valencia-4.10.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>b20a63d22a16f32da970a222a00920750ee396b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-cs-4.10.1.tar.xz">kde-l10n-cs-4.10.1</a></td>
   <td align="right">2.8MB</td>
   <td><tt>1a54761c036bc0dea9bdb1afc3d61b73a64325ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-da-4.10.1.tar.xz">kde-l10n-da-4.10.1</a></td>
   <td align="right">12MB</td>
   <td><tt>8353a4a77adcf25e6b93ba30dd3609aa4aa46120</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-de-4.10.1.tar.xz">kde-l10n-de-4.10.1</a></td>
   <td align="right">36MB</td>
   <td><tt>7073788597ee007b9b1df302ffbec6b421c19b30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-el-4.10.1.tar.xz">kde-l10n-el-4.10.1</a></td>
   <td align="right">4.6MB</td>
   <td><tt>7b8d5942aacb7328f40078b3d12a362e70bd2f28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-en_GB-4.10.1.tar.xz">kde-l10n-en_GB-4.10.1</a></td>
   <td align="right">3.0MB</td>
   <td><tt>8d2278f0fffa3ff1d9c835cce5f6620384432b23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-es-4.10.1.tar.xz">kde-l10n-es-4.10.1</a></td>
   <td align="right">22MB</td>
   <td><tt>6a3cebfaabf54cbc3130b6d8b13611cd934f5d8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-et-4.10.1.tar.xz">kde-l10n-et-4.10.1</a></td>
   <td align="right">7.1MB</td>
   <td><tt>07e866e641f968d31d71bdbffcdd674f894fd3f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-eu-4.10.1.tar.xz">kde-l10n-eu-4.10.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>ca0bd4eb0621e4f6c65f132280164bc95ae8abde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-fa-4.10.1.tar.xz">kde-l10n-fa-4.10.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>a415520aec157c8cbc7c4c62715b4fb6626c84b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-fi-4.10.1.tar.xz">kde-l10n-fi-4.10.1</a></td>
   <td align="right">2.5MB</td>
   <td><tt>26454f6a791047e5de4b5581ea97146af28f73e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-fr-4.10.1.tar.xz">kde-l10n-fr-4.10.1</a></td>
   <td align="right">42MB</td>
   <td><tt>38d02e90fb64ad815fd3b875b8169df034945fa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-ga-4.10.1.tar.xz">kde-l10n-ga-4.10.1</a></td>
   <td align="right">2.7MB</td>
   <td><tt>2142657a3a2786e065b5e92b9fac064da52f056b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-gl-4.10.1.tar.xz">kde-l10n-gl-4.10.1</a></td>
   <td align="right">4.0MB</td>
   <td><tt>ebde0b87e351a159d3cc3ac9dc4d8519ca63942c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-he-4.10.1.tar.xz">kde-l10n-he-4.10.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>6abbd62f017117b6bfbd832b382e0d9c01befe7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-hi-4.10.1.tar.xz">kde-l10n-hi-4.10.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>77bcc2ecf5b7833ce898791a56bfd3918331e675</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-hr-4.10.1.tar.xz">kde-l10n-hr-4.10.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>9dd839d246276e1732e40db09034784cfb82bbe9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-hu-4.10.1.tar.xz">kde-l10n-hu-4.10.1</a></td>
   <td align="right">4.0MB</td>
   <td><tt>c6b493d011ccffec73d9a2b0ed1ec1db86c53061</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-ia-4.10.1.tar.xz">kde-l10n-ia-4.10.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>1aad4e9b0719276bbcd9367b4f32d0f5a4e32a36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-is-4.10.1.tar.xz">kde-l10n-is-4.10.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>cc05c7b46edc167aea746573df093d2c7ae7c3d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-it-4.10.1.tar.xz">kde-l10n-it-4.10.1</a></td>
   <td align="right">10MB</td>
   <td><tt>e1f105c6b0d187c4f6a97f9a2b5b610b23ac3e59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-ja-4.10.1.tar.xz">kde-l10n-ja-4.10.1</a></td>
   <td align="right">2.2MB</td>
   <td><tt>44327a9b1de863a2ba1d6e47d38ebce3153d6cde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-kk-4.10.1.tar.xz">kde-l10n-kk-4.10.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>224b3ed819dc38ac9a4d0570944b68a90bfc4092</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-km-4.10.1.tar.xz">kde-l10n-km-4.10.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>5310c3b43aac2e7272dd2d954438af579a18be40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-ko-4.10.1.tar.xz">kde-l10n-ko-4.10.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8753978a4839ff673410c80427b53032d503bb88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-lt-4.10.1.tar.xz">kde-l10n-lt-4.10.1</a></td>
   <td align="right">12MB</td>
   <td><tt>f57de47b63ed1720e5b090d2e16ce86f94b99da6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-lv-4.10.1.tar.xz">kde-l10n-lv-4.10.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>79eaeee5d7970132a7a31a5beb2f4d06a60bda7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-mr-4.10.1.tar.xz">kde-l10n-mr-4.10.1</a></td>
   <td align="right">871kB</td>
   <td><tt>68fe5c6e8c95ea90026066285be05dd1e2c909e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-nb-4.10.1.tar.xz">kde-l10n-nb-4.10.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>65b5217b66c93f33d177159789f69caec4e3ee1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-nds-4.10.1.tar.xz">kde-l10n-nds-4.10.1</a></td>
   <td align="right">3.0MB</td>
   <td><tt>1bbd4b91515c888cfc7b12a255e29817994a1709</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-nl-4.10.1.tar.xz">kde-l10n-nl-4.10.1</a></td>
   <td align="right">15MB</td>
   <td><tt>a65b0baccaac1ce825ec460964637aa504437709</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-nn-4.10.1.tar.xz">kde-l10n-nn-4.10.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>ed62323b60e93d9909614eb22f7fe7d8e880616b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-pa-4.10.1.tar.xz">kde-l10n-pa-4.10.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>97106d657a1f7f8d084ec245dd0aedff52e05066</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-pl-4.10.1.tar.xz">kde-l10n-pl-4.10.1</a></td>
   <td align="right">16MB</td>
   <td><tt>b0eb69724d74483a1ee84ad14a7ac5ff2ab66123</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-pt-4.10.1.tar.xz">kde-l10n-pt-4.10.1</a></td>
   <td align="right">5.5MB</td>
   <td><tt>1bcffc0249ed3f1842dc42164613e72cd8598960</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-pt_BR-4.10.1.tar.xz">kde-l10n-pt_BR-4.10.1</a></td>
   <td align="right">26MB</td>
   <td><tt>4bbdc4c2c4f69de08f6da2a53216bbb53d9a7d38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-ro-4.10.1.tar.xz">kde-l10n-ro-4.10.1</a></td>
   <td align="right">2.8MB</td>
   <td><tt>da3eb3e6a8ae0efd10646f539df1ebf05705b726</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-ru-4.10.1.tar.xz">kde-l10n-ru-4.10.1</a></td>
   <td align="right">22MB</td>
   <td><tt>f592db9ff0d586fe4b6c908f4c915e13d1a72aac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-si-4.10.1.tar.xz">kde-l10n-si-4.10.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>173014eb2a1301f453f60bb559267ada5576fc79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-sk-4.10.1.tar.xz">kde-l10n-sk-4.10.1</a></td>
   <td align="right">4.1MB</td>
   <td><tt>3f96778e8d8e1896fddecae26e9a38ce36a8d8e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-sl-4.10.1.tar.xz">kde-l10n-sl-4.10.1</a></td>
   <td align="right">3.3MB</td>
   <td><tt>2ba4f3019984fed6116372fd2ce9d311157d9f43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-sr-4.10.1.tar.xz">kde-l10n-sr-4.10.1</a></td>
   <td align="right">5.3MB</td>
   <td><tt>8f597aabe98b64b0cdc2feb50cba838fd95646f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-sv-4.10.1.tar.xz">kde-l10n-sv-4.10.1</a></td>
   <td align="right">15MB</td>
   <td><tt>4699867d2a20f1382b09bb2074ce8d69574d158b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-tg-4.10.1.tar.xz">kde-l10n-tg-4.10.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>3af35a0fe92ff71790eeb448c83c3196a3c34b7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-th-4.10.1.tar.xz">kde-l10n-th-4.10.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>ebcbcc68b5be1d895f069fb4829fd748e034ed90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-tr-4.10.1.tar.xz">kde-l10n-tr-4.10.1</a></td>
   <td align="right">3.8MB</td>
   <td><tt>c33ad7b1d80563b9b1bbc2463383280fabd68590</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-ug-4.10.1.tar.xz">kde-l10n-ug-4.10.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>f9d596396392558dd1a18f9ffc7b849a73a53fe1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-uk-4.10.1.tar.xz">kde-l10n-uk-4.10.1</a></td>
   <td align="right">26MB</td>
   <td><tt>e19d1af50282a0a84823d7342e2a9df8d1151d4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-vi-4.10.1.tar.xz">kde-l10n-vi-4.10.1</a></td>
   <td align="right">918kB</td>
   <td><tt>c9874caa8dd183c20abdabad875b54f32d4ab428</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-wa-4.10.1.tar.xz">kde-l10n-wa-4.10.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2016e86c4a4ba888ba0278b8d27a76e1f23bb9ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-zh_CN-4.10.1.tar.xz">kde-l10n-zh_CN-4.10.1</a></td>
   <td align="right">3.4MB</td>
   <td><tt>108cdf24b7f9d84f6e6b3ee2aec399a7c44ce1dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.10.1/src/kde-l10n/kde-l10n-zh_TW-4.10.1.tar.xz">kde-l10n-zh_TW-4.10.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>991477c33c1618562958198092096600a1bc412a</tt></td>
</tr>

</table>
