<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/akonadi-17.12.2.tar.xz">akonadi-17.12.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>8a6df0a1003a9690dc3018f4c58813fbc66e25a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/akonadi-calendar-17.12.2.tar.xz">akonadi-calendar-17.12.2</a></td>
   <td align="right">277kB</td>
   <td><tt>e111ee49597bca882696b09d6181081d8366f506</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/akonadi-calendar-tools-17.12.2.tar.xz">akonadi-calendar-tools-17.12.2</a></td>
   <td align="right">218kB</td>
   <td><tt>d097ae65ffa4e7d8d095fde9bbee689ff238716c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/akonadiconsole-17.12.2.tar.xz">akonadiconsole-17.12.2</a></td>
   <td align="right">181kB</td>
   <td><tt>8f2b34cebf648b00cecd6166ea7263970adb7722</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/akonadi-contacts-17.12.2.tar.xz">akonadi-contacts-17.12.2</a></td>
   <td align="right">337kB</td>
   <td><tt>4574f5a5c30ed7e671c19ada467484dba9632e03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/akonadi-import-wizard-17.12.2.tar.xz">akonadi-import-wizard-17.12.2</a></td>
   <td align="right">426kB</td>
   <td><tt>44eb5a677ed4b67c650efef98a682d357defc2ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/akonadi-mime-17.12.2.tar.xz">akonadi-mime-17.12.2</a></td>
   <td align="right">127kB</td>
   <td><tt>307d6440712c21f820c70887f2f9903a3ee27c1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/akonadi-notes-17.12.2.tar.xz">akonadi-notes-17.12.2</a></td>
   <td align="right">23kB</td>
   <td><tt>f36b2d42a4e02975f5b0999d46844804107ae934</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/akonadi-search-17.12.2.tar.xz">akonadi-search-17.12.2</a></td>
   <td align="right">79kB</td>
   <td><tt>45f1defe506cec3e7f89b886af7d78061d38f1e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/akregator-17.12.2.tar.xz">akregator-17.12.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>2cba8c4ae9b829512ce0591f92f9236d0a52f2d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/analitza-17.12.2.tar.xz">analitza-17.12.2</a></td>
   <td align="right">323kB</td>
   <td><tt>928605d4f38ac65d20e769e7ae38a2a993aa1779</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/ark-17.12.2.tar.xz">ark-17.12.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>f8b9f8cd192e3cf5648d18128b978153f1b359b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/artikulate-17.12.2.tar.xz">artikulate-17.12.2</a></td>
   <td align="right">3.5MB</td>
   <td><tt>cd0b5dda6ffc0758f24bbcc0df3303776d53db0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/audiocd-kio-17.12.2.tar.xz">audiocd-kio-17.12.2</a></td>
   <td align="right">242kB</td>
   <td><tt>14101b211e624ca3541ececafeec63cd237fce42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/baloo-widgets-17.12.2.tar.xz">baloo-widgets-17.12.2</a></td>
   <td align="right">147kB</td>
   <td><tt>b4d865f7e803696119ea429afeb437f2bb56bee4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/blinken-17.12.2.tar.xz">blinken-17.12.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>5e677607cf35ad26f0406ba327e8865b24b77632</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/bomber-17.12.2.tar.xz">bomber-17.12.2</a></td>
   <td align="right">736kB</td>
   <td><tt>eb8a82d1555420eeec22d1463fc75ac17c2ef213</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/bovo-17.12.2.tar.xz">bovo-17.12.2</a></td>
   <td align="right">182kB</td>
   <td><tt>c1074c51e6522527a54e9c076d7a0bc56ef92487</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/calendarsupport-17.12.2.tar.xz">calendarsupport-17.12.2</a></td>
   <td align="right">630kB</td>
   <td><tt>c43b060ab15d3cc300d32756d6704e02b7dcc1e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/cantor-17.12.2.tar.xz">cantor-17.12.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>1f789619e2d87aded91fbf70d14d04b05ff0013e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/cervisia-17.12.2.tar.xz">cervisia-17.12.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>883d39c0040e31acdc348e370fd1fd93ffd75a1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/dolphin-17.12.2.tar.xz">dolphin-17.12.2</a></td>
   <td align="right">4.6MB</td>
   <td><tt>c6109703c55e11c30e4c8d86df99e3dab134b3f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/dolphin-plugins-17.12.2.tar.xz">dolphin-plugins-17.12.2</a></td>
   <td align="right">182kB</td>
   <td><tt>64ed16e9845956a573c8d2d62150f64e30886b73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/dragon-17.12.2.tar.xz">dragon-17.12.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>3741f0da0f902b5eba5eb19d57f8e3ca0b5c93bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/eventviews-17.12.2.tar.xz">eventviews-17.12.2</a></td>
   <td align="right">428kB</td>
   <td><tt>3f6a3e175d28bfa3c317486982f88f9045cc7ce1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/ffmpegthumbs-17.12.2.tar.xz">ffmpegthumbs-17.12.2</a></td>
   <td align="right">20kB</td>
   <td><tt>6b21b89de4463636c58fe48eed1d161397349de4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/filelight-17.12.2.tar.xz">filelight-17.12.2</a></td>
   <td align="right">639kB</td>
   <td><tt>950b2b893a9911bab4d7b994f44ab6ad58642ed3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/granatier-17.12.2.tar.xz">granatier-17.12.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>ad0fdcacc815e448a804d6bfcbae086d9b945bc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/grantlee-editor-17.12.2.tar.xz">grantlee-editor-17.12.2</a></td>
   <td align="right">108kB</td>
   <td><tt>c9774f3e36ea1da31f788750ea6002ae10f8e505</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/grantleetheme-17.12.2.tar.xz">grantleetheme-17.12.2</a></td>
   <td align="right">50kB</td>
   <td><tt>d265c6cb8ec11e635d050036d82986cf07698d63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/gwenview-17.12.2.tar.xz">gwenview-17.12.2</a></td>
   <td align="right">5.7MB</td>
   <td><tt>cf03b0b8fc5a67c3555a222236ec4418f69d3a4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/incidenceeditor-17.12.2.tar.xz">incidenceeditor-17.12.2</a></td>
   <td align="right">505kB</td>
   <td><tt>e45bd8d750333552e46c54e1cf7dd16d2f18a73c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/juk-17.12.2.tar.xz">juk-17.12.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>412d3e3929587847789ffb766ffe5e6979da2233</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/k3b-17.12.2.tar.xz">k3b-17.12.2</a></td>
   <td align="right">10MB</td>
   <td><tt>d48ac469107e186f5b312c50e37195f7d5b3baf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kaccounts-integration-17.12.2.tar.xz">kaccounts-integration-17.12.2</a></td>
   <td align="right">69kB</td>
   <td><tt>b015629ff510c390de6141b38fd24be4b6762b14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kaccounts-providers-17.12.2.tar.xz">kaccounts-providers-17.12.2</a></td>
   <td align="right">31kB</td>
   <td><tt>6e7d2f54dbfd556ef10d854f9851ade45c02f73c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kaddressbook-17.12.2.tar.xz">kaddressbook-17.12.2</a></td>
   <td align="right">531kB</td>
   <td><tt>6f3c447d86b9347f028b8c75e3a5e60d30e0a201</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kajongg-17.12.2.tar.xz">kajongg-17.12.2</a></td>
   <td align="right">4.0MB</td>
   <td><tt>082e91f891ae1ecfa416f53d702ebadf6f5f3091</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kalarm-17.12.2.tar.xz">kalarm-17.12.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>342b144c3222869f68a9b55f74e399fe5050e89c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kalarmcal-17.12.2.tar.xz">kalarmcal-17.12.2</a></td>
   <td align="right">483kB</td>
   <td><tt>ab1dacea7d977a0712fd55b35fc59f72682326d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kalgebra-17.12.2.tar.xz">kalgebra-17.12.2</a></td>
   <td align="right">674kB</td>
   <td><tt>690f9832b3b490ce78de9d6d0943ebefe41e75a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kalzium-17.12.2.tar.xz">kalzium-17.12.2</a></td>
   <td align="right">23MB</td>
   <td><tt>54413fb903eeaca56950024f25a2f1e4b81f8cc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kamera-17.12.2.tar.xz">kamera-17.12.2</a></td>
   <td align="right">94kB</td>
   <td><tt>cbfa79f11405a285f9d5cb493b22fdcb6142fcd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kanagram-17.12.2.tar.xz">kanagram-17.12.2</a></td>
   <td align="right">7.1MB</td>
   <td><tt>21dadf936d877ef17a0d6f62ed482872077cc17c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kapman-17.12.2.tar.xz">kapman-17.12.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>bd690b4881c9f9850e24aa8f6c5245e6c7e17d79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kapptemplate-17.12.2.tar.xz">kapptemplate-17.12.2</a></td>
   <td align="right">344kB</td>
   <td><tt>62060ed8ab27f9251bd174c47f293862768f7cea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kate-17.12.2.tar.xz">kate-17.12.2</a></td>
   <td align="right">5.3MB</td>
   <td><tt>51bd7ba5e6a44296f34abc98b77d728b5187d31c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/katomic-17.12.2.tar.xz">katomic-17.12.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>0f9cba65097f3e6607184acbdd0c0cd7b2877915</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kblackbox-17.12.2.tar.xz">kblackbox-17.12.2</a></td>
   <td align="right">392kB</td>
   <td><tt>bff94438203b5ee62b006d0fc309974098fa2b7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kblocks-17.12.2.tar.xz">kblocks-17.12.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c3bc4a169ec3ddb8ca533f0ee59659f9a3086e0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kblog-17.12.2.tar.xz">kblog-17.12.2</a></td>
   <td align="right">70kB</td>
   <td><tt>573c4372fc310d6e543ae3ce844007032d22b06f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kbounce-17.12.2.tar.xz">kbounce-17.12.2</a></td>
   <td align="right">3.3MB</td>
   <td><tt>381be1166cc6a48588bcb3cb685dae4c31ce8bee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kbreakout-17.12.2.tar.xz">kbreakout-17.12.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>58badc316f86a4b21954a24d25870026fd412375</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kbruch-17.12.2.tar.xz">kbruch-17.12.2</a></td>
   <td align="right">5.3MB</td>
   <td><tt>f10dcbc51eaa37c8ec98d2e49eeedae718e1b181</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kcachegrind-17.12.2.tar.xz">kcachegrind-17.12.2</a></td>
   <td align="right">794kB</td>
   <td><tt>c61df9ec4a14e51bc88193b0912bc90a59251fb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kcalc-17.12.2.tar.xz">kcalc-17.12.2</a></td>
   <td align="right">351kB</td>
   <td><tt>e5dcc8da9c36f7e6a40212978a162efd7be248be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kcalcore-17.12.2.tar.xz">kcalcore-17.12.2</a></td>
   <td align="right">270kB</td>
   <td><tt>e1b3596489dbb4973a3ff6e7e8d7870ad8bb0cf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kcalutils-17.12.2.tar.xz">kcalutils-17.12.2</a></td>
   <td align="right">317kB</td>
   <td><tt>025a059cd57a31a967c62bc47be34707f3e30f18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kcharselect-17.12.2.tar.xz">kcharselect-17.12.2</a></td>
   <td align="right">343kB</td>
   <td><tt>f2b882b917c3762be32aeea724d8739df3e52d69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kcolorchooser-17.12.2.tar.xz">kcolorchooser-17.12.2</a></td>
   <td align="right">16kB</td>
   <td><tt>3e9bba0f38a4afe92e246a042b13faf0d1341684</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kcontacts-17.12.2.tar.xz">kcontacts-17.12.2</a></td>
   <td align="right">201kB</td>
   <td><tt>ebd320b5f92a3b2fbb292143df5665f0c617cdba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kcron-17.12.2.tar.xz">kcron-17.12.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ba05f6989c90056ce4b2db13593fdd62b47d2c0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kdav-17.12.2.tar.xz">kdav-17.12.2</a></td>
   <td align="right">36kB</td>
   <td><tt>9e66a1d5fa3907b1d7545e5be3927dec0a302ae8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kdebugsettings-17.12.2.tar.xz">kdebugsettings-17.12.2</a></td>
   <td align="right">47kB</td>
   <td><tt>5f2c7a03efbfcf9ea0d9e850e5b03b20c298f64d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kde-dev-scripts-17.12.2.tar.xz">kde-dev-scripts-17.12.2</a></td>
   <td align="right">367kB</td>
   <td><tt>5341bd0c400ccbf5a71557d2f603cf8e789bccf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kde-dev-utils-17.12.2.tar.xz">kde-dev-utils-17.12.2</a></td>
   <td align="right">59kB</td>
   <td><tt>5c4af0ee481af6717e8040c1db9f0bac91d2dba4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kdeedu-data-17.12.2.tar.xz">kdeedu-data-17.12.2</a></td>
   <td align="right">320kB</td>
   <td><tt>91b3ab11137eecc946a0616df1db1bdbf742137a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kdegraphics-mobipocket-17.12.2.tar.xz">kdegraphics-mobipocket-17.12.2</a></td>
   <td align="right">13kB</td>
   <td><tt>4c6a8b576074f4ce05a828da1b8d68d1254acaa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kdegraphics-thumbnailers-17.12.2.tar.xz">kdegraphics-thumbnailers-17.12.2</a></td>
   <td align="right">40kB</td>
   <td><tt>01d0a4ebfeb99c4e29862d7595e98fc4418e24b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kdenetwork-filesharing-17.12.2.tar.xz">kdenetwork-filesharing-17.12.2</a></td>
   <td align="right">315kB</td>
   <td><tt>25c989eb1ea8d4ea2df0ea9349bd25b5d5c52931</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kdenlive-17.12.2.tar.xz">kdenlive-17.12.2</a></td>
   <td align="right">8.9MB</td>
   <td><tt>75c3d20c5b3c2bffcffc03782f81dd314aa8141e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kdepim-addons-17.12.2.tar.xz">kdepim-addons-17.12.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>c463074c112b6a52764162482cdec00a9a3ac5bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kdepim-apps-libs-17.12.2.tar.xz">kdepim-apps-libs-17.12.2</a></td>
   <td align="right">71kB</td>
   <td><tt>9eab255218d788130b8f42eb17bc5db57cb5d3a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kdepim-runtime-17.12.2.tar.xz">kdepim-runtime-17.12.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e179d3dfe8ddc47583e28e861541e30077fa7cbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kdesdk-kioslaves-17.12.2.tar.xz">kdesdk-kioslaves-17.12.2</a></td>
   <td align="right">36kB</td>
   <td><tt>5c9b1eee6c2c8e8ea1f85a3ad1a1a8190a73d1d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kdesdk-thumbnailers-17.12.2.tar.xz">kdesdk-thumbnailers-17.12.2</a></td>
   <td align="right">16kB</td>
   <td><tt>e33a956b0be966fc1534598403d27953e0bb6e9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kdf-17.12.2.tar.xz">kdf-17.12.2</a></td>
   <td align="right">518kB</td>
   <td><tt>81512cdb9d20ce7174b7b30409b6a8e79f5aae50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kdialog-17.12.2.tar.xz">kdialog-17.12.2</a></td>
   <td align="right">93kB</td>
   <td><tt>f571eee922b2eccfd8e818fa048e5e05a4e9a7bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kdiamond-17.12.2.tar.xz">kdiamond-17.12.2</a></td>
   <td align="right">4.3MB</td>
   <td><tt>eb7177468ae0df9574d73729cb699ffc9214ecc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/keditbookmarks-17.12.2.tar.xz">keditbookmarks-17.12.2</a></td>
   <td align="right">179kB</td>
   <td><tt>feb7d42654895c3728976fc5382b5352bd6be680</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kfind-17.12.2.tar.xz">kfind-17.12.2</a></td>
   <td align="right">204kB</td>
   <td><tt>d4294de6d5819c6009698cf67934cd724d8f7115</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kfloppy-17.12.2.tar.xz">kfloppy-17.12.2</a></td>
   <td align="right">194kB</td>
   <td><tt>035486a247471fb536e1265520ee57ae756b26af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kfourinline-17.12.2.tar.xz">kfourinline-17.12.2</a></td>
   <td align="right">559kB</td>
   <td><tt>4fde7ea7ab4517b57f945a4a6538b306a11ebfca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kgeography-17.12.2.tar.xz">kgeography-17.12.2</a></td>
   <td align="right">10MB</td>
   <td><tt>9ab7fe462a2edc03bde6302d133603e7a9a70973</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kget-17.12.2.tar.xz">kget-17.12.2</a></td>
   <td align="right">5.1MB</td>
   <td><tt>64a944ad170ae7d33e008fff4e635873b3f21ce8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kgoldrunner-17.12.2.tar.xz">kgoldrunner-17.12.2</a></td>
   <td align="right">4.1MB</td>
   <td><tt>276b3a8eb7c53dc4095c4d3a841beda1db9234a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kgpg-17.12.2.tar.xz">kgpg-17.12.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>939325b54b45c61b36ad0e05e5ab59618c3ea0b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/khangman-17.12.2.tar.xz">khangman-17.12.2</a></td>
   <td align="right">6.1MB</td>
   <td><tt>70806c0f43f5199edcef99d7d5e0e89c2f168757</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/khelpcenter-17.12.2.tar.xz">khelpcenter-17.12.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>c91d8e9472065bc5c91ab61fbf533b194800f32c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kholidays-17.12.2.tar.xz">kholidays-17.12.2</a></td>
   <td align="right">197kB</td>
   <td><tt>d689a43515434ffb1d1223cfc4158fa330c46869</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kidentitymanagement-17.12.2.tar.xz">kidentitymanagement-17.12.2</a></td>
   <td align="right">144kB</td>
   <td><tt>39d7acbfc17dff09ebedee9b6781e0dc2db9011e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kig-17.12.2.tar.xz">kig-17.12.2</a></td>
   <td align="right">3.4MB</td>
   <td><tt>38ed881813b52d8becfb358ad75e19d0df095f2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kigo-17.12.2.tar.xz">kigo-17.12.2</a></td>
   <td align="right">4.9MB</td>
   <td><tt>67eea61d0e0654b1e788b9fcf17dae30f6ce406f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/killbots-17.12.2.tar.xz">killbots-17.12.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>122b8bf62ef7003518c8f8376240027a28662986</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kimagemapeditor-17.12.2.tar.xz">kimagemapeditor-17.12.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>9ff13678570d2e0b01b3a0c1c106f3a35cda710b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kimap-17.12.2.tar.xz">kimap-17.12.2</a></td>
   <td align="right">116kB</td>
   <td><tt>b9f7f97d5406c7f200f2fe9b41f187e9cf7ab4b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kio-extras-17.12.2.tar.xz">kio-extras-17.12.2</a></td>
   <td align="right">542kB</td>
   <td><tt>c7b2629a8c857c18d5b1f2dcfbb07a8af7db91f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kiriki-17.12.2.tar.xz">kiriki-17.12.2</a></td>
   <td align="right">318kB</td>
   <td><tt>e0ba3e0632a2f201a793319ba6456dee3ac9c165</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kiten-17.12.2.tar.xz">kiten-17.12.2</a></td>
   <td align="right">11MB</td>
   <td><tt>bb10cd28c87e6738946300ab0f32fbc00f73f28e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kjumpingcube-17.12.2.tar.xz">kjumpingcube-17.12.2</a></td>
   <td align="right">286kB</td>
   <td><tt>fa2669721c1c57a7a85713e9fdd320fb7c6f3b8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kldap-17.12.2.tar.xz">kldap-17.12.2</a></td>
   <td align="right">151kB</td>
   <td><tt>c683ea253e577f9be0508f79a6dae067a9b086bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kleopatra-17.12.2.tar.xz">kleopatra-17.12.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>557f09665fc00184b0b5bf856f2f1550fcbae13d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/klettres-17.12.2.tar.xz">klettres-17.12.2</a></td>
   <td align="right">20MB</td>
   <td><tt>aa155fd8e2a8d0d1f2d08301d3f9f0ad5c42a4c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/klickety-17.12.2.tar.xz">klickety-17.12.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>52361c4017e1afadb658dcfd0cdc8fe36ddaca62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/klines-17.12.2.tar.xz">klines-17.12.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>b8f5860a6f293677c77cfa75abd6827d0d512e78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kmag-17.12.2.tar.xz">kmag-17.12.2</a></td>
   <td align="right">574kB</td>
   <td><tt>208ea22ab1180c09cfec42071ccb00f59043b440</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kmahjongg-17.12.2.tar.xz">kmahjongg-17.12.2</a></td>
   <td align="right">3.8MB</td>
   <td><tt>53321b2648aa013b0464abd989b783c8a7c097e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kmail-17.12.2.tar.xz">kmail-17.12.2</a></td>
   <td align="right">4.5MB</td>
   <td><tt>546cf0c75730851157f1902dadea1ae2baca3466</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kmail-account-wizard-17.12.2.tar.xz">kmail-account-wizard-17.12.2</a></td>
   <td align="right">149kB</td>
   <td><tt>da077458603cbeadee96d09979dc83b54e862ba9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kmailtransport-17.12.2.tar.xz">kmailtransport-17.12.2</a></td>
   <td align="right">161kB</td>
   <td><tt>9dedf1b302282b2d880ea5e33b879f18898041c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kmbox-17.12.2.tar.xz">kmbox-17.12.2</a></td>
   <td align="right">23kB</td>
   <td><tt>9d1681475c00c3f4f076e3bbba1787deae12223b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kmime-17.12.2.tar.xz">kmime-17.12.2</a></td>
   <td align="right">143kB</td>
   <td><tt>4951cd349add960f86ce3cae4c8e997eb8ae932a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kmines-17.12.2.tar.xz">kmines-17.12.2</a></td>
   <td align="right">861kB</td>
   <td><tt>c84384a14fcfb30d471b8b59d5fb4a5f195d30fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kmix-17.12.2.tar.xz">kmix-17.12.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>38a4532620cf0154b3204b9e7d6b517c30128408</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kmousetool-17.12.2.tar.xz">kmousetool-17.12.2</a></td>
   <td align="right">108kB</td>
   <td><tt>43644032ae5a7ab87f1bc4fd646dab05656d3a1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kmouth-17.12.2.tar.xz">kmouth-17.12.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e677597c3ef453ede859d39858e5b3f50a161814</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kmplot-17.12.2.tar.xz">kmplot-17.12.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>9009be9edc159c3cf628acb49278789a17c7972a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/knavalbattle-17.12.2.tar.xz">knavalbattle-17.12.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>fb2eb0b111f81ac30999270586ec76205e0905bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/knetwalk-17.12.2.tar.xz">knetwalk-17.12.2</a></td>
   <td align="right">958kB</td>
   <td><tt>6b83282db5da5a190f5971a58b5127cb7e2d29d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/knotes-17.12.2.tar.xz">knotes-17.12.2</a></td>
   <td align="right">328kB</td>
   <td><tt>a1884a8807bca7cae39e21f531ce8bf88ea3dc17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kolf-17.12.2.tar.xz">kolf-17.12.2</a></td>
   <td align="right">903kB</td>
   <td><tt>5618f69e0733991037e4b5d7f48565b9bd6ea80f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kollision-17.12.2.tar.xz">kollision-17.12.2</a></td>
   <td align="right">265kB</td>
   <td><tt>26e61ed483382237d5c18cd6787237053926c327</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kolourpaint-17.12.2.tar.xz">kolourpaint-17.12.2</a></td>
   <td align="right">5.2MB</td>
   <td><tt>80f16d36d6a34e109bb4d7e9af3cd2775b4a078c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kompare-17.12.2.tar.xz">kompare-17.12.2</a></td>
   <td align="right">695kB</td>
   <td><tt>e0da01b82c558252352d97b078d00fa5093db680</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/konqueror-17.12.2.tar.xz">konqueror-17.12.2</a></td>
   <td align="right">7.3MB</td>
   <td><tt>64cb68426e37529271139937d02c07e9a701ace7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/konquest-17.12.2.tar.xz">konquest-17.12.2</a></td>
   <td align="right">642kB</td>
   <td><tt>c841305bea2e0ba80d5943d09f2b5aae2c7721ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/konsole-17.12.2.tar.xz">konsole-17.12.2</a></td>
   <td align="right">1002kB</td>
   <td><tt>e6f1b8472e2a2f632dfd18d6c9366c4fe7ca47ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kontact-17.12.2.tar.xz">kontact-17.12.2</a></td>
   <td align="right">842kB</td>
   <td><tt>528755d61b0ad6a769df99dfa4d2426abeb427a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kontactinterface-17.12.2.tar.xz">kontactinterface-17.12.2</a></td>
   <td align="right">31kB</td>
   <td><tt>31eff8b9a6906da81b54c0c69b9b31c24bb410f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/korganizer-17.12.2.tar.xz">korganizer-17.12.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>b6b453a32740f7f93e8603f2541956e8ccad6dc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kpat-17.12.2.tar.xz">kpat-17.12.2</a></td>
   <td align="right">3.4MB</td>
   <td><tt>ce61f70f791a225ef72d6753b270eeb89a0f2234</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kpimtextedit-17.12.2.tar.xz">kpimtextedit-17.12.2</a></td>
   <td align="right">138kB</td>
   <td><tt>1586c2324ab6c6984fc467eda210b56a2b961bdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kqtquickcharts-17.12.2.tar.xz">kqtquickcharts-17.12.2</a></td>
   <td align="right">24kB</td>
   <td><tt>e5d656c0da0afdacdc5fcf98ec3083257fbd730c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/krdc-17.12.2.tar.xz">krdc-17.12.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>a4f487908e6623c3cfa49c4d861068a66a103189</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kreversi-17.12.2.tar.xz">kreversi-17.12.2</a></td>
   <td align="right">889kB</td>
   <td><tt>133a2b0708c9fdd37d8487613943d816bdea9e96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/krfb-17.12.2.tar.xz">krfb-17.12.2</a></td>
   <td align="right">972kB</td>
   <td><tt>48354a542f15185e587877f9169d161ca64ea2ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kross-interpreters-17.12.2.tar.xz">kross-interpreters-17.12.2</a></td>
   <td align="right">141kB</td>
   <td><tt>e143ecdd64568734002697a724ca94229b61ab38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kruler-17.12.2.tar.xz">kruler-17.12.2</a></td>
   <td align="right">253kB</td>
   <td><tt>67fd99994c1d1dc59d20fd382f13c52f2d5dba77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kshisen-17.12.2.tar.xz">kshisen-17.12.2</a></td>
   <td align="right">692kB</td>
   <td><tt>03787e939671d2b8057f822fe41b31629bcf09b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/ksirk-17.12.2.tar.xz">ksirk-17.12.2</a></td>
   <td align="right">6.6MB</td>
   <td><tt>a8b0555490191a8f6bc773f536d2ecfc894804e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/ksmtp-17.12.2.tar.xz">ksmtp-17.12.2</a></td>
   <td align="right">37kB</td>
   <td><tt>9fbb0e48647809bc228525d05653d927779fcadb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/ksnakeduel-17.12.2.tar.xz">ksnakeduel-17.12.2</a></td>
   <td align="right">591kB</td>
   <td><tt>deb6a2ab19f32e05271476e3a1f62498c411bbec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kspaceduel-17.12.2.tar.xz">kspaceduel-17.12.2</a></td>
   <td align="right">595kB</td>
   <td><tt>e67f7dfb83ee993be312ada62631ecb7e7f8ebe8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/ksquares-17.12.2.tar.xz">ksquares-17.12.2</a></td>
   <td align="right">210kB</td>
   <td><tt>13659095332e7a3bb6baaf05de7740a65b4f3ac3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/ksudoku-17.12.2.tar.xz">ksudoku-17.12.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>e7c0859607b938a9426ee936729aa7c7f937b387</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/ksystemlog-17.12.2.tar.xz">ksystemlog-17.12.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>924baeeaf9b4b3744d0356884228bb794617d579</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kteatime-17.12.2.tar.xz">kteatime-17.12.2</a></td>
   <td align="right">290kB</td>
   <td><tt>988d9aa33d799810aad45eda274555eb66b59eeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/ktimer-17.12.2.tar.xz">ktimer-17.12.2</a></td>
   <td align="right">441kB</td>
   <td><tt>83c912138689174e3aae1635b9ff2301dd9b6f75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/ktnef-17.12.2.tar.xz">ktnef-17.12.2</a></td>
   <td align="right">292kB</td>
   <td><tt>7cb827a79478c80f8d09ccf36261bc5305c6779f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/ktouch-17.12.2.tar.xz">ktouch-17.12.2</a></td>
   <td align="right">4.8MB</td>
   <td><tt>af2847ac53ac50e31e458144ec861b3f9c63cfea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/ktp-accounts-kcm-17.12.2.tar.xz">ktp-accounts-kcm-17.12.2</a></td>
   <td align="right">256kB</td>
   <td><tt>e32b4ab58fcbbca8eb31e4cc0fe906df7f3681dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/ktp-approver-17.12.2.tar.xz">ktp-approver-17.12.2</a></td>
   <td align="right">36kB</td>
   <td><tt>fe3b59f8a19d79b71c68af57015ae06ecd6503d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/ktp-auth-handler-17.12.2.tar.xz">ktp-auth-handler-17.12.2</a></td>
   <td align="right">45kB</td>
   <td><tt>a1f402dd880abdae80c1ee7e0ed1458ae6acf8b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/ktp-call-ui-17.12.2.tar.xz">ktp-call-ui-17.12.2</a></td>
   <td align="right">94kB</td>
   <td><tt>cf7ec3e363cfa71f3f9dd7058314707507785ea1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/ktp-common-internals-17.12.2.tar.xz">ktp-common-internals-17.12.2</a></td>
   <td align="right">430kB</td>
   <td><tt>35f7c04713f074c9bd6c6566fa96feb3e43896af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/ktp-contact-list-17.12.2.tar.xz">ktp-contact-list-17.12.2</a></td>
   <td align="right">128kB</td>
   <td><tt>ad1c04354eec9784b3372e8d765fdbba4cad6df5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/ktp-contact-runner-17.12.2.tar.xz">ktp-contact-runner-17.12.2</a></td>
   <td align="right">39kB</td>
   <td><tt>0032bc439a408a75708fe4b8505e6e644fd5e5d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/ktp-desktop-applets-17.12.2.tar.xz">ktp-desktop-applets-17.12.2</a></td>
   <td align="right">42kB</td>
   <td><tt>c439bb8c54e254efa374e46a6b4833d301b5a0f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/ktp-filetransfer-handler-17.12.2.tar.xz">ktp-filetransfer-handler-17.12.2</a></td>
   <td align="right">44kB</td>
   <td><tt>d35180b855be66d0892bec8a4be750f6af929841</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/ktp-kded-module-17.12.2.tar.xz">ktp-kded-module-17.12.2</a></td>
   <td align="right">79kB</td>
   <td><tt>e078808a602a1923924c69590817ba0db6b3801c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/ktp-send-file-17.12.2.tar.xz">ktp-send-file-17.12.2</a></td>
   <td align="right">28kB</td>
   <td><tt>a5bb4e67924352213f372eed30fcfb7abad6a84b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/ktp-text-ui-17.12.2.tar.xz">ktp-text-ui-17.12.2</a></td>
   <td align="right">457kB</td>
   <td><tt>3bcae78213a5235ab2894738cbef2fd05346be52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/ktuberling-17.12.2.tar.xz">ktuberling-17.12.2</a></td>
   <td align="right">31MB</td>
   <td><tt>6781c7c83beb0721e5f0606690cc8fd782768559</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kturtle-17.12.2.tar.xz">kturtle-17.12.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>777e23277db462214a31db4af32afab91693ef45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kubrick-17.12.2.tar.xz">kubrick-17.12.2</a></td>
   <td align="right">299kB</td>
   <td><tt>836f1d6121b4be12f2f3e967eeba1aadd64309e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kwalletmanager-17.12.2.tar.xz">kwalletmanager-17.12.2</a></td>
   <td align="right">760kB</td>
   <td><tt>0be9e42f2cae0235963251ceef23c7329143c6d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kwave-17.12.2.tar.xz">kwave-17.12.2</a></td>
   <td align="right">4.5MB</td>
   <td><tt>354c8dda98aea86ba84c52dccdb787de6037ebc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/kwordquiz-17.12.2.tar.xz">kwordquiz-17.12.2</a></td>
   <td align="right">3.9MB</td>
   <td><tt>6ded19015d19540a4c5776e20b9c5a667fdfc66f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/libgravatar-17.12.2.tar.xz">libgravatar-17.12.2</a></td>
   <td align="right">29kB</td>
   <td><tt>c0138697c25c46b585e4460f2746911038efdefc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/libkcddb-17.12.2.tar.xz">libkcddb-17.12.2</a></td>
   <td align="right">414kB</td>
   <td><tt>8fd211bfa3f76aff6f253aa27fe7af05add5d6fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/libkcompactdisc-17.12.2.tar.xz">libkcompactdisc-17.12.2</a></td>
   <td align="right">86kB</td>
   <td><tt>0369c051e46a75f295465d55b0aa17803a3c2ce6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/libkdcraw-17.12.2.tar.xz">libkdcraw-17.12.2</a></td>
   <td align="right">40kB</td>
   <td><tt>07332b8a0a9d561780884d371ce3c85529d9f0eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/libkdegames-17.12.2.tar.xz">libkdegames-17.12.2</a></td>
   <td align="right">5.6MB</td>
   <td><tt>2002fe9a449775ad5e640273f2b5a19d4b1ac72b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/libkdepim-17.12.2.tar.xz">libkdepim-17.12.2</a></td>
   <td align="right">332kB</td>
   <td><tt>acd0e68c26061bf844a9c3cd7c799c4ebfc8aeb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/libkeduvocdocument-17.12.2.tar.xz">libkeduvocdocument-17.12.2</a></td>
   <td align="right">200kB</td>
   <td><tt>ead1283222579538424b92986a4d1a0241fa9b1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/libkexiv2-17.12.2.tar.xz">libkexiv2-17.12.2</a></td>
   <td align="right">62kB</td>
   <td><tt>80267e083da3d7704df229ae1d0c77e317d19f90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/libkgapi-17.12.2.tar.xz">libkgapi-17.12.2</a></td>
   <td align="right">171kB</td>
   <td><tt>4e964414d937867360661f1394befce27f8e3b8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/libkgeomap-17.12.2.tar.xz">libkgeomap-17.12.2</a></td>
   <td align="right">146kB</td>
   <td><tt>04c1f7320800eeaac75b2d94c34f960c7ba64002</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/libkipi-17.12.2.tar.xz">libkipi-17.12.2</a></td>
   <td align="right">101kB</td>
   <td><tt>f279852c452de1359144056572c134095cf6e5ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/libkleo-17.12.2.tar.xz">libkleo-17.12.2</a></td>
   <td align="right">307kB</td>
   <td><tt>a5fdb2c3390c4d92410e09f1b70565e030fda3a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/libkmahjongg-17.12.2.tar.xz">libkmahjongg-17.12.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d35dbc6fc844a4e9d8b2d985dd838cffe5c31a40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/libkomparediff2-17.12.2.tar.xz">libkomparediff2-17.12.2</a></td>
   <td align="right">169kB</td>
   <td><tt>371e9df4e2932239c407ac2f94ce57780c820115</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/libksane-17.12.2.tar.xz">libksane-17.12.2</a></td>
   <td align="right">133kB</td>
   <td><tt>b1bc90f63a8fb13fd7f3015bd2a7651370f978ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/libksieve-17.12.2.tar.xz">libksieve-17.12.2</a></td>
   <td align="right">535kB</td>
   <td><tt>aa0cb045746c1d991b312efac1f77599602cd65a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/lokalize-17.12.2.tar.xz">lokalize-17.12.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>9dfcb7c55e871778d5299ea4f262d286db860e41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/lskat-17.12.2.tar.xz">lskat-17.12.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>9d4f61dc49f43919cdf10f381aca95ac7f2ffe74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/mailcommon-17.12.2.tar.xz">mailcommon-17.12.2</a></td>
   <td align="right">668kB</td>
   <td><tt>96088959f6d97facfe3f0afb8dd8a8bf488ca2b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/mailimporter-17.12.2.tar.xz">mailimporter-17.12.2</a></td>
   <td align="right">528kB</td>
   <td><tt>37680d5a30b76941776ebb9f694f02e5a7cdd78f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/marble-17.12.2.tar.xz">marble-17.12.2</a></td>
   <td align="right">49MB</td>
   <td><tt>ee051d93578862955dd48165acbfd333694c18d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/mbox-importer-17.12.2.tar.xz">mbox-importer-17.12.2</a></td>
   <td align="right">32kB</td>
   <td><tt>466f95ddb610c1474925ac9805a6822317da91f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/messagelib-17.12.2.tar.xz">messagelib-17.12.2</a></td>
   <td align="right">9.9MB</td>
   <td><tt>f74e1908a758c44ea818ffca9e0c7ea393fc1bf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/minuet-17.12.2.tar.xz">minuet-17.12.2</a></td>
   <td align="right">26MB</td>
   <td><tt>77b38042e0cb82f6ad599ccf857d4082bb4de93b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/okteta-17.12.2.tar.xz">okteta-17.12.2</a></td>
   <td align="right">940kB</td>
   <td><tt>f230a3b7c835fd31fa281b7b49c290363f8ea18f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/okular-17.12.2.tar.xz">okular-17.12.2</a></td>
   <td align="right">5.4MB</td>
   <td><tt>119650b820c8d3088f1bfd2bee0e55f276436dda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/palapeli-17.12.2.tar.xz">palapeli-17.12.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>7405fadd52492ca6329c78c68adf60f2a6ab7b97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/parley-17.12.2.tar.xz">parley-17.12.2</a></td>
   <td align="right">8.4MB</td>
   <td><tt>23538b78cf3afff9841431f2178af53a10e5a416</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/picmi-17.12.2.tar.xz">picmi-17.12.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>f30fc2959cbcc0eee925a3368d52f8ccbb62e42e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/pimcommon-17.12.2.tar.xz">pimcommon-17.12.2</a></td>
   <td align="right">281kB</td>
   <td><tt>bd18d30a2d0188e7558e4c9fe9f35a34a6b8b95d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/pim-data-exporter-17.12.2.tar.xz">pim-data-exporter-17.12.2</a></td>
   <td align="right">260kB</td>
   <td><tt>941f8b6de95ec1c512a3c1941d192098f1423b10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/pim-sieve-editor-17.12.2.tar.xz">pim-sieve-editor-17.12.2</a></td>
   <td align="right">434kB</td>
   <td><tt>9dedc18dd99582d9a8464f9ef2768b5d38b98144</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/poxml-17.12.2.tar.xz">poxml-17.12.2</a></td>
   <td align="right">42kB</td>
   <td><tt>7424875b7e3ff497b966d6edbbb340069719a78c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/print-manager-17.12.2.tar.xz">print-manager-17.12.2</a></td>
   <td align="right">231kB</td>
   <td><tt>a3d47cb32fe3207685e6a7c7e825706e7eaaacde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/rocs-17.12.2.tar.xz">rocs-17.12.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>17eeccbf001914113addacb674d8795f86b1c913</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/signon-kwallet-extension-17.12.2.tar.xz">signon-kwallet-extension-17.12.2</a></td>
   <td align="right">10kB</td>
   <td><tt>46554cb69bbe22f4d0d1a5330c14d33e89e04b7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/spectacle-17.12.2.tar.xz">spectacle-17.12.2</a></td>
   <td align="right">747kB</td>
   <td><tt>dc212be6826c74d38a8454172386bd0f7b14622c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/step-17.12.2.tar.xz">step-17.12.2</a></td>
   <td align="right">842kB</td>
   <td><tt>9a15064a2c689eb0584d8488e0241d02217ce680</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/svgpart-17.12.2.tar.xz">svgpart-17.12.2</a></td>
   <td align="right">20kB</td>
   <td><tt>89b9342e56c95d40f01afad4aa50eddd472787b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/sweeper-17.12.2.tar.xz">sweeper-17.12.2</a></td>
   <td align="right">373kB</td>
   <td><tt>fae0657180a890e0154f5a6d9c30d65693e126ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/syndication-17.12.2.tar.xz">syndication-17.12.2</a></td>
   <td align="right">156kB</td>
   <td><tt>31c22ab83349c77ccf9fc69e247eb115a2e7bc55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/umbrello-17.12.2.tar.xz">umbrello-17.12.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>911c4638615ca9593acb5da1a16ec21751cce77e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/17.12.2/src/zeroconf-ioslave-17.12.2.tar.xz">zeroconf-ioslave-17.12.2</a></td>
   <td align="right">37kB</td>
   <td><tt>2e3fded2273093dc52574784ccbacbc1386f2c38</tt></td>
</tr>

</table>
