<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/bluedevil-5.4.3.tar.xz">bluedevil-5.4.3</a></td>
   <td align="right">126kB</td>
   <td><tt>7364cf95850fb30cbf487ab8e01686b82d5c7817fe45046f75bdc654a846f413</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/breeze-5.4.3.tar.xz">breeze-5.4.3</a></td>
   <td align="right">34MB</td>
   <td><tt>fc89d5edcc8c3c13263d1b1759f0f8400ea79c76df0eeafcce91d462d4cf93fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/kde-cli-tools-5.4.3.tar.xz">kde-cli-tools-5.4.3</a></td>
   <td align="right">472kB</td>
   <td><tt>19e1c443e74f4472dd85fe3065fd204bebff0e3358b9f34c82c0e4b5fb74a799</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/kdecoration-5.4.3.tar.xz">kdecoration-5.4.3</a></td>
   <td align="right">32kB</td>
   <td><tt>38056c388568e65976e8579825f863eccf01e730c159c81f674d3d80ebd522d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/kde-gtk-config-5.4.3.tar.xz">kde-gtk-config-5.4.3</a></td>
   <td align="right">141kB</td>
   <td><tt>2839198cfb470095a550cf574beb7a699fe532f77337d0a700afdccf2bdbee2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/kdeplasma-addons-5.4.3.tar.xz">kdeplasma-addons-5.4.3</a></td>
   <td align="right">1.9MB</td>
   <td><tt>b7672cfea66f08d1fb8732157caf920788b3c5ace20cbe98e662a60a69e6d873</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/kgamma5-5.4.3.tar.xz">kgamma5-5.4.3</a></td>
   <td align="right">58kB</td>
   <td><tt>f9a143b29d862097d11ab497b8e672c9d27874e2ed92b971e4a3228e0098cb50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/khelpcenter-5.4.3.tar.xz">khelpcenter-5.4.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>02630934f3fa5c03d384808ef2daef38a49db836fb64d384a95e54865545c64d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/khotkeys-5.4.3.tar.xz">khotkeys-5.4.3</a></td>
   <td align="right">592kB</td>
   <td><tt>495c9ef896a550f076266099ad396f8bf4ee32b94575166acc0329696bd69624</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/kinfocenter-5.4.3.tar.xz">kinfocenter-5.4.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>475bf963a3b0bc5c6c267889ad96f2bf8666f051e3dbeb47b21e3ab4630bdeec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/kmenuedit-5.4.3.tar.xz">kmenuedit-5.4.3</a></td>
   <td align="right">431kB</td>
   <td><tt>36ad27922d8a21a80646d4a9bfa2b93ebc6b1cad6da6dd67799200dec1dbfc7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/kscreen-5.4.3.tar.xz">kscreen-5.4.3</a></td>
   <td align="right">98kB</td>
   <td><tt>b95ba33840e950f2c71a601f6623a9acedce5f3b58e5e1eed395eee230266a05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/ksshaskpass-5.4.3.tar.xz">ksshaskpass-5.4.3</a></td>
   <td align="right">19kB</td>
   <td><tt>7eb6025e58e8cd57cab640ab42ff9670ae113317534001be94916610135127a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/ksysguard-5.4.3.tar.xz">ksysguard-5.4.3</a></td>
   <td align="right">469kB</td>
   <td><tt>935633f75ad167cbdccfee453be9b65d12015db426576d434fd47fd797daebd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/kwallet-pam-5.4.3.tar.xz">kwallet-pam-5.4.3</a></td>
   <td align="right">15kB</td>
   <td><tt>a15c1fe1f8b9dc3be2600b93876bbb15cb28cf65a935c066065c516518fabe54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/kwayland-5.4.3.tar.xz">kwayland-5.4.3</a></td>
   <td align="right">108kB</td>
   <td><tt>8085ef636c91c83c03eddaac0de7d8e7f56f08884ea8aa72fb63b9b93d7fd208</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/kwayland-integration-5.4.3.tar.xz">kwayland-integration-5.4.3</a></td>
   <td align="right">13kB</td>
   <td><tt>17d76337e10c268823be94bb9c7b1254ea435492e9325641e34f847a76b64c81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/kwin-5.4.3.tar.xz">kwin-5.4.3</a></td>
   <td align="right">3.6MB</td>
   <td><tt>ab4842735dbee91e93f0d0dadb39df4aed234346010caeb3c2fcc230562ac366</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/kwrited-5.4.3.tar.xz">kwrited-5.4.3</a></td>
   <td align="right">19kB</td>
   <td><tt>d3835c5f17c3209feb9d0abee0d179cdd78881c7c0d1b3fcc05a7ff3f5863647</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/libkscreen-5.4.3.tar.xz">libkscreen-5.4.3</a></td>
   <td align="right">70kB</td>
   <td><tt>1d2b17c4e10edc4bd7ce0f220f2b68eb3522c76c2708b0ddc0c2f6bda7794975</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/libksysguard-5.4.3.tar.xz">libksysguard-5.4.3</a></td>
   <td align="right">548kB</td>
   <td><tt>d1d858b60d83ab6acce176647a35dde98cac483f02ebdce3ca7cfd25e46cd6a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/milou-5.4.3.tar.xz">milou-5.4.3</a></td>
   <td align="right">50kB</td>
   <td><tt>e1487fc818435c25830962e0cab9b78938de4d48c332583ace87681e6080c677</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/muon-5.4.3.tar.xz">muon-5.4.3</a></td>
   <td align="right">998kB</td>
   <td><tt>3477f26d06aa82ea6eebb09154b20905c5b9895bb3b2d3ca55b003ea95193404</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/oxygen-5.4.3.tar.xz">oxygen-5.4.3</a></td>
   <td align="right">4.2MB</td>
   <td><tt>0510483df7c55afde204c1927bea3ea1f2135761d0615c44f204e127743166ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/oxygen-fonts-5.4.3.tar.xz">oxygen-fonts-5.4.3</a></td>
   <td align="right">157kB</td>
   <td><tt>a02f6580e9a53cb16694a99adbb6dbf76f17584f3e97f469a22286299507838c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/plasma-desktop-5.4.3.tar.xz">plasma-desktop-5.4.3</a></td>
   <td align="right">5.9MB</td>
   <td><tt>2499741ae87166cdd5c2056dcc6a91aed6e65b9778f2c087169f6d666e44c043</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/plasma-mediacenter-5.4.3.tar.xz">plasma-mediacenter-5.4.3</a></td>
   <td align="right">155kB</td>
   <td><tt>6a13e0cab0f6699d45e75b77556fb5a8fd87c6e42803613863c9e1ee4782054d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/plasma-nm-5.4.3.tar.xz">plasma-nm-5.4.3</a></td>
   <td align="right">537kB</td>
   <td><tt>b9500cbd386868da566af58c6ae4b55b2a7ec95d3df3bd2258467c7d2cfc90f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/plasma-pa-5.4.3.tar.xz">plasma-pa-5.4.3</a></td>
   <td align="right">43kB</td>
   <td><tt>2677af6636e84bfe8256fb23bbc00c0a0dbbeabeed15006604d0667ef75ecd9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/plasma-sdk-5.4.3.tar.xz">plasma-sdk-5.4.3</a></td>
   <td align="right">630kB</td>
   <td><tt>68b5f4acf8614a097a45a39b9a589e3a6c2fe13fc1801e7d612e1233c00ba321</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/plasma-workspace-5.4.3.tar.xz">plasma-workspace-5.4.3</a></td>
   <td align="right">8.2MB</td>
   <td><tt>bfe459234e1bcd8ed5c3a64524061330e92e38ec693099d5007048a483c71d0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/plasma-workspace-wallpapers-5.4.3.1.tar.xz">plasma-workspace-wallpapers-5.4.3.1</a></td>
   <td align="right">48MB</td>
   <td><tt>c2ef8e059840bd10c61d384f1f8f1806a37aceb0806a4194cc3586a7269da741</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/polkit-kde-agent-1-5.4.3.tar.xz">polkit-kde-agent-1-5.4.3</a></td>
   <td align="right">38kB</td>
   <td><tt>d6a782f95916d2e82bd6de94e5f54f36102d2cf3fca91984d914bb9e5be5098c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/powerdevil-5.4.3.tar.xz">powerdevil-5.4.3</a></td>
   <td align="right">338kB</td>
   <td><tt>4085e4c3c7429c72502a0b4e204753e5087df88bbac5ac1f531806a2d8eb40c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/sddm-kcm-5.4.3.tar.xz">sddm-kcm-5.4.3</a></td>
   <td align="right">46kB</td>
   <td><tt>d32cf16e254f216f3477460229d5500fd63944630d073c4eec5cde400af5f9de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/systemsettings-5.4.3.tar.xz">systemsettings-5.4.3</a></td>
   <td align="right">153kB</td>
   <td><tt>6b8716d12eda9f27a4c26a96ea8d034d3bfff501e93ddc4e4057d3ee7229e412</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.3/user-manager-5.4.3.tar.xz">user-manager-5.4.3</a></td>
   <td align="right">54kB</td>
   <td><tt>4831b9c82b826ba5fd1f392a40f2ebc15fd04e4ee02c9d1d205a3e877081ce6e</tt></td>
</tr>

</table>
