<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/bluedevil-5.5.0.tar.xz">bluedevil-5.5.0</a></td>
   <td align="right">129kB</td>
   <td><tt>f3e154a95845fd7cc78903808a4fdc7c4ab7a29267824654cd948a58af351140</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/breeze-5.5.0.tar.xz">breeze-5.5.0</a></td>
   <td align="right">28MB</td>
   <td><tt>77a8d5732437ccb1cec08aa1c89ab409e75aa8cd55940e49cc6ab45d72445c49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/breeze-gtk-5.5.0.tar.xz">breeze-gtk-5.5.0</a></td>
   <td align="right">251kB</td>
   <td><tt>96d80eea894d95b7360f4ccf9385a7d5c65340b4aad50fbfeb670a01025a5212</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/discover-5.5.0.tar.xz">discover-5.5.0</a></td>
   <td align="right">820kB</td>
   <td><tt>c4a19246a252b2faa4c8f1ac7436c31ceebbba71eb35d445ac784692e76bfd59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/kde-cli-tools-5.5.0.tar.xz">kde-cli-tools-5.5.0</a></td>
   <td align="right">474kB</td>
   <td><tt>9b4fadc2d7d2526f30ce22fcbcf375aefd7793aa8d53609e5ecedfc043878550</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/kdecoration-5.5.0.tar.xz">kdecoration-5.5.0</a></td>
   <td align="right">33kB</td>
   <td><tt>2a276c1423b20afb5e0d785b4208b0c0b7d3bced29d6570b39b3c5dc86b4bcf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/kde-gtk-config-5.5.0.tar.xz">kde-gtk-config-5.5.0</a></td>
   <td align="right">142kB</td>
   <td><tt>6a8454c6275668c871d6e52fa5367d1dcdb84ace5804e164b15990bd4e6e26ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/kdeplasma-addons-5.5.0.tar.xz">kdeplasma-addons-5.5.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>3fd3fdbfb8b11a4552f1d9607234e6c54a3a88120875717f158d88b7ee497cf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/kgamma5-5.5.0.tar.xz">kgamma5-5.5.0</a></td>
   <td align="right">58kB</td>
   <td><tt>0e2947636a4a8e1e4bb9b5f38eb557b62e6482b2ccb51c72027f88dc4005ccc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/khelpcenter-5.5.0.tar.xz">khelpcenter-5.5.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>0930f4a75e7f49bd0cd39db0dbfc62f0e05571ff5023d6677546494388d23c5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/khotkeys-5.5.0.tar.xz">khotkeys-5.5.0</a></td>
   <td align="right">589kB</td>
   <td><tt>146a1c5ed5052a3ebff4da84f27eabf17667f5a71cb816d12ca6b21cea87eea4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/kinfocenter-5.5.0.tar.xz">kinfocenter-5.5.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>7e2b4446afc53985a21f5b387692a395bf1a17f42fa75e9e77c002f138a229f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/kmenuedit-5.5.0.tar.xz">kmenuedit-5.5.0</a></td>
   <td align="right">431kB</td>
   <td><tt>96fc1411e0db3abacc585d8a9713969f042f35a996ede575fdc4f07ba17671c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/kscreen-5.5.0.tar.xz">kscreen-5.5.0</a></td>
   <td align="right">100kB</td>
   <td><tt>a6b3074461435b1303b669d6355c1c1a82cff4e15194b3b0dbc5fcb468baf657</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/kscreenlocker-5.5.0.tar.xz">kscreenlocker-5.5.0</a></td>
   <td align="right">95kB</td>
   <td><tt>c90ec7a1ec3b27c557df134a25b358c6a56cb155878bbb0870e912cca61fddd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/ksshaskpass-5.5.0.tar.xz">ksshaskpass-5.5.0</a></td>
   <td align="right">19kB</td>
   <td><tt>10c2c4bbfdab8eb340e1a59f9378178b2c76493f512a7ff7dfceeafd3643a88a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/ksysguard-5.5.0.tar.xz">ksysguard-5.5.0</a></td>
   <td align="right">470kB</td>
   <td><tt>7b8d1e0d76ac90ff08c31cdff2ffed0235588d65baa052e840d55bc6fc0052dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/kwallet-pam-5.5.0.tar.xz">kwallet-pam-5.5.0</a></td>
   <td align="right">15kB</td>
   <td><tt>0f98472e727cced732c51d3b76505adf941ac5fd5827ba66545e44006af69e20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/kwayland-5.5.0.tar.xz">kwayland-5.5.0</a></td>
   <td align="right">155kB</td>
   <td><tt>494364792100213be6d58d41497fbb20a4eaf9505e0a56dfe0d2a487671faab7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/kwayland-integration-5.5.0.tar.xz">kwayland-integration-5.5.0</a></td>
   <td align="right">16kB</td>
   <td><tt>c4c209670b7994724a67ab79cf41d44c2e12b49c3a36600de85c7f9b90c75374</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/kwin-5.5.0.tar.xz">kwin-5.5.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>34b02f5a1ef50390ed90f550e4d15ed806279072a34e7ded2475f32027a8f338</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/kwrited-5.5.0.tar.xz">kwrited-5.5.0</a></td>
   <td align="right">19kB</td>
   <td><tt>484b534875ea88637f3b2b6cfad894667a5688eb2c5f7b48728e8dd6419d1fb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/libkscreen-5.5.0.tar.xz">libkscreen-5.5.0</a></td>
   <td align="right">70kB</td>
   <td><tt>83f75c47336bf12815960010fb3e44238ef2af3ba76b72ff07a67f8599740370</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/libksysguard-5.5.0.tar.xz">libksysguard-5.5.0</a></td>
   <td align="right">554kB</td>
   <td><tt>2826e8c2f68a8c28a9100d566ac2aa5eb5b00ece664e1b35711271cb938356dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/milou-5.5.0.tar.xz">milou-5.5.0</a></td>
   <td align="right">50kB</td>
   <td><tt>d53d33b8baf343a4f4d8ac36f01ed720ac62af620eb53c8f6c262169dc720576</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/oxygen-5.5.0.tar.xz">oxygen-5.5.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>fdc44fb86111ca9315d9f286ec2a283ea3376836add7126f7ee0a45696a8808a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/plasma-desktop-5.5.0.tar.xz">plasma-desktop-5.5.0</a></td>
   <td align="right">6.0MB</td>
   <td><tt>846fc39cf73cc94344f1ba68a3640e586c513879820787aa06f5c528892453c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/plasma-mediacenter-5.5.0.tar.xz">plasma-mediacenter-5.5.0</a></td>
   <td align="right">156kB</td>
   <td><tt>a2e01a6f1117848959d609e97225689764e7f38d3a0365b8e57bb85c875e5982</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/plasma-nm-5.5.0.tar.xz">plasma-nm-5.5.0</a></td>
   <td align="right">591kB</td>
   <td><tt>a4391942d81dcb1a752ef5e7ec6e84b97c6af598dc2e6c9ad02f3c7464ae9fb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/plasma-pa-5.5.0.tar.xz">plasma-pa-5.5.0</a></td>
   <td align="right">50kB</td>
   <td><tt>7522ff37433891ba1f999a8e9aedd4362d90f6fdfe514f3fe7bbd96e9cd5207a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/plasma-sdk-5.5.0.tar.xz">plasma-sdk-5.5.0</a></td>
   <td align="right">647kB</td>
   <td><tt>9b14ac59f8a387d4bc33605996c94d54b0d10aed26318180bf48e1f58bb2d4a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/plasma-workspace-5.5.0.tar.xz">plasma-workspace-5.5.0</a></td>
   <td align="right">7.0MB</td>
   <td><tt>2338e8b35651c5caf4fe28c99e37e89d56538f8b7c80a367e26af808f4007f04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/plasma-workspace-wallpapers-5.5.0.tar.xz">plasma-workspace-wallpapers-5.5.0</a></td>
   <td align="right">43MB</td>
   <td><tt>bf11efae144e3e00623b565aedd5f48e24aba29ec03466d4f5b561e4ff214563</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/polkit-kde-agent-1-5.5.0.tar.xz">polkit-kde-agent-1-5.5.0</a></td>
   <td align="right">38kB</td>
   <td><tt>2c386293d23bd7b6e5f11bfbd2654ebc11c223d2e7f24aae0e5910e9bf401b2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/powerdevil-5.5.0.tar.xz">powerdevil-5.5.0</a></td>
   <td align="right">337kB</td>
   <td><tt>8ef0f17ca326b839c60cbb59d71b9c8cb94d9c040e94a620291477053ff3ea0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/sddm-kcm-5.5.0.tar.xz">sddm-kcm-5.5.0</a></td>
   <td align="right">46kB</td>
   <td><tt>605ae336798642dc267cf09d4ea96bfe9e7630fde6d8821f0ff2f7353e897df3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/systemsettings-5.5.0.tar.xz">systemsettings-5.5.0</a></td>
   <td align="right">153kB</td>
   <td><tt>21776796c35c7fea2ee899f4b7c81ff1d903eae04a23813da4e29220f047f8ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.0/user-manager-5.5.0.tar.xz">user-manager-5.5.0</a></td>
   <td align="right">55kB</td>
   <td><tt>491cbd4d9d611a101b808226269a503c11093101eb939f04d211e1eb784e6423</tt></td>
</tr>

</table>
