<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">MD5&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.1/src/kdeaccessibility-4.0.1.tar.bz2">kdeaccessibility-4.0.1</a></td><td align="right">6.1MB</td><td><tt>f17a01817f34e148bf91c36e72cb23cf</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.1/src/kdeadmin-4.0.1.tar.bz2">kdeadmin-4.0.1</a></td><td align="right">1.3MB</td><td><tt>615d85577b84a3304ef12582af19b730</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.1/src/kdeartwork-4.0.1.tar.bz2">kdeartwork-4.0.1</a></td><td align="right">41MB</td><td><tt>0e547094f12e8d7748f12ad0be54b0f2</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.1/src/kdebase-4.0.1.tar.bz2">kdebase-4.0.1</a></td><td align="right">3.9MB</td><td><tt>49738827423bc900cdd0324d79e5c103</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.1/src/kdebase-runtime-4.0.1.tar.bz2">kdebase-runtime-4.0.1</a></td><td align="right">47MB</td><td><tt>f6dbc7f6580d971ce2748c2773999a6a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.1/src/kdebase-workspace-4.0.1.tar.bz2">kdebase-workspace-4.0.1</a></td><td align="right">29MB</td><td><tt>4e445ec738a0586ea9f4f1ce5e379ae2</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.1/src/kdebindings-4.0.1.tar.bz2">kdebindings-4.0.1</a></td><td align="right">3.8MB</td><td><tt>56ba0d9e479db266c164a6e545b4d902</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.1/src/kdeedu-4.0.1.tar.bz2">kdeedu-4.0.1</a></td><td align="right">41MB</td><td><tt>6961ecdec69d86c98257a56f6e3b8cf4</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.1/src/kdegames-4.0.1.tar.bz2">kdegames-4.0.1</a></td><td align="right">23MB</td><td><tt>e34f7e95849b47a8d18f90f4b803fb2e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.1/src/kdegraphics-4.0.1.tar.bz2">kdegraphics-4.0.1</a></td><td align="right">2.3MB</td><td><tt>6e44a9992767fddb6e12d3897e03abf5</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.1/src/kdelibs-4.0.1.tar.bz2">kdelibs-4.0.1</a></td><td align="right">8.7MB</td><td><tt>4a756aa3cc8926efba2ee0b8a5e078dd</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.1/src/kdemultimedia-4.0.1.tar.bz2">kdemultimedia-4.0.1</a></td><td align="right">1.1MB</td><td><tt>9a971407f105fd6ab54a04467940c8a7</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.1/src/kdenetwork-4.0.1.tar.bz2">kdenetwork-4.0.1</a></td><td align="right">6.1MB</td><td><tt>31373399054fd3316c3830d606ea2cdc</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.1/src/kdepimlibs-4.0.1.tar.bz2">kdepimlibs-4.0.1</a></td><td align="right">1.7MB</td><td><tt>537b2034b48bc0c7b732f9fcf2b3397f</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.1/src/kdesdk-4.0.1.tar.bz2">kdesdk-4.0.1</a></td><td align="right">4.1MB</td><td><tt>1b256701c1a3a09a157ee8be3b67178e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.1/src/kdetoys-4.0.1.tar.bz2">kdetoys-4.0.1</a></td><td align="right">2.2MB</td><td><tt>35bfee72ff553a005ea3b1329ec0f5b8</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.1/src/kdeutils-4.0.1.tar.bz2">kdeutils-4.0.1</a></td><td align="right">2.3MB</td><td><tt>96e910163adab41bcc0ff9af93830085</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.0.1/src/kdewebdev-4.0.1.tar.bz2">kdewebdev-4.0.1</a></td><td align="right">1.2MB</td><td><tt>06cfe5c6a0b60c305fb376d14c0c2f31</tt></td></tr>
</table>
