<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">SHA1&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.4/src/kdeaccessibility-4.2.4.tar.bz2">kdeaccessibility-4.2.4</a></td><td align="right">6.3MB</td><td><tt>fcf11ffaba2132ae83f767f357376c201b3e7c0a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.4/src/kdeadmin-4.2.4.tar.bz2">kdeadmin-4.2.4</a></td><td align="right">1.9MB</td><td><tt>72a9bfeaacf6bf70f464923f96b28891ad6b671e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.4/src/kdeartwork-4.2.4.tar.bz2">kdeartwork-4.2.4</a></td><td align="right">22MB</td><td><tt>601fa04bc6fb9bdd5dfa094af04ad204bcc20b14</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.4/src/kdebase-4.2.4.tar.bz2">kdebase-4.2.4</a></td><td align="right">4.1MB</td><td><tt>c08188baa90a5075f18a75640c4dc3e6dc69daa0</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.4/src/kdebase-runtime-4.2.4.tar.bz2">kdebase-runtime-4.2.4</a></td><td align="right">67MB</td><td><tt>dd829270b5fb21e4c24db5e7d16db6e99fe51c1d</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.4/src/kdebase-workspace-4.2.4.tar.bz2">kdebase-workspace-4.2.4</a></td><td align="right">49MB</td><td><tt>31f38436736ff73b6ffb9d8bbb93b8342965e894</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.4/src/kdebindings-4.2.4.tar.bz2">kdebindings-4.2.4</a></td><td align="right">4.6MB</td><td><tt>5550b690d1c63fc63b3603ad73ba2b911158fe96</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.4/src/kdeedu-4.2.4.tar.bz2">kdeedu-4.2.4</a></td><td align="right">57MB</td><td><tt>7b26b946e1981ac57efdd2059eb3bba2808aef4b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.4/src/kdegames-4.2.4.tar.bz2">kdegames-4.2.4</a></td><td align="right">37MB</td><td><tt>c940d73616734fabdfcd0c5961459ba168494b16</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.4/src/kdegraphics-4.2.4.tar.bz2">kdegraphics-4.2.4</a></td><td align="right">3.5MB</td><td><tt>032352e87be16ae90f09183a466e61487ef1e738</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.4/src/kdelibs-4.2.4.tar.bz2">kdelibs-4.2.4</a></td><td align="right">9.6MB</td><td><tt>259947ede89daec94475a811a41ae7474bc4fd17</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.4/src/kdemultimedia-4.2.4.tar.bz2">kdemultimedia-4.2.4</a></td><td align="right">1.5MB</td><td><tt>ab1f9e38ab38d502aa771a70137ded811f40ad1c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.4/src/kdenetwork-4.2.4.tar.bz2">kdenetwork-4.2.4</a></td><td align="right">6.8MB</td><td><tt>31f3f1c44690339ce523c309a3d2c131563d9f97</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.4/src/kdepim-4.2.4.tar.bz2">kdepim-4.2.4</a></td><td align="right">12MB</td><td><tt>d2328af104edf6471e3474ccea39710e0e1babc9</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.4/src/kdepimlibs-4.2.4.tar.bz2">kdepimlibs-4.2.4</a></td><td align="right">1.6MB</td><td><tt>1deb9298fe935ed1a53fad8e2a060fdc1c3e4ad8</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.4/src/kdeplasma-addons-4.2.4.tar.bz2">kdeplasma-addons-4.2.4</a></td><td align="right">4.1MB</td><td><tt>500d05cc6eeb218b8615b1a49e69e3b9e88f3997</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.4/src/kdesdk-4.2.4.tar.bz2">kdesdk-4.2.4</a></td><td align="right">5.3MB</td><td><tt>ad5a00f5ee4ae0f627b971b7413edb0550e92db1</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.4/src/kdetoys-4.2.4.tar.bz2">kdetoys-4.2.4</a></td><td align="right">1.3MB</td><td><tt>3f05154f85d0a01ceb97854e31adff03a7b5fdda</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.4/src/kdeutils-4.2.4.tar.bz2">kdeutils-4.2.4</a></td><td align="right">2.3MB</td><td><tt>59bb17463bec48c77768e50fb0e9ec3c1b0827af</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.2.4/src/kdewebdev-4.2.4.tar.bz2">kdewebdev-4.2.4</a></td><td align="right">2.5MB</td><td><tt>9e3667c994793232177a70ff0b6fb2caa252757f</tt></td></tr>
</table>
