{{ define "main" }}
  <main class="container" role="main">
    <h1>{{ .Title }}</h1>

    {{ with .Content }}
      {{.}}
    {{ end }}

    {{ if not .Params.nosubpage }}
    <div class="posts-list">
      {{ range where .Paginator.Pages "Params.hidden" "ne" "true" }}
        <article class="mb-3">
          <a href="{{ .Permalink }}">
            <h2 class="post-title">{{ .Title }}</h2>
            {{ if .Params.subtitle }}
            <h3 class="post-subtitle">{{ .Params.subtitle }}</h3>
            {{ end }}
          </a>

          <div class="post-entry">
            {{ .Summary }}
            <br />
            <a href="{{ .Permalink }}" class="button learn-more">Learn more</a>
          </div>
        </article>
      {{ end }}
    </div>

    {{ template "_internal/pagination.html" . }}
    {{ end }}
  </main>
{{ end }}
