{{ define "main" }}
<main class="container" role="main">
  <h1>{{ .Title }}</h1>

  {{ .Content }}

  {{ with .Params.include_html }}
  <div id="wrapper"></div>
  <script>
    window.addEventListener("load", function() {
      $.ajax({
        url: "/{{ . }}",
        type:'GET',
        success: function(data){
          $('#wrapper').html($(data).html());
        }
      });
    });
  </script>
  {{ end }}
</main>
{{ end }}
