{{ define "main" }}
<main class="container">
  {{ partial "breadcrumb.html" . }}

  <h1>{{ .Title | safeHTML }}</h1>

  {{ .Content }}

  {{ if .Params.changelog }}
  {{ i18n "full-changelog" .Params | markdownify }}
  {{ end }}

  <h2>{{ i18n "spread-the-word" }}</h2>
  <p>{{ i18n "non-technical-success" | markdownify }}</p>
  <p>{{ i18n "spread-social" }}</p>

  <h2>{{ i18n "install-applications" }}</h2>
  <h3>{{ i18n "packaes" }}</h3>
  <p>{{ i18n "packages-desc" }}</p>
  <h3>{{ i18n "package-location" }}</h3>
  <p>{{ i18n "package-location-desc" | markdownify  }}</p>

  {{ if .Params.version }}
  <h2>{{ i18n "compile-app" }}</h2>
  <p>{{ i18n "compile-app-desc" .Params | markdownify }}</h2>
  {{ end }}

  <p align="justify">
    <font size="2">
      <em>{{ i18n "trademark-notices" }}</em><br/> <br/>
      {{ i18n "kde-trademark" | safeHTML }} <br/>
      {{ i18n "linux-trademark" | html }} {{ i18n "unix-trademark" }}<br/>
      {{ i18n "other-trademarks" }}
    </font>
  </p>
  <hr />

  <h4>{{ i18n "press-contacts" }}</h4>

  <p>
    {{ i18n "info-email" }} <a href="mailto:press@kde.org">press@kde.org</a>
  </p>
</main>
{{ end }}
