{{ define "main" }}
<div class="container mb-4" role="main">
  <h1>{{ .Title }}</h1>

  <div class="posts-list">
    {{ range (.Paginate ( where .RegularPagesRecursive "Params.hidden" "ne" "true") 10).Pages }}
    <article class="post-preview">
      <a href="{{ .Permalink }}">
        <h2 class="post-title">{{ partial "i18n_title.html" . }}</h2>
        {{ if .Params.subtitle }}
        <h3 class="post-subtitle">{{ .Params.subtitle }}</h3>
        {{ end }}
      </a>
      {{ if .Date }}
      <small>{{ partial "i18n_date.html" . }}</small>
      {{ end }}

      <div class="post-entry mt-3">
        {{ $description := partial "i18n_description.html" . }}
        {{ if $description }}
          {{ $description }}
        {{ else }}
          {{ .Summary }}
        {{ end }}
        {{ if .Truncated }}
          <br />
          <a href="{{ .Permalink }}" class="button learn-more mt-3">{{ i18n "learn-more" }}</a>
        {{ end }}
      </div>
    </article>
    {{ end }}
  </div>

  {{ template "_internal/pagination.html" . }}
</div>
{{ end }}
