{{ define "main" }}
<main class="container">
  {{ partial "breadcrumb.html" . }}

  <h1>{{ partial "i18n_title.html" . }}</h1>

  {{ .Content }}

  {{ $major := path.Base .File.Dir }}
  {{ with .Params.changelog }}
  <a href="/announcements/changelogs/plasma/{{$major}}/{{ . }}">{{ i18n "view-changelog" }}</a>
  {{ end }}

  {{ partial "announcements/plasma-footer.html" . }}
</main>
{{ end }}
